In [1]:
from datetime import datetime, timedelta
from time import time
import pysdql

data_path = 'T:/UG4-Proj/datasets/100M'
sdql_database_path = r'T:/sdql'

tpch_query_start = time()

# TPCH - 1 ✅

### SQL - 1

```
select
	l_returnflag,
	l_linestatus,
	sum(l_quantity) as sum_qty,
	sum(l_extendedprice) as sum_base_price,
	sum(l_extendedprice * (1 - l_discount)) as sum_disc_price,
	sum(l_extendedprice * (1 - l_discount) * (1 + l_tax)) as sum_charge,
	avg(l_quantity) as avg_qty,
	avg(l_extendedprice) as avg_price,
	avg(l_discount) as avg_disc,
	count(*) as count_order
from
	lineitem
where
	l_shipdate <= date '1998-12-01' - interval ':1' day
group by
	l_returnflag,
	l_linestatus
```

### pysdql - 1

In [2]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

days = 76
var1 = str((datetime.strptime('1998-12-01', "%Y-%m-%d") - timedelta(days=days)).strftime("%Y-%m-%d"))

lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)

r = lineitem[lineitem['l_shipdate'] <= var1]

r['disc_price'] = r['l_extendedprice'] * (1 - r['l_discount'])
r['charge'] = r['l_extendedprice'] * (1 - r['l_discount']) * (1 + r['l_tax'])

r = r.groupby(['l_returnflag', 'l_linestatus'], as_index=False) \
    .agg(sum_qty=('l_quantity', 'sum'),
         sum_base_price=('l_extendedprice', 'sum'),
         sum_disc_price=('disc_price', 'sum'),
         sum_charge=('charge', 'sum'),
         avg_qty=('l_quantity', 'mean'),
         avg_price=('l_extendedprice', 'mean'),
         avg_disc=('l_discount', 'mean'),
         count_order=('l_quantity', 'count'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-1').run(r).export().to()

let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/lineitem.tbl")
let lmp = sum (<lin_k, lin_v> in lineitem) if ((lin_k.l_shipdate <= date(19980916))) then { lin_k -> 1 } else {  }
let tmp = sum (<l_k, l_v> in lmp) { concat(l_k, < disc_price=(l_k.l_extendedprice * (1 - l_k.l_discount)) >) -> 1 }
let tmpa = sum (<t_k, t_v> in tmp) { concat(t_k, < charge=((t_k.l_extendedprice * (1 - t_k.l_discount)) * (1 + t_k.l_tax)) >) -> 1 }
let tmpc = sum (<ta_k, ta_v> in tmpa) { < l_returnflag=ta_k.l_returnflag, l_linestatus=ta_k.l_linestatus > -> < sum_qty=promote[nullable[real]](ta_k.l_quantity * ta_v), sum_base_price=promote[nullable[real]](ta_k.l_extendedprice * ta_v), sum_disc_price=promote[nullable[real]](ta_k.disc_price * ta_v), sum_charge=promote[nullable[real]](ta_k.charge * ta_v), avg_qty_sum=ta_k.l_quantity * ta_v, avg_qty_count=ta_v, avg_price_sum=ta_k.l_extendedprice * ta_v, avg_price_count=ta_v, avg_disc_sum=ta_k.l_discount * ta_v, avg_disc_count=ta_v, count_order=ta_v > }
let agg_tmpa = sum (<tc_k, tc_v> in tmpc) { < l_returnflag=tc_k.l_returnflag, l_linestatus=tc_k.l_linestatus, sum_qty=promote[real](tc_v.sum_qty), sum_base_price=promote[real](tc_v.sum_base_price), sum_disc_price=promote[real](tc_v.sum_disc_price), sum_charge=promote[real](tc_v.sum_charge), avg_qty=(tc_v.avg_qty_sum / tc_v.avg_qty_count), avg_price=(tc_v.avg_price_sum / tc_v.avg_price_count), avg_disc=(tc_v.avg_disc_sum / tc_v.avg_disc_count), count_order=tc_v.count_order > -> 1 }
agg_tmpa

[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<l_returnflag = R, l_linestatus = F, sum_qty = 3785523, sum_base_price = 5.337950526469983E9, sum_disc_price = 5.071818532941933E9, sum_charge = 5.2744055030492935E9, avg_qty = 25.5259438574251, avg_price = 35994.02921403081, avg_disc = 0.04998927856189748, count_order = 148301> -> 1, <l_returnflag = N, l_linestatus = F, sum_qty = 95257, sum_base_price = 1.3373779584000027E8, sum_disc_price = 1.2713237265119985E8, sum_charge = 1.3228629122944462E8, avg_qty = 25.300664010624168, avg_price = 35521.326916334736, avg_disc = 0.049394422310757365, count_order = 3765> -> 1, <l_returnflag = N, l_linestatus = O, sum_qty = 7521769, sum_base_price = 1.0600382119330065E10, sum_disc_price = 1.0069917131053146E10, sum_charge = 1.0472666504790224E10, avg_qty = 25.544541308238554, avg_price = 35999.76267954256, avg_disc = 0.05009974291669857, count_order = 294457> -> 1, <l_returnflag = A, l_linestatus = F, sum_qty = 3774200, sum_base_price = 5.320753880690052E9, sum_disc_price = 5.054096266682856E9, sum_charge = 5.256751331449198E9, avg_qty = 25.537587116854997, avg_price = 36002.12382901449, avg_disc = 0.05014459706345502, count_order = 147790> -> 1}
[success] Total time: 20 s, completed 2022年7月31日 上午7:10:12
========================================================
pysdql execution time: 35.17260718345642
export sdql script "tpch-1.sdql" to "T:/UG4-Proj/output/tpch-1.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-1.sdql

{<l_returnflag = R, l_linestatus = F, sum_qty = 3785523, sum_base_price = 5.337950526469983E9, sum_disc_price = 5.071818532941933E9, sum_charge = 5.2744055030492935E9, avg_qty = 25.5259438574251, avg_price = 35994.02921403081, avg_disc = 0.04998927856189748, count_order = 148301> -> 1, <l_returnflag = N, l_linestatus = F, sum_qty = 95257, sum_base_price = 1.3373779584000027E8, sum_disc_price = 1.2713237265119985E8, sum_charge = 1.3228629122944462E8, avg_qty = 25.300664010624168, avg_price = 35521.326916334736, avg_disc = 0.049394422310757365, count_order = 3765> -> 1, <l_returnflag = N, l_linestatus = O, sum_qty = 7521769, sum_base_price = 1.0600382119330065E10, sum_disc_price = 1.0069917131053146E10, sum_charge = 1.0472666504790224E10, avg_qty = 25.544541308238554, avg_price = 35999.76267954256, avg_disc = 0.05009974291669857, count_order = 294457> -> 1, <l_returnflag = A, l_linestatus = F, sum_qty = 3774200, sum_base_price = 5.320753880690052E9, sum_disc_price = 5.054096266682856E9, sum_charge = 5.256751331449198E9, avg_qty = 25.537587116854997, avg_price = 36002.12382901449, avg_disc = 0.05014459706345502, count_order = 147790> -> 1}

### pandas - 1

In [3]:
single_query_start_time = time()

In [4]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
# import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

days = 76
var1 = str((datetime.strptime('1998-12-01', "%Y-%m-%d") - timedelta(days=days)).strftime("%Y-%m-%d"))

lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)

r = lineitem[lineitem['l_shipdate'] <= var1]

r['disc_price'] = r['l_extendedprice'] * (1 - r['l_discount'])
r['charge'] = r['l_extendedprice'] * (1 - r['l_discount']) * (1 + r['l_tax'])

r = r.groupby(['l_returnflag', 'l_linestatus'], as_index=False) \
    .agg(sum_qty=('l_quantity', 'sum'),
         sum_base_price=('l_extendedprice', 'sum'),
         sum_disc_price=('disc_price', 'sum'),
         sum_charge=('charge', 'sum'),
         avg_qty=('l_quantity', 'mean'),
         avg_price=('l_extendedprice', 'mean'),
         avg_disc=('l_discount', 'mean'),
         count_order=('l_quantity', 'count'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-1').run(r).export().to()

  l_returnflag l_linestatus  sum_qty  sum_base_price  sum_disc_price  \
0            A            F  3774200    5.320754e+09    5.054096e+09
1            N            F    95257    1.337378e+08    1.271324e+08
2            N            O  7521769    1.060038e+10    1.006992e+10
3            R            F  3785523    5.337951e+09    5.071819e+09

     sum_charge    avg_qty     avg_price  avg_disc  count_order
0  5.256751e+09  25.537587  36002.123829  0.050145       147790
1  1.322863e+08  25.300664  35521.326916  0.049394         3765
2  1.047267e+10  25.544541  35999.762680  0.050100       294457
3  5.274406e+09  25.525944  35994.029214  0.049989       148301

C:\Users\Y\AppData\Local\Temp\ipykernel_1320\3382729007.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r['disc_price'] = r['l_extendedprice'] * (1 - r['l_discount'])
C:\Users\Y\AppData\Local\Temp\ipykernel_1320\3382729007.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r['charge'] = r['l_extendedprice'] * (1 - r['l_discount']) * (1 + r['l_tax'])

In [5]:
single_query_end_time = time()

single_query_end_time - single_query_start_time

1.9827830791473389

# TPCH - 2 ✅

### SQL - 2

```
select
	s_acctbal,
	s_name,
	n_name,
	p_partkey,
	p_mfgr,
	s_address,
	s_phone,
	s_comment
from
	part,
	supplier,
	partsupp,
	nation,
	region
where
	p_partkey = ps_partkey
	and s_suppkey = ps_suppkey
	and p_size = :1
	and p_type like '%:2'
	and s_nationkey = n_nationkey
	and n_regionkey = r_regionkey
	and r_name = ':3'
	and ps_supplycost = (
		select
			min(ps_supplycost)
		from
			partsupp,
			supplier,
			nation,
			region
		where
			p_partkey = ps_partkey
			and s_suppkey = ps_suppkey
			and s_nationkey = n_nationkey
			and n_regionkey = r_regionkey
			and r_name = ':3'
	)
```

### pysdql - 2

In [6]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 14
var2 = 'BRASS'
var3 = 'EUROPE'

part = pd.read_table(rf'{data_path}/part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)
supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
partsupp = pd.read_table(rf'{data_path}/partsupp.tbl', sep='|', index_col=False, header=None, names=pysdql.PARTSUPP_COLS)
nation = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)
region = pd.read_table(rf'{data_path}/region.tbl', sep='|', index_col=False, header=None, names=pysdql.REGION_COLS)

sub_r = region[region['r_name'] == var3]
sub_r.columns.name = 'sub_r'

r1 = partsupp.merge(supplier, left_on='ps_suppkey', right_on='s_suppkey')
r1 = r1.merge(nation, left_on='s_nationkey', right_on='n_nationkey')
r1 = r1.merge(sub_r, left_on='n_regionkey', right_on='r_regionkey')
r1 = r1.groupby(['ps_partkey', 'ps_suppkey'], as_index=False).agg(min_supplycost=('ps_supplycost', 'min'))

r1['min_partkey'] = r1['ps_partkey']
r1['min_suppkey'] = r1['ps_suppkey']

r1 = r1[['min_partkey', 'min_suppkey', 'min_supplycost']]

r1.columns.name = 'r1'

sub_p = part[part['p_size'] == var1]
sub_p = sub_p[sub_p['p_type'].str.endswith(var2)]

sub_p.columns.name = 'sub_p'

r2 = nation.merge(sub_r, left_on='n_regionkey', right_on='r_regionkey')
r2 = r2.merge(supplier, left_on='n_nationkey', right_on='s_nationkey')
r2 = r2.merge(partsupp, left_on='s_suppkey', right_on='ps_suppkey')
r2 = r2.merge(sub_p, left_on='ps_partkey', right_on='p_partkey')

r2.columns.name = 'r2'

r = r1.merge(r2,
             left_on=['min_partkey', 'min_suppkey', 'min_supplycost'],
             right_on=['ps_partkey', 'ps_suppkey', 'ps_supplycost'])

r.columns.name = 'r'

r = r[['s_acctbal', 's_name', 'n_name', 'p_partkey', 'p_mfgr', 's_address', 's_phone', 's_comment']]

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-2').run(r).export().to()

let part = load[{<p_partkey: int, p_name: string, p_mfgr: string, p_brand: string, p_type: string, p_size: int, p_container: string, p_retailprice: double, p_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/part.tbl")
let pmp = sum (<par_k, par_v> in part) if ((par_k.p_size == 14)) then { par_k -> 1 } else {  }
let tmp = sum (<p_k, p_v> in pmp) if (ext(`StrEndsWith`, p_k.p_type, "BRASS")) then { p_k -> 1 } else {  }
let sub_p = tmp
let partsupp = load[{<ps_partkey: int, ps_suppkey: int, ps_availqty: int, ps_supplycost: double, ps_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/partsupp.tbl")
let supplier = load[{<s_suppkey: int, s_name: string, s_address: string, s_nationkey: int, s_phone: string, s_acctbal: double, s_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/supplier.tbl")
let region = load[{<r_regionkey: int, r_name: string, r_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/region.tbl")
let rmp = sum (<reg_k, reg_v> in region) if ((reg_k.r_name == "EUROPE")) then { reg_k -> 1 } else {  }
let sub_r = rmp
let nation = load[{<n_nationkey: int, n_name: string, n_regionkey: int, n_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/nation.tbl")
let part_sub_r = sum (<sr_k, sr_v> in sub_r) { < r_regionkey=sr_k.r_regionkey > -> { sr_k -> sr_v } }
let Rm0 = sum (<nat_k, nat_v> in nation) if ((part_sub_r(<r_regionkey=nat_k.n_regionkey>) != {  })) then sum(<p_k, p_v> in part_sub_r(<r_regionkey=nat_k.n_regionkey>)) { concat(nat_k, p_k) -> nat_v * p_v } else {  }
let part_supplier = sum (<sup_k, sup_v> in supplier) { < s_nationkey=sup_k.s_nationkey > -> { sup_k -> sup_v } }
let Rm1 = sum (<r0_k, r0_v> in Rm0) if ((part_supplier(<s_nationkey=r0_k.n_nationkey>) != {  })) then sum(<p_k, p_v> in part_supplier(<s_nationkey=r0_k.n_nationkey>)) { concat(r0_k, p_k) -> r0_v * p_v } else {  }
let part_partsupp = sum (<psup_k, psup_v> in partsupp) { < ps_suppkey=psup_k.ps_suppkey > -> { psup_k -> psup_v } }
let Rm2 = sum (<r1_k, r1_v> in Rm1) if ((part_partsupp(<ps_suppkey=r1_k.s_suppkey>) != {  })) then sum(<p_k, p_v> in part_partsupp(<ps_suppkey=r1_k.s_suppkey>)) { concat(r1_k, p_k) -> r1_v * p_v } else {  }
let part_sub_p = sum (<sp_k, sp_v> in sub_p) { < p_partkey=sp_k.p_partkey > -> { sp_k -> sp_v } }
let Rm3 = sum (<r2_k, r2_v> in Rm2) if ((part_sub_p(<p_partkey=r2_k.ps_partkey>) != {  })) then sum(<p_k, p_v> in part_sub_p(<p_partkey=r2_k.ps_partkey>)) { concat(r2_k, p_k) -> r2_v * p_v } else {  }
let r2 = Rm3
let rmp = sum (<reg_k, reg_v> in region) if ((reg_k.r_name == "EUROPE")) then { reg_k -> 1 } else {  }
let nation = load[{<n_nationkey: int, n_name: string, n_regionkey: int, n_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/nation.tbl")
let partsupp = load[{<ps_partkey: int, ps_suppkey: int, ps_availqty: int, ps_supplycost: double, ps_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/partsupp.tbl")
let part_supplier = sum (<sup_k, sup_v> in supplier) { < s_suppkey=sup_k.s_suppkey > -> { sup_k -> sup_v } }
let Rm0 = sum (<psup_k, psup_v> in partsupp) if ((part_supplier(<s_suppkey=psup_k.ps_suppkey>) != {  })) then sum(<p_k, p_v> in part_supplier(<s_suppkey=psup_k.ps_suppkey>)) { concat(psup_k, p_k) -> psup_v * p_v } else {  }
let part_nation = sum (<nat_k, nat_v> in nation) { < n_nationkey=nat_k.n_nationkey > -> { nat_k -> nat_v } }
let Rm1 = sum (<r0_k, r0_v> in Rm0) if ((part_nation(<n_nationkey=r0_k.s_nationkey>) != {  })) then sum(<p_k, p_v> in part_nation(<n_nationkey=r0_k.s_nationkey>)) { concat(r0_k, p_k) -> r0_v * p_v } else {  }
let part_sub_r = sum (<sr_k, sr_v> in sub_r) { < r_regionkey=sr_k.r_regionkey > -> { sr_k -> sr_v } }
let Rm2 = sum (<r1_k, r1_v> in Rm1) if ((part_sub_r(<r_regionkey=r1_k.n_regionkey>) != {  })) then sum(<p_k, p_v> in part_sub_r(<r_regionkey=r1_k.n_regionkey>)) { concat(r1_k, p_k) -> r1_v * p_v } else {  }
let tmpa = sum (<r2_k, r2_v> in Rm2) { < ps_partkey=r2_k.ps_partkey, ps_suppkey=r2_k.ps_suppkey > -> < min_supplycost=promote[mnpr](r2_k.ps_supplycost) * promote[mnpr](r2_v) > }
let agg_Rm2 = sum (<ta_k, ta_v> in tmpa) { < ps_partkey=ta_k.ps_partkey, ps_suppkey=ta_k.ps_suppkey, min_supplycost=promote[real](ta_v.min_supplycost) > -> 1 }
let amp = sum (<a2_k, a2_v> in agg_Rm2) { concat(a2_k, < min_partkey=a2_k.ps_partkey >) -> 1 }
let tmpb = sum (<a_k, a_v> in amp) { concat(a_k, < min_suppkey=a_k.ps_suppkey >) -> 1 }
let tmpc = sum (<tb_k, tb_v> in tmpb) { < min_partkey=tb_k.min_partkey, min_suppkey=tb_k.min_suppkey, min_supplycost=tb_k.min_supplycost > -> 1 }
let r1 = tmpc
let part_r2 = sum (<r2_k, r2_v> in r2) { < ps_partkey=r2_k.ps_partkey, ps_suppkey=r2_k.ps_suppkey, ps_supplycost=r2_k.ps_supplycost > -> { r2_k -> r2_v } }
let Rm0 = sum (<r1_k, r1_v> in r1) if ((part_r2(< ps_partkey=r1_k.min_partkey, ps_suppkey=r1_k.min_suppkey, ps_supplycost=r1_k.min_supplycost >) != {  })) then sum(<p_k, p_v> in part_r2(< ps_partkey=r1_k.min_partkey, ps_suppkey=r1_k.min_suppkey, ps_supplycost=r1_k.min_supplycost >)) { concat(r1_k, p_k) -> r1_v * p_v } else {  }
let r = Rm0
let tmpc = sum (<r_k, r_v> in r) { < s_acctbal=r_k.s_acctbal, s_name=r_k.s_name, n_name=r_k.n_name, p_partkey=r_k.p_partkey, p_mfgr=r_k.p_mfgr, s_address=r_k.s_address, s_phone=r_k.s_phone, s_comment=r_k.s_comment > -> 1 }
tmpc

[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<s_acctbal = 7435.07, s_name = Supplier#000000738, n_name = RUSSIA, p_partkey = 8221, p_mfgr = Manufacturer#2, s_address = dklvCmHEmlCFTuKU5YNnYAi96v,FMMq, s_phone = 32-910-791-4020, s_comment = usual packages use final, even ideas. carefully pending requests integrate carefully regular
> -> 1, <s_acctbal = 4324.51, s_name = Supplier#000000957, n_name = UNITED KINGDOM, p_partkey = 12170, p_mfgr = Manufacturer#2, s_address = mSpFa,4jJ5R40k10YOvGEtl4KYjo, s_phone = 33-616-674-6155, s_comment = hily after the fluffily regular dependencies. deposits nag regular, silent accounts. i
> -> 1, <s_acctbal = 3339.18, s_name = Supplier#000000270, n_name = UNITED KINGDOM, p_partkey = 17735, p_mfgr = Manufacturer#3, s_address = PM P65mhBoeFWkFMi9,, s_phone = 33-682-295-4727, s_comment = ss slyly after the fluffily regular packages-- quickly express pinto beans nag blithely
> -> 1, <s_acctbal = 6739.52, s_name = Supplier#000000202, n_name = UNITED KINGDOM, p_partkey = 7687, p_mfgr = Manufacturer#2, s_address = NALZjSfea6SY zB1,I09OJYGrA8bwR4pU, s_phone = 33-549-918-5721, s_comment = courts cajole bold, special accounts. bold packages haggle re
> -> 1, <s_acctbal = 7487.64, s_name = Supplier#000000248, n_name = FRANCE, p_partkey = 4485, p_mfgr = Manufacturer#5, s_address = vDPBiu4L7hPZxwaEoNW u,zHgXVHvBXFBdfuek, s_phone = 16-646-663-7202, s_comment = ss packages are idly about
> -> 1, <s_acctbal = 8615.5, s_name = Supplier#000000812, n_name = FRANCE, p_partkey = 12549, p_mfgr = Manufacturer#5, s_address = 8qh4tezyScl5bidLAysvutB,,ZI2dn6xP, s_phone = 16-585-724-6633, s_comment = y quickly regular deposits? quickly pending packages after the caref
> -> 1, <s_acctbal = 5069.27, s_name = Supplier#000000328, n_name = GERMANY, p_partkey = 327, p_mfgr = Manufacturer#2, s_address = SMm24d WG62, s_phone = 17-231-513-5721, s_comment = he unusual ideas. slyly final packages a
> -> 1, <s_acctbal = 3057.29, s_name = Supplier#000000740, n_name = UNITED KINGDOM, p_partkey = 7968, p_mfgr = Manufacturer#5, s_address = vi82FyqGelGW0G1mpP17eDCBJRgNLvNi , s_phone = 33-714-391-9055, s_comment = und the quickly unusual id
> -> 1, <s_acctbal = -113.45, s_name = Supplier#000000417, n_name = FRANCE, p_partkey = 10896, p_mfgr = Manufacturer#1, s_address = b3CbQxCMWWu,YyeQU 51fccuv7Mt, s_phone = 16-563-597-5520, s_comment = equests hinder quiet courts. carefully
> -> 1, <s_acctbal = 9036.47, s_name = Supplier#000000546, n_name = RUSSIA, p_partkey = 15280, p_mfgr = Manufacturer#2, s_address = YznQGwWvZbNA0O9ZV, s_phone = 32-679-789-3863, s_comment = es haggle. blithely final theodolites wake blithely. carefully regular packages
> -> 1, <s_acctbal = 2503.45, s_name = Supplier#000000451, n_name = FRANCE, p_partkey = 6450, p_mfgr = Manufacturer#5, s_address = cqMKQiLjokvIFG, s_phone = 16-328-146-7253, s_comment = cial packages. pinto beans
> -> 1, <s_acctbal = 2503.45, s_name = Supplier#000000451, n_name = FRANCE, p_partkey = 3450, p_mfgr = Manufacturer#4, s_address = cqMKQiLjokvIFG, s_phone = 16-328-146-7253, s_comment = cial packages. pinto beans
> -> 1, <s_acctbal = 1824.47, s_name = Supplier#000000561, n_name = RUSSIA, p_partkey = 2804, p_mfgr = Manufacturer#1, s_address = 1V3DMQWQpfjPJybZYAP, s_phone = 32-547-343-1231, s_comment = d packages. carefully bold ideas are quickly across the platelets. final, express pinto b
> -> 1, <s_acctbal = -435.02, s_name = Supplier#000000295, n_name = UNITED KINGDOM, p_partkey = 3294, p_mfgr = Manufacturer#4, s_address = gpm7fahY9j6YyTr Dozul, s_phone = 33-998-989-3147, s_comment = en requests according to the
> -> 1, <s_acctbal = -418.5, s_name = Supplier#000000630, n_name = UNITED KINGDOM, p_partkey = 7372, p_mfgr = Manufacturer#5, s_address = 6hLBs3Rnd5elLLVv1i p3A2U6G1dkIApKDkiCy, s_phone = 33-522-267-9970, s_comment = kly bold notornis; idly even forges wake furiously quickly special pinto bea
> -> 1, <s_acctbal = 7392.78, s_name = Supplier#000000170, n_name = UNITED KINGDOM, p_partkey = 14377, p_mfgr = Manufacturer#3, s_address = RtsXQ,SunkA XHy9, s_phone = 33-803-340-5398, s_comment = ake carefully across the quickly
> -> 1, <s_acctbal = 3057.29, s_name = Supplier#000000740, n_name = UNITED KINGDOM, p_partkey = 3233, p_mfgr = Manufacturer#1, s_address = vi82FyqGelGW0G1mpP17eDCBJRgNLvNi , s_phone = 33-714-391-9055, s_comment = und the quickly unusual id
> -> 1, <s_acctbal = 856.17, s_name = Supplier#000000629, n_name = GERMANY, p_partkey = 16362, p_mfgr = Manufacturer#4, s_address = SjPnzOlaF3,4u1QAyH1l57EnL,h1IgnmoG, s_phone = 17-533-560-8817, s_comment =  furiously ironic requests by the furiously regular accounts wake slyly across the
> -> 1, <s_acctbal = 4518.31, s_name = Supplier#000000149, n_name = FRANCE, p_partkey = 19610, p_mfgr = Manufacturer#1, s_address = pVyWsjOidpHKp4NfKU4yLeym, s_phone = 16-660-553-2456, s_comment = ts detect along the foxes. final Tiresias are. idly pending deposits haggle; even, blithe pin
> -> 1, <s_acctbal = 2253.9, s_name = Supplier#000000556, n_name = FRANCE, p_partkey = 8781, p_mfgr = Manufacturer#2, s_address = g3QRUaiDAI1nQQPJLJfAa9W, s_phone = 16-951-842-4482, s_comment =  silent deposits haggle quickly ironic, final theodolites. boldly bold accou
> -> 1, <s_acctbal = 8702.02, s_name = Supplier#000000333, n_name = RUSSIA, p_partkey = 332, p_mfgr = Manufacturer#2, s_address = MaVf XgwPdkiX4nfJGOis8Uu2zKiIZH, s_phone = 32-508-202-6136, s_comment = oss the deposits cajole carefully even pinto beans. regular foxes detect alo
> -> 1, <s_acctbal = 1133.8, s_name = Supplier#000000634, n_name = UNITED KINGDOM, p_partkey = 5633, p_mfgr = Manufacturer#5, s_address = hS62vraooyHWnMKyZV3f1GSPeKJ,7uRK6M5, s_phone = 33-105-608-2902, s_comment = equests affix around the blithely special theodolites. unusual accounts wake. pend
> -> 1, <s_acctbal = 8096.98, s_name = Supplier#000000574, n_name = RUSSIA, p_partkey = 14309, p_mfgr = Manufacturer#4, s_address = 2O8 sy9g2mlBOuEjzj0pA2pevk,, s_phone = 32-866-246-8752, s_comment = ully after the regular requests. slyly final dependencies wake slyly along the busy deposit
> -> 1, <s_acctbal = 6116.81, s_name = Supplier#000000756, n_name = GERMANY, p_partkey = 15755, p_mfgr = Manufacturer#1, s_address = ySXGqbQpYbXLoaFMKqIdH5Pai, s_phone = 17-726-757-7711, s_comment = out the final, express id
> -> 1, <s_acctbal = 7815.06, s_name = Supplier#000000939, n_name = UNITED KINGDOM, p_partkey = 18938, p_mfgr = Manufacturer#5, s_address = mWBKbdzDn3yJNpOT8p, s_phone = 33-487-125-3117, s_comment = efully. final requests after the unusual requests wake fluffily after the furiously r
> -> 1, <s_acctbal = 3855.74, s_name = Supplier#000000815, n_name = GERMANY, p_partkey = 14814, p_mfgr = Manufacturer#1, s_address = 3f8XIvP m9v5fv, s_phone = 17-984-775-9865, s_comment = ms. final packages use finall
> -> 1, <s_acctbal = 5408.07, s_name = Supplier#000000623, n_name = GERMANY, p_partkey = 3369, p_mfgr = Manufacturer#3, s_address = dSSQ3dTYwThbLppbetVUeuPfBIUF, s_phone = 17-593-337-7365, s_comment = ial frays use. carefully special foxes wake carefully slyly pending deposits-- final requests a
> -> 1, <s_acctbal = 4848.52, s_name = Supplier#000000562, n_name = UNITED KINGDOM, p_partkey = 4561, p_mfgr = Manufacturer#2, s_address = 8TXCtnRQzByqjie, s_phone = 33-782-496-5965, s_comment = he furiously special accounts hag
> -> 1, <s_acctbal = 449.82, s_name = Supplier#000000468, n_name = FRANCE, p_partkey = 1216, p_mfgr = Manufacturer#4, s_address = T,pwE,skbYjr5DCAD2EfmEHNychqFKw1loF, s_phone = 16-494-568-3545, s_comment = nusual dependencies. blithely even packages are blit
> -> 1, <s_acctbal = -290.06, s_name = Supplier#000000040, n_name = RUSSIA, p_partkey = 8781, p_mfgr = Manufacturer#2, s_address = zyIeWzbbpkTV37vm1nmSGBxSgd2Kp, s_phone = 32-231-247-6991, s_comment =  final patterns. accounts haggle idly pas

> -> 1, <s_acctbal = 1824.47, s_name = Supplier#000000561, n_name = RUSSIA, p_partkey = 19560, p_mfgr = Manufacturer#1, s_address = 1V3DMQWQpfjPJybZYAP, s_phone = 32-547-343-1231, s_comment = d packages. carefully bold ideas are quickly across the platelets. final, express pinto b
> -> 1, <s_acctbal = 2214.36, s_name = Supplier#000000593, n_name = FRANCE, p_partkey = 7335, p_mfgr = Manufacturer#1, s_address = qvlFqgoEMzzksE2uQlchYQ8V, s_phone = 16-262-671-5187, s_comment = arefully even ideas sleep quickly. ironic foxes wak
> -> 1, <s_acctbal = 9459.29, s_name = Supplier#000000645, n_name = GERMANY, p_partkey = 13644, p_mfgr = Manufacturer#3, s_address = blbALMoy2OihlkvD7FtkLXPvTShY9JVtsWT, s_phone = 17-742-832-9508, s_comment = accounts. blithely unusual pinto beans at the blithely
> -> 1, <s_acctbal = 9807.53, s_name = Supplier#000000437, n_name = GERMANY, p_partkey = 6180, p_mfgr = Manufacturer#2, s_address = HuqIk0sK4yC6x5be,cTlPrFqqBCHYf, s_phone = 17-652-134-3031, s_comment = usly bold deposits about the pending
> -> 1, <s_acctbal = 2253.9, s_name = Supplier#000000556, n_name = FRANCE, p_partkey = 12555, p_mfgr = Manufacturer#3, s_address = g3QRUaiDAI1nQQPJLJfAa9W, s_phone = 16-951-842-4482, s_comment =  silent deposits haggle quickly ironic, final theodolites. boldly bold accou
> -> 1, <s_acctbal = 3057.29, s_name = Supplier#000000740, n_name = UNITED KINGDOM, p_partkey = 4485, p_mfgr = Manufacturer#5, s_address = vi82FyqGelGW0G1mpP17eDCBJRgNLvNi , s_phone = 33-714-391-9055, s_comment = und the quickly unusual id
> -> 1, <s_acctbal = 824.94, s_name = Supplier#000000741, n_name = GERMANY, p_partkey = 15945, p_mfgr = Manufacturer#1, s_address = BLP6zAc29lDLOvSE3 h2, s_phone = 17-292-821-2297, s_comment = even, unusual instructions b
> -> 1, <s_acctbal = 747.88, s_name = Supplier#000000243, n_name = FRANCE, p_partkey = 6986, p_mfgr = Manufacturer#2, s_address = 8aQ3HGeOXxgYeMAXZQe B5y2RKEF5jdmN3Qb, s_phone = 16-554-376-5494, s_comment = kly silent requests among the blithely regular foxes use fu
> -> 1, <s_acctbal = 5571.81, s_name = Supplier#000000362, n_name = UNITED KINGDOM, p_partkey = 12575, p_mfgr = Manufacturer#1, s_address = XdtN0U5Qm2Z, s_phone = 33-445-749-9918, s_comment = e furiously. slowly regular accounts sleep furiously. carefully bo
> -> 1, <s_acctbal = 6177.35, s_name = Supplier#000000053, n_name = GERMANY, p_partkey = 9534, p_mfgr = Manufacturer#2, s_address = i9v3 EsYCfLKFU6PIt8iihBOHBB37yR7b3GD7Rt, s_phone = 17-886-101-6083, s_comment = onic, special deposits wake furio
> -> 1, <s_acctbal = 4324.51, s_name = Supplier#000000957, n_name = UNITED KINGDOM, p_partkey = 3450, p_mfgr = Manufacturer#4, s_address = mSpFa,4jJ5R40k10YOvGEtl4KYjo, s_phone = 33-616-674-6155, s_comment = hily after the fluffily regular dependencies. deposits nag regular, silent accounts. i
> -> 1, <s_acctbal = -845.44, s_name = Supplier#000000704, n_name = ROMANIA, p_partkey = 3450, p_mfgr = Manufacturer#4, s_address = hQvlBqbqqnA5Dgo1BffRBX78tkkRu, s_phone = 29-300-896-5991, s_comment = ctions. carefully sly requ
> -> 1, <s_acctbal = 361.01, s_name = Supplier#000000816, n_name = UNITED KINGDOM, p_partkey = 4561, p_mfgr = Manufacturer#2, s_address = uCvvad6NCkXBUkr28t dtq swXPtu, s_phone = 33-830-680-6168, s_comment = lve furiously according to the final accounts. even accounts on the
> -> 1, <s_acctbal = 6089.75, s_name = Supplier#000000148, n_name = GERMANY, p_partkey = 1147, p_mfgr = Manufacturer#1, s_address = bkCBZzewuerw8xHv, s_phone = 17-648-666-9156, s_comment = ckly regular grouches. carefully ironic deposits cajole acc
> -> 1, <s_acctbal = 6329.9, s_name = Supplier#000000996, n_name = GERMANY, p_partkey = 8221, p_mfgr = Manufacturer#2, s_address = Wx4dQwOAwWjfSCGupfrM, s_phone = 17-447-811-3282, s_comment =  ironic forges cajole blithely agai
> -> 1, <s_acctbal = 449.82, s_name = Supplier#000000468, n_name = FRANCE, p_partkey = 10207, p_mfgr = Manufacturer#2, s_address = T,pwE,skbYjr5DCAD2EfmEHNychqFKw1loF, s_phone = 16-494-568-3545, s_comment = nusual dependencies. blithely even packages are blit
> -> 1, <s_acctbal = 9508.37, s_name = Supplier#000000070, n_name = FRANCE, p_partkey = 4561, p_mfgr = Manufacturer#2, s_address = INWNH2w,OOWgNDq0BRCcBwOMQc6PdFDc4, s_phone = 16-821-608-1166, s_comment = ests sleep quickly express ideas. ironic ideas haggle about the final T
> -> 1, <s_acctbal = 3855.74, s_name = Supplier#000000815, n_name = GERMANY, p_partkey = 6046, p_mfgr = Manufacturer#5, s_address = 3f8XIvP m9v5fv, s_phone = 17-984-775-9865, s_comment = ms. final packages use finall
> -> 1, <s_acctbal = 406.59, s_name = Supplier#000000925, n_name = ROMANIA, p_partkey = 5669, p_mfgr = Manufacturer#1, s_address = x3n4pg,q28EckYO,613G7seoAmTPSX0jTvDvM2U, s_phone = 29-398-723-8226, s_comment = regular packages can haggle acro
> -> 1, <s_acctbal = 300.8, s_name = Supplier#000000232, n_name = GERMANY, p_partkey = 2727, p_mfgr = Manufacturer#3, s_address = 90YJjotHlfwyieaTfuBJ8kohU5Oc83bESout,p, s_phone = 17-478-427-3811, s_comment =  asymptotes lose slyly evenly ironic asymptotes-- blithely bol
> -> 1, <s_acctbal = 91.39, s_name = Supplier#000000949, n_name = UNITED KINGDOM, p_partkey = 6180, p_mfgr = Manufacturer#2, s_address = a,UE,6nRVl2fCphkOoetR1ajIzAEJ1Aa1G1HV, s_phone = 33-332-697-2768, s_comment = pinto beans. carefully express requests hagg
> -> 1, <s_acctbal = 8436.37, s_name = Supplier#000000621, n_name = FRANCE, p_partkey = 5110, p_mfgr = Manufacturer#3, s_address = fjFomMNvcBWHb, s_phone = 16-492-530-5790, s_comment = ns. even, even platelets up the carefully pending platelets u
> -> 1, <s_acctbal = 9032.15, s_name = Supplier#000000959, n_name = GERMANY, p_partkey = 10698, p_mfgr = Manufacturer#2, s_address = 8grA EHBnwOZhO, s_phone = 17-108-642-3106, s_comment = nding dependencies nag furiou
> -> 1, <s_acctbal = 2753.77, s_name = Supplier#000000180, n_name = GERMANY, p_partkey = 5669, p_mfgr = Manufacturer#1, s_address = JJzFp5wZcS0KpMLM95tYmq5Pv526UBfT8vrfwBk, s_phone = 17-600-237-1665, s_comment = ic deposits wake furiously even, express accounts. slyly express packages detect doggedly
> -> 1, <s_acctbal = 4186.95, s_name = Supplier#000000077, n_name = GERMANY, p_partkey = 6308, p_mfgr = Manufacturer#2, s_address = wVtcr0uH3CyrSiWMLsqnB09Syo,UuZxPMeBghlY, s_phone = 17-281-345-4863, s_comment = the slyly final asymptotes. blithely pending theodoli
> -> 1, <s_acctbal = 6261.99, s_name = Supplier#000000268, n_name = UNITED KINGDOM, p_partkey = 12743, p_mfgr = Manufacturer#3, s_address = ApLM6aebtP79LIp, s_phone = 33-863-692-9039, s_comment = nic frays use furiously among the final, ironic the
> -> 1}
[success] Total time: 10 s, completed 2022年7月31日 上午7:10:39
========================================================
pysdql execution time: 24.455416679382324
export sdql script "tpch-2.sdql" to "T:/UG4-Proj/output/tpch-2.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-2.sdql

{<s_acctbal = 7435.07, s_name = Supplier#000000738, n_name = RUSSIA, p_partkey = 8221, p_mfgr = Manufacturer#2, s_address = dklvCmHEmlCFTuKU5YNnYAi96v,FMMq, s_phone = 32-910-791-4020, s_comment = usual packages use final, even ideas. carefully pending requests integrate carefully regular> -> 1, <s_acctbal = 4324.51, s_name = Supplier#000000957, n_name = UNITED KINGDOM, p_partkey = 12170, p_mfgr = Manufacturer#2, s_address = mSpFa,4jJ5R40k10YOvGEtl4KYjo, s_phone = 33-616-674-6155, s_comment = hily after the fluffily regular dependencies. deposits nag regular, silent accounts. i> -> 1, <s_acctbal = 3339.18, s_name = Supplier#000000270, n_name = UNITED KINGDOM, p_partkey = 17735, p_mfgr = Manufacturer#3, s_address = PM P65mhBoeFWkFMi9,, s_phone = 33-682-295-4727, s_comment = ss slyly after the fluffily regular packages-- quickly express pinto beans nag blithely> -> 1, <s_acctbal = 6739.52, s_name = Supplier#000000202, n_name = UNITED KINGDOM, p_partkey = 7687, p_mfgr = Manufacturer#2, s_address = NALZjSfea6SY zB1,I09OJYGrA8bwR4pU, s_phone = 33-549-918-5721, s_comment = courts cajole bold, special accounts. bold packages haggle re> -> 1, <s_acctbal = 7487.64, s_name = Supplier#000000248, n_name = FRANCE, p_partkey = 4485, p_mfgr = Manufacturer#5, s_address = vDPBiu4L7hPZxwaEoNW u,zHgXVHvBXFBdfuek, s_phone = 16-646-663-7202, s_comment = ss packages are idly about> -> 1, <s_acctbal = 8615.5, s_name = Supplier#000000812, n_name = FRANCE, p_partkey = 12549, p_mfgr = Manufacturer#5, s_address = 8qh4tezyScl5bidLAysvutB,,ZI2dn6xP, s_phone = 16-585-724-6633, s_comment = y quickly regular deposits? quickly pending packages after the caref> -> 1, <s_acctbal = 5069.27, s_name = Supplier#000000328, n_name = GERMANY, p_partkey = 327, p_mfgr = Manufacturer#2, s_address = SMm24d WG62, s_phone = 17-231-513-5721, s_comment = he unusual ideas. slyly final packages a> -> 1, <s_acctbal = 3057.29, s_name = Supplier#000000740, n_name = UNITED KINGDOM, p_partkey = 7968, p_mfgr = Manufacturer#5, s_address = vi82FyqGelGW0G1mpP17eDCBJRgNLvNi , s_phone = 33-714-391-9055, s_comment = und the quickly unusual id> -> 1, <s_acctbal = -113.45, s_name = Supplier#000000417, n_name = FRANCE, p_partkey = 10896, p_mfgr = Manufacturer#1, s_address = b3CbQxCMWWu,YyeQU 51fccuv7Mt, s_phone = 16-563-597-5520, s_comment = equests hinder quiet courts. carefully> -> 1, <s_acctbal = 9036.47, s_name = Supplier#000000546, n_name = RUSSIA, p_partkey = 15280, p_mfgr = Manufacturer#2, s_address = YznQGwWvZbNA0O9ZV, s_phone = 32-679-789-3863, s_comment = es haggle. blithely final theodolites wake blithely. carefully regular packages> -> 1, <s_acctbal = 2503.45, s_name = Supplier#000000451, n_name = FRANCE, p_partkey = 6450, p_mfgr = Manufacturer#5, s_address = cqMKQiLjokvIFG, s_phone = 16-328-146-7253, s_comment = cial packages. pinto beans> -> 1, <s_acctbal = 2503.45, s_name = Supplier#000000451, n_name = FRANCE, p_partkey = 3450, p_mfgr = Manufacturer#4, s_address = cqMKQiLjokvIFG, s_phone = 16-328-146-7253, s_comment = cial packages. pinto beans> -> 1, <s_acctbal = 1824.47, s_name = Supplier#000000561, n_name = RUSSIA, p_partkey = 2804, p_mfgr = Manufacturer#1, s_address = 1V3DMQWQpfjPJybZYAP, s_phone = 32-547-343-1231, s_comment = d packages. carefully bold ideas are quickly across the platelets. final, express pinto b> -> 1, <s_acctbal = -435.02, s_name = Supplier#000000295, n_name = UNITED KINGDOM, p_partkey = 3294, p_mfgr = Manufacturer#4, s_address = gpm7fahY9j6YyTr Dozul, s_phone = 33-998-989-3147, s_comment = en requests according to the> -> 1, <s_acctbal = -418.5, s_name = Supplier#000000630, n_name = UNITED KINGDOM, p_partkey = 7372, p_mfgr = Manufacturer#5, s_address = 6hLBs3Rnd5elLLVv1i p3A2U6G1dkIApKDkiCy, s_phone = 33-522-267-9970, s_comment = kly bold notornis; idly even forges wake furiously quickly special pinto bea> -> 1, <s_acctbal = 7392.78, s_name = Supplier#000000170, n_name = UNITED KINGDOM, p_partkey = 14377, p_mfgr = Manufacturer#3, s_address = RtsXQ,SunkA XHy9, s_phone = 33-803-340-5398, s_comment = ake carefully across the quickly> -> 1, <s_acctbal = 3057.29, s_name = Supplier#000000740, n_name = UNITED KINGDOM, p_partkey = 3233, p_mfgr = Manufacturer#1, s_address = vi82FyqGelGW0G1mpP17eDCBJRgNLvNi , s_phone = 33-714-391-9055, s_comment = und the quickly unusual id> -> 1, <s_acctbal = 856.17, s_name = Supplier#000000629, n_name = GERMANY, p_partkey = 16362, p_mfgr = Manufacturer#4, s_address = SjPnzOlaF3,4u1QAyH1l57EnL,h1IgnmoG, s_phone = 17-533-560-8817, s_comment =  furiously ironic requests by the furiously regular accounts wake slyly across the> -> 1, <s_acctbal = 4518.31, s_name = Supplier#000000149, n_name = FRANCE, p_partkey = 19610, p_mfgr = Manufacturer#1, s_address = pVyWsjOidpHKp4NfKU4yLeym, s_phone = 16-660-553-2456, s_comment = ts detect along the foxes. final Tiresias are. idly pending deposits haggle; even, blithe pin> -> 1, <s_acctbal = 2253.9, s_name = Supplier#000000556, n_name = FRANCE, p_partkey = 8781, p_mfgr = Manufacturer#2, s_address = g3QRUaiDAI1nQQPJLJfAa9W, s_phone = 16-951-842-4482, s_comment =  silent deposits haggle quickly ironic, final theodolites. boldly bold accou> -> 1, <s_acctbal = 8702.02, s_name = Supplier#000000333, n_name = RUSSIA, p_partkey = 332, p_mfgr = Manufacturer#2, s_address = MaVf XgwPdkiX4nfJGOis8Uu2zKiIZH, s_phone = 32-508-202-6136, s_comment = oss the deposits cajole carefully even pinto beans. regular foxes detect alo> -> 1, <s_acctbal = 1133.8, s_name = Supplier#000000634, n_name = UNITED KINGDOM, p_partkey = 5633, p_mfgr = Manufacturer#5, s_address = hS62vraooyHWnMKyZV3f1GSPeKJ,7uRK6M5, s_phone = 33-105-608-2902, s_comment = equests affix around the blithely special theodolites. unusual accounts wake. pend> -> 1, <s_acctbal = 8096.98, s_name = Supplier#000000574, n_name = RUSSIA, p_partkey = 14309, p_mfgr = Manufacturer#4, s_address = 2O8 sy9g2mlBOuEjzj0pA2pevk,, s_phone = 32-866-246-8752, s_comment = ully after the regular requests. slyly final dependencies wake slyly along the busy deposit> -> 1, <s_acctbal = 6116.81, s_name = Supplier#000000756, n_name = GERMANY, p_partkey = 15755, p_mfgr = Manufacturer#1, s_address = ySXGqbQpYbXLoaFMKqIdH5Pai, s_phone = 17-726-757-7711, s_comment = out the final, express id> -> 1, <s_acctbal = 7815.06, s_name = Supplier#000000939, n_name = UNITED KINGDOM, p_partkey = 18938, p_mfgr = Manufacturer#5, s_address = mWBKbdzDn3yJNpOT8p, s_phone = 33-487-125-3117, s_comment = efully. final requests after the unusual requests wake fluffily after the furiously r> -> 1, <s_acctbal = 3855.74, s_name = Supplier#000000815, n_name = GERMANY, p_partkey = 14814, p_mfgr = Manufacturer#1, s_address = 3f8XIvP m9v5fv, s_phone = 17-984-775-9865, s_comment = ms. final packages use finall> -> 1, <s_acctbal = 5408.07, s_name = Supplier#000000623, n_name = GERMANY, p_partkey = 3369, p_mfgr = Manufacturer#3, s_address = dSSQ3dTYwThbLppbetVUeuPfBIUF, s_phone = 17-593-337-7365, s_comment = ial frays use. carefully special foxes wake carefully slyly pending deposits-- final requests a> -> 1, <s_acctbal = 4848.52, s_name = Supplier#000000562, n_name = UNITED KINGDOM, p_partkey = 4561, p_mfgr = Manufacturer#2, s_address = 8TXCtnRQzByqjie, s_phone = 33-782-496-5965, s_comment = he furiously special accounts hag> -> 1, <s_acctbal = 449.82, s_name = Supplier#000000468, n_name = FRANCE, p_partkey = 1216, p_mfgr = Manufacturer#4, s_address = T,pwE,skbYjr5DCAD2EfmEHNychqFKw1loF, s_phone = 16-494-568-3545, s_comment = nusual dependencies. blithely even packages are blit> -> 1, <s_acctbal = -290.06, s_name = Supplier#000000040, n_name = RUSSIA, p_partkey = 8781, p_mfgr = Manufacturer#2, s_address = zyIeWzbbpkTV37vm1nmSGBxSgd2Kp, s_phone = 32-231-247-6991, s_comment =  final patterns. accounts haggle idly pas> -> 1, <s_acctbal = 1824.47, s_name = Supplier#000000561, n_name = RUSSIA, p_partkey = 19560, p_mfgr = Manufacturer#1, s_address = 1V3DMQWQpfjPJybZYAP, s_phone = 32-547-343-1231, s_comment = d packages. carefully bold ideas are quickly across the platelets. final, express pinto b> -> 1, <s_acctbal = 2214.36, s_name = Supplier#000000593, n_name = FRANCE, p_partkey = 7335, p_mfgr = Manufacturer#1, s_address = qvlFqgoEMzzksE2uQlchYQ8V, s_phone = 16-262-671-5187, s_comment = arefully even ideas sleep quickly. ironic foxes wak> -> 1, <s_acctbal = 9459.29, s_name = Supplier#000000645, n_name = GERMANY, p_partkey = 13644, p_mfgr = Manufacturer#3, s_address = blbALMoy2OihlkvD7FtkLXPvTShY9JVtsWT, s_phone = 17-742-832-9508, s_comment = accounts. blithely unusual pinto beans at the blithely> -> 1, <s_acctbal = 9807.53, s_name = Supplier#000000437, n_name = GERMANY, p_partkey = 6180, p_mfgr = Manufacturer#2, s_address = HuqIk0sK4yC6x5be,cTlPrFqqBCHYf, s_phone = 17-652-134-3031, s_comment = usly bold deposits about the pending> -> 1, <s_acctbal = 2253.9, s_name = Supplier#000000556, n_name = FRANCE, p_partkey = 12555, p_mfgr = Manufacturer#3, s_address = g3QRUaiDAI1nQQPJLJfAa9W, s_phone = 16-951-842-4482, s_comment =  silent deposits haggle quickly ironic, final theodolites. boldly bold accou> -> 1, <s_acctbal = 3057.29, s_name = Supplier#000000740, n_name = UNITED KINGDOM, p_partkey = 4485, p_mfgr = Manufacturer#5, s_address = vi82FyqGelGW0G1mpP17eDCBJRgNLvNi , s_phone = 33-714-391-9055, s_comment = und the quickly unusual id> -> 1, <s_acctbal = 824.94, s_name = Supplier#000000741, n_name = GERMANY, p_partkey = 15945, p_mfgr = Manufacturer#1, s_address = BLP6zAc29lDLOvSE3 h2, s_phone = 17-292-821-2297, s_comment = even, unusual instructions b> -> 1, <s_acctbal = 747.88, s_name = Supplier#000000243, n_name = FRANCE, p_partkey = 6986, p_mfgr = Manufacturer#2, s_address = 8aQ3HGeOXxgYeMAXZQe B5y2RKEF5jdmN3Qb, s_phone = 16-554-376-5494, s_comment = kly silent requests among the blithely regular foxes use fu> -> 1, <s_acctbal = 5571.81, s_name = Supplier#000000362, n_name = UNITED KINGDOM, p_partkey = 12575, p_mfgr = Manufacturer#1, s_address = XdtN0U5Qm2Z, s_phone = 33-445-749-9918, s_comment = e furiously. slowly regular accounts sleep furiously. carefully bo> -> 1, <s_acctbal = 6177.35, s_name = Supplier#000000053, n_name = GERMANY, p_partkey = 9534, p_mfgr = Manufacturer#2, s_address = i9v3 EsYCfLKFU6PIt8iihBOHBB37yR7b3GD7Rt, s_phone = 17-886-101-6083, s_comment = onic, special deposits wake furio> -> 1, <s_acctbal = 4324.51, s_name = Supplier#000000957, n_name = UNITED KINGDOM, p_partkey = 3450, p_mfgr = Manufacturer#4, s_address = mSpFa,4jJ5R40k10YOvGEtl4KYjo, s_phone = 33-616-674-6155, s_comment = hily after the fluffily regular dependencies. deposits nag regular, silent accounts. i> -> 1, <s_acctbal = -845.44, s_name = Supplier#000000704, n_name = ROMANIA, p_partkey = 3450, p_mfgr = Manufacturer#4, s_address = hQvlBqbqqnA5Dgo1BffRBX78tkkRu, s_phone = 29-300-896-5991, s_comment = ctions. carefully sly requ> -> 1, <s_acctbal = 361.01, s_name = Supplier#000000816, n_name = UNITED KINGDOM, p_partkey = 4561, p_mfgr = Manufacturer#2, s_address = uCvvad6NCkXBUkr28t dtq swXPtu, s_phone = 33-830-680-6168, s_comment = lve furiously according to the final accounts. even accounts on the> -> 1, <s_acctbal = 6089.75, s_name = Supplier#000000148, n_name = GERMANY, p_partkey = 1147, p_mfgr = Manufacturer#1, s_address = bkCBZzewuerw8xHv, s_phone = 17-648-666-9156, s_comment = ckly regular grouches. carefully ironic deposits cajole acc> -> 1, <s_acctbal = 6329.9, s_name = Supplier#000000996, n_name = GERMANY, p_partkey = 8221, p_mfgr = Manufacturer#2, s_address = Wx4dQwOAwWjfSCGupfrM, s_phone = 17-447-811-3282, s_comment =  ironic forges cajole blithely agai> -> 1, <s_acctbal = 449.82, s_name = Supplier#000000468, n_name = FRANCE, p_partkey = 10207, p_mfgr = Manufacturer#2, s_address = T,pwE,skbYjr5DCAD2EfmEHNychqFKw1loF, s_phone = 16-494-568-3545, s_comment = nusual dependencies. blithely even packages are blit> -> 1, <s_acctbal = 9508.37, s_name = Supplier#000000070, n_name = FRANCE, p_partkey = 4561, p_mfgr = Manufacturer#2, s_address = INWNH2w,OOWgNDq0BRCcBwOMQc6PdFDc4, s_phone = 16-821-608-1166, s_comment = ests sleep quickly express ideas. ironic ideas haggle about the final T> -> 1, <s_acctbal = 3855.74, s_name = Supplier#000000815, n_name = GERMANY, p_partkey = 6046, p_mfgr = Manufacturer#5, s_address = 3f8XIvP m9v5fv, s_phone = 17-984-775-9865, s_comment = ms. final packages use finall> -> 1, <s_acctbal = 406.59, s_name = Supplier#000000925, n_name = ROMANIA, p_partkey = 5669, p_mfgr = Manufacturer#1, s_address = x3n4pg,q28EckYO,613G7seoAmTPSX0jTvDvM2U, s_phone = 29-398-723-8226, s_comment = regular packages can haggle acro> -> 1, <s_acctbal = 300.8, s_name = Supplier#000000232, n_name = GERMANY, p_partkey = 2727, p_mfgr = Manufacturer#3, s_address = 90YJjotHlfwyieaTfuBJ8kohU5Oc83bESout,p, s_phone = 17-478-427-3811, s_comment =  asymptotes lose slyly evenly ironic asymptotes-- blithely bol> -> 1, <s_acctbal = 91.39, s_name = Supplier#000000949, n_name = UNITED KINGDOM, p_partkey = 6180, p_mfgr = Manufacturer#2, s_address = a,UE,6nRVl2fCphkOoetR1ajIzAEJ1Aa1G1HV, s_phone = 33-332-697-2768, s_comment = pinto beans. carefully express requests hagg> -> 1, <s_acctbal = 8436.37, s_name = Supplier#000000621, n_name = FRANCE, p_partkey = 5110, p_mfgr = Manufacturer#3, s_address = fjFomMNvcBWHb, s_phone = 16-492-530-5790, s_comment = ns. even, even platelets up the carefully pending platelets u> -> 1, <s_acctbal = 9032.15, s_name = Supplier#000000959, n_name = GERMANY, p_partkey = 10698, p_mfgr = Manufacturer#2, s_address = 8grA EHBnwOZhO, s_phone = 17-108-642-3106, s_comment = nding dependencies nag furiou> -> 1, <s_acctbal = 2753.77, s_name = Supplier#000000180, n_name = GERMANY, p_partkey = 5669, p_mfgr = Manufacturer#1, s_address = JJzFp5wZcS0KpMLM95tYmq5Pv526UBfT8vrfwBk, s_phone = 17-600-237-1665, s_comment = ic deposits wake furiously even, express accounts. slyly express packages detect doggedly> -> 1, <s_acctbal = 4186.95, s_name = Supplier#000000077, n_name = GERMANY, p_partkey = 6308, p_mfgr = Manufacturer#2, s_address = wVtcr0uH3CyrSiWMLsqnB09Syo,UuZxPMeBghlY, s_phone = 17-281-345-4863, s_comment = the slyly final asymptotes. blithely pending theodoli> -> 1, <s_acctbal = 6261.99, s_name = Supplier#000000268, n_name = UNITED KINGDOM, p_partkey = 12743, p_mfgr = Manufacturer#3, s_address = ApLM6aebtP79LIp, s_phone = 33-863-692-9039, s_comment = nic frays use furiously among the final, ironic the> -> 1}

### pandas - 2

In [7]:
single_query_start_time = time()

In [8]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
# import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 14
var2 = 'BRASS'
var3 = 'EUROPE'

part = pd.read_table(rf'{data_path}/part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)
supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
partsupp = pd.read_table(rf'{data_path}/partsupp.tbl', sep='|', index_col=False, header=None, names=pysdql.PARTSUPP_COLS)
nation = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)
region = pd.read_table(rf'{data_path}/region.tbl', sep='|', index_col=False, header=None, names=pysdql.REGION_COLS)

sub_r = region[region['r_name'] == var3]
sub_r.columns.name = 'sub_r'

r1 = partsupp.merge(supplier, left_on='ps_suppkey', right_on='s_suppkey')
r1 = r1.merge(nation, left_on='s_nationkey', right_on='n_nationkey')
r1 = r1.merge(sub_r, left_on='n_regionkey', right_on='r_regionkey')
r1 = r1.groupby(['ps_partkey', 'ps_suppkey'], as_index=False).agg(min_supplycost=('ps_supplycost', 'min'))

r1['min_partkey'] = r1['ps_partkey']
r1['min_suppkey'] = r1['ps_suppkey']

r1 = r1[['min_partkey', 'min_suppkey', 'min_supplycost']]

r1.columns.name = 'r1'

sub_p = part[part['p_size'] == var1]
sub_p = sub_p[sub_p['p_type'].str.endswith(var2)]

sub_p.columns.name = 'sub_p'

r2 = nation.merge(sub_r, left_on='n_regionkey', right_on='r_regionkey')
r2 = r2.merge(supplier, left_on='n_nationkey', right_on='s_nationkey')
r2 = r2.merge(partsupp, left_on='s_suppkey', right_on='ps_suppkey')
r2 = r2.merge(sub_p, left_on='ps_partkey', right_on='p_partkey')

r2.columns.name = 'r2'

r = r1.merge(r2,
             left_on=['min_partkey', 'min_suppkey', 'min_supplycost'],
             right_on=['ps_partkey', 'ps_suppkey', 'ps_supplycost'])

r.columns.name = 'r'

r = r[['s_acctbal', 's_name', 'n_name', 'p_partkey', 'p_mfgr', 's_address', 's_phone', 's_comment']]

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-2').run(r).export().to()

r   s_acctbal              s_name          n_name  p_partkey          p_mfgr  \
0     5069.27  Supplier#000000328         GERMANY        327  Manufacturer#2
1     8702.02  Supplier#000000333          RUSSIA        332  Manufacturer#2
2     6089.75  Supplier#000000148         GERMANY       1147  Manufacturer#1
3      449.82  Supplier#000000468          FRANCE       1216  Manufacturer#4
4      300.80  Supplier#000000232         GERMANY       2727  Manufacturer#3
5     1824.47  Supplier#000000561          RUSSIA       2804  Manufacturer#1
6     3057.29  Supplier#000000740  UNITED KINGDOM       3233  Manufacturer#1
7     -435.02  Supplier#000000295  UNITED KINGDOM       3294  Manufacturer#4
8     5408.07  Supplier#000000623         GERMANY       3369  Manufacturer#3
9     2503.45  Supplier#000000451          FRANCE       3450  Manufacturer#4
10    -845.44  Supplier#000000704         ROMANIA       3450  Manufacturer#4
11    4324.51  Supplier#000000957  UNITED KINGDOM       3450  Manufacturer#4
12    7487.64  Supplier#000000248          FRANCE       4485  Manufacturer#5
13    3057.29  Supplier#000000740  UNITED KINGDOM       4485  Manufacturer#5
14    9508.37  Supplier#000000070          FRANCE       4561  Manufacturer#2
15    4848.52  Supplier#000000562  UNITED KINGDOM       4561  Manufacturer#2
16     361.01  Supplier#000000816  UNITED KINGDOM       4561  Manufacturer#2
17    8436.37  Supplier#000000621          FRANCE       5110  Manufacturer#3
18    1133.80  Supplier#000000634  UNITED KINGDOM       5633  Manufacturer#5
19    2753.77  Supplier#000000180         GERMANY       5669  Manufacturer#1
20     406.59  Supplier#000000925         ROMANIA       5669  Manufacturer#1
21    3855.74  Supplier#000000815         GERMANY       6046  Manufacturer#5
22    9807.53  Supplier#000000437         GERMANY       6180  Manufacturer#2
23      91.39  Supplier#000000949  UNITED KINGDOM       6180  Manufacturer#2
24    4186.95  Supplier#000000077         GERMANY       6308  Manufacturer#2
25    2503.45  Supplier#000000451          FRANCE       6450  Manufacturer#5
26     747.88  Supplier#000000243          FRANCE       6986  Manufacturer#2
27    2214.36  Supplier#000000593          FRANCE       7335  Manufacturer#1
28    -418.50  Supplier#000000630  UNITED KINGDOM       7372  Manufacturer#5
29    6739.52  Supplier#000000202  UNITED KINGDOM       7687  Manufacturer#2
30    3057.29  Supplier#000000740  UNITED KINGDOM       7968  Manufacturer#5
31    7435.07  Supplier#000000738          RUSSIA       8221  Manufacturer#2
32    6329.90  Supplier#000000996         GERMANY       8221  Manufacturer#2
33    -290.06  Supplier#000000040          RUSSIA       8781  Manufacturer#2
34    2253.90  Supplier#000000556          FRANCE       8781  Manufacturer#2
35    6177.35  Supplier#000000053         GERMANY       9534  Manufacturer#2
36     449.82  Supplier#000000468          FRANCE      10207  Manufacturer#2
37    9032.15  Supplier#000000959         GERMANY      10698  Manufacturer#2
38    -113.45  Supplier#000000417          FRANCE      10896  Manufacturer#1
39    4324.51  Supplier#000000957  UNITED KINGDOM      12170  Manufacturer#2
40    8615.50  Supplier#000000812          FRANCE      12549  Manufacturer#5
41    2253.90  Supplier#000000556          FRANCE      12555  Manufacturer#3
42    5571.81  Supplier#000000362  UNITED KINGDOM      12575  Manufacturer#1
43    6261.99  Supplier#000000268  UNITED KINGDOM      12743  Manufacturer#3
44    9459.29  Supplier#000000645         GERMANY      13644  Manufacturer#3
45    8096.98  Supplier#000000574          RUSSIA      14309  Manufacturer#4
46    7392.78  Supplier#000000170  UNITED KINGDOM      14377  Manufacturer#3
47    3855.74  Supplier#000000815         GERMANY      14814  Manufacturer#1
48    9036.47  Supplier#000000546          RUSSIA      15280  Manufacturer#2
49    6116.81  Supplier#000000756         GERMANY      15755  Manufacturer#1
50     824.94  Supplier#000000741         GERMANY      15945  Manufacturer#1
51     856.17  Supplier#000000629         GERMANY      16362  Manufacturer#4
52    3339.18  Supplier#000000270  UNITED KINGDOM      17735  Manufacturer#3
53    7815.06  Supplier#000000939  UNITED KINGDOM      18938  Manufacturer#5
54    1824.47  Supplier#000000561          RUSSIA      19560  Manufacturer#1
55    4518.31  Supplier#000000149          FRANCE      19610  Manufacturer#1

r                                 s_address          s_phone  \
0                               SMm24d WG62  17-231-513-5721
1           MaVf XgwPdkiX4nfJGOis8Uu2zKiIZH  32-508-202-6136
2                          bkCBZzewuerw8xHv  17-648-666-9156
3       T,pwE,skbYjr5DCAD2EfmEHNychqFKw1loF  16-494-568-3545
4    90YJjotHlfwyieaTfuBJ8kohU5Oc83bESout,p  17-478-427-3811
5                       1V3DMQWQpfjPJybZYAP  32-547-343-1231
6         vi82FyqGelGW0G1mpP17eDCBJRgNLvNi   33-714-391-9055
7                     gpm7fahY9j6YyTr Dozul  33-998-989-3147
8              dSSQ3dTYwThbLppbetVUeuPfBIUF  17-593-337-7365
9                            cqMKQiLjokvIFG  16-328-146-7253
10            hQvlBqbqqnA5Dgo1BffRBX78tkkRu  29-300-896-5991
11             mSpFa,4jJ5R40k10YOvGEtl4KYjo  33-616-674-6155
12   vDPBiu4L7hPZxwaEoNW u,zHgXVHvBXFBdfuek  16-646-663-7202
13        vi82FyqGelGW0G1mpP17eDCBJRgNLvNi   33-714-391-9055
14        INWNH2w,OOWgNDq0BRCcBwOMQc6PdFDc4  16-821-608-1166
15                          8TXCtnRQzByqjie  33-782-496-5965
16            uCvvad6NCkXBUkr28t dtq swXPtu  33-830-680-6168
17                            fjFomMNvcBWHb  16-492-530-5790
18      hS62vraooyHWnMKyZV3f1GSPeKJ,7uRK6M5  33-105-608-2902
19  JJzFp5wZcS0KpMLM95tYmq5Pv526UBfT8vrfwBk  17-600-237-1665
20  x3n4pg,q28EckYO,613G7seoAmTPSX0jTvDvM2U  29-398-723-8226
21                           3f8XIvP m9v5fv  17-984-775-9865
22           HuqIk0sK4yC6x5be,cTlPrFqqBCHYf  17-652-134-3031
23    a,UE,6nRVl2fCphkOoetR1ajIzAEJ1Aa1G1HV  33-332-697-2768
24  wVtcr0uH3CyrSiWMLsqnB09Syo,UuZxPMeBghlY  17-281-345-4863
25                           cqMKQiLjokvIFG  16-328-146-7253
26     8aQ3HGeOXxgYeMAXZQe B5y2RKEF5jdmN3Qb  16-554-376-5494
27                 qvlFqgoEMzzksE2uQlchYQ8V  16-262-671-5187
28   6hLBs3Rnd5elLLVv1i p3A2U6G1dkIApKDkiCy  33-522-267-9970
29        NALZjSfea6SY zB1,I09OJYGrA8bwR4pU  33-549-918-5721
30        vi82FyqGelGW0G1mpP17eDCBJRgNLvNi   33-714-391-9055
31          dklvCmHEmlCFTuKU5YNnYAi96v,FMMq  32-910-791-4020
32                     Wx4dQwOAwWjfSCGupfrM  17-447-811-3282
33            zyIeWzbbpkTV37vm1nmSGBxSgd2Kp  32-231-247-6991
34                  g3QRUaiDAI1nQQPJLJfAa9W  16-951-842-4482
35  i9v3 EsYCfLKFU6PIt8iihBOHBB37yR7b3GD7Rt  17-886-101-6083
36      T,pwE,skbYjr5DCAD2EfmEHNychqFKw1loF  16-494-568-3545
37                           8grA EHBnwOZhO  17-108-642-3106
38             b3CbQxCMWWu,YyeQU 51fccuv7Mt  16-563-597-5520
39             mSpFa,4jJ5R40k10YOvGEtl4KYjo  33-616-674-6155
40        8qh4tezyScl5bidLAysvutB,,ZI2dn6xP  16-585-724-6633
41                  g3QRUaiDAI1nQQPJLJfAa9W  16-951-842-4482
42                              XdtN0U5Qm2Z  33-445-749-9918
43                          ApLM6aebtP79LIp  33-863-692-9039
44      blbALMoy2OihlkvD7FtkLXPvTShY9JVtsWT  17-742-832-9508
45              2O8 sy9g2mlBOuEjzj0pA2pevk,  32-866-246-8752
46                         RtsXQ,SunkA XHy9  33-803-340-5398
47                           3f8XIvP m9v5fv  17-984-775-9865
48                        YznQGwWvZbNA0O9ZV  32-679-789-3863
49                ySXGqbQpYbXLoaFMKqIdH5Pai  17-726-757-7711
50                     BLP6zAc29lDLOvSE3 h2  17-292-821-2297
51       SjPnzOlaF3,4u1QAyH1l57EnL,h1IgnmoG  17-533-560-8817
52                      PM P65mhBoeFWkFMi9,  33-682-295-4727
53                       mWBKbdzDn3yJNpOT8p  33-487-125-3117
54                      1V3DMQWQpfjPJybZYAP  32-547-343-1231
55                 pVyWsjOidpHKp4NfKU4yLeym  16-660-553-2456

r                                           s_comment
0            he unusual ideas. slyly final packages a
1   oss the deposits cajole carefully even pinto b...
2   ckly regular grouches. carefully ironic deposi...
3   nusual dependencies. blithely even packages ar...
4    asymptotes lose slyly evenly ironic asymptote...
5   d packages. carefully bold ideas are quickly a...
6                          und the quickly unusual id
7                       en requests according to the
8   ial frays use. carefully special foxes wake ca...
9                         cial packages. pinto beans
10                         ctions. carefully sly requ
11  hily after the fluffily regular dependencies. ...
12                        ss packages are idly about
13                         und the quickly unusual id
14  ests sleep quickly express ideas. ironic ideas...
15                  he furiously special accounts hag
16  lve furiously according to the final accounts....
17  ns. even, even platelets up the carefully pend...
18  equests affix around the blithely special theo...
19  ic deposits wake furiously even, express accou...
20                   regular packages can haggle acro
21                      ms. final packages use finall
22               usly bold deposits about the pending
23       pinto beans. carefully express requests hagg
24  the slyly final asymptotes. blithely pending t...
25                        cial packages. pinto beans
26  kly silent requests among the blithely regular...
27  arefully even ideas sleep quickly. ironic foxe...
28  kly bold notornis; idly even forges wake furio...
29  courts cajole bold, special accounts. bold pac...
30                         und the quickly unusual id
31  usual packages use final, even ideas. carefull...
32                 ironic forges cajole blithely agai
33           final patterns. accounts haggle idly pas
34   silent deposits haggle quickly ironic, final ...
35                  onic, special deposits wake furio
36  nusual dependencies. blithely even packages ar...
37                      nding dependencies nag furiou
38             equests hinder quiet courts. carefully
39  hily after the fluffily regular dependencies. ...
40  y quickly regular deposits? quickly pending pa...
41   silent deposits haggle quickly ironic, final ...
42  e furiously. slowly regular accounts sleep fur...
43  nic frays use furiously among the final, ironi...
44  accounts. blithely unusual pinto beans at the ...
45  ully after the regular requests. slyly final d...
46                   ake carefully across the quickly
47                      ms. final packages use finall
48  es haggle. blithely final theodolites wake bli...
49                          out the final, express id
50                       even, unusual instructions b
51   furiously ironic requests by the furiously re...
52  ss slyly after the fluffily regular packages--...
53  efully. final requests after the unusual reque...
54  d packages. carefully bold ideas are quickly a...
55  ts detect along the foxes. final Tiresias are....

In [9]:
single_query_end_time = time()

single_query_end_time - single_query_start_time

1.4543087482452393

# TPCH - 3 ✅

### SQL - 3

```
select
	l_orderkey,
	sum(l_extendedprice * (1 - l_discount)) as revenue,
	o_orderdate,
	o_shippriority
from
	customer,
	orders,
	lineitem
where
	c_mktsegment = ':1'
	and c_custkey = o_custkey
	and l_orderkey = o_orderkey
	and o_orderdate < date ':2'
	and l_shipdate > date ':2'
group by
	l_orderkey,
	o_orderdate,
	o_shippriority
```

### pysdql - 3

In [10]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'BUILDING'
var2 = '1995-03-22'

customer = pd.read_table(rf'{data_path}/customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)

sub_c = customer[customer['c_mktsegment'] == var1]
sub_c.columns.name = 'sub_c'

sub_o = orders[orders['o_orderdate'] < var2]
sub_o.columns.name = 'sub_o'

sub_l = lineitem[lineitem['l_shipdate'] > var2]
sub_l.columns.name = 'sub_l'

r = sub_c.merge(sub_o, left_on='c_custkey', right_on='o_custkey')
r = r.merge(sub_l, left_on='o_orderkey', right_on='l_orderkey')

r['value'] = r['l_extendedprice'] * (1 - r['l_discount'])

r = r.groupby(['l_orderkey', 'o_orderdate', 'o_shippriority'], as_index=False) \
    .agg(revenue=('value', 'sum'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-3').run(r).export().to()

let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/lineitem.tbl")
let lmp = sum (<lin_k, lin_v> in lineitem) if ((date(19950322) < lin_k.l_shipdate)) then { lin_k -> 1 } else {  }
let sub_l = lmp
let orders = load[{<o_orderkey: int, o_custkey: int, o_orderstatus: string, o_totalprice: double, o_orderdate: date, o_orderpriority: string, o_clerk: string, o_shippriority: int, o_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/orders.tbl")
let omp = sum (<ord_k, ord_v> in orders) if ((ord_k.o_orderdate < date(19950322))) then { ord_k -> 1 } else {  }
let sub_o = omp
let customer = load[{<c_custkey: int, c_name: string, c_address: string, c_nationkey: int, c_phone: string, c_acctbal: double, c_mktsegment: string, c_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/customer.tbl")
let cmp = sum (<cus_k, cus_v> in customer) if ((cus_k.c_mktsegment == "BUILDING")) then { cus_k -> 1 } else {  }
let sub_c = cmp
let part_sub_o = sum (<so_k, so_v> in sub_o) { < o_custkey=so_k.o_custkey > -> { so_k -> so_v } }
let Rm0 = sum (<sc_k, sc_v> in sub_c) if ((part_sub_o(<o_custkey=sc_k.c_custkey>) != {  })) then sum(<p_k, p_v> in part_sub_o(<o_custkey=sc_k.c_custkey>)) { concat(sc_k, p_k) -> sc_v * p_v } else {  }
let part_sub_l = sum (<sl_k, sl_v> in sub_l) { < l_orderkey=sl_k.l_orderkey > -> { sl_k -> sl_v } }
let Rm1 = sum (<r0_k, r0_v> in Rm0) if ((part_sub_l(<l_orderkey=r0_k.o_orderkey>) != {  })) then sum(<p_k, p_v> in part_sub_l(<l_orderkey=r0_k.o_orderkey>)) { concat(r0_k, p_k) -> r0_v * p_v } else {  }
let rmp = sum (<r1_k, r1_v> in Rm1) { concat(r1_k, < value=(r1_k.l_extendedprice * (1 - r1_k.l_discount)) >) -> 1 }
let tmpa = sum (<r_k, r_v> in rmp) { < l_orderkey=r_k.l_orderkey, o_orderdate=r_k.o_orderdate, o_shippriority=r_k.o_shippriority > -> < revenue=promote[nullable[real]](r_k.value * r_v) > }
let agg_rmp = sum (<ta_k, ta_v> in tmpa) { < l_orderkey=ta_k.l_orderkey, o_orderdate=ta_k.o_orderdate, o_shippriority=ta_k.o_shippriority, revenue=promote[real](ta_v.revenue) > -> 1 }
agg_rmp

[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql

[success] Total time: 12 s, completed 2022年7月31日 上午7:11:07
========================================================
pysdql execution time: 26.360775470733643
export sdql script "tpch-3.sdql" to "T:/UG4-Proj/output/tpch-3.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-3.sdql

{<l_orderkey = 29767, o_orderdate = DateValue(19950206), o_shippriority = 0, revenue = 124580.81880000001> -> 1, <l_orderkey = 369831, o_orderdate = DateValue(19950214), o_shippriority = 0, revenue = 69818.0707> -> 1, <l_orderkey = 430243, o_orderdate = DateValue(19941224), o_shippriority = 0, revenue = 32891.7204> -> 1, <l_orderkey = 499138, o_orderdate = DateValue(19950224), o_shippriority = 0, revenue = 94248.67760000001> -> 1, <l_orderkey = 246182, o_orderdate = DateValue(19950218), o_shippriority = 0, revenue = 160790.30599999998> -> 1, <l_orderkey = 369990, o_orderdate = DateValue(19941203), o_shippriority = 0, revenue = 19441.422> -> 1, <l_orderkey = 419552, o_orderdate = DateValue(19950115), o_shippriority = 0, revenue = 117291.0292> -> 1, <l_orderkey = 304868, o_orderdate = DateValue(19950225), o_shippriority = 0, revenue = 15501.4074> -> 1, <l_orderkey = 229956, o_orderdate = DateValue(19950321), o_shippriority = 0, revenue = 122910.1484> -> 1, <l_orderkey = 60741, o_orderdate = DateValue(19950106), o_shippriority = 0, revenue = 48510.72> -> 1, <l_orderkey = 157477, o_orderdate = DateValue(19950223), o_shippriority = 0, revenue = 141140.27430000002> -> 1, <l_orderkey = 181440, o_orderdate = DateValue(19950222), o_shippriority = 0, revenue = 50547.295999999995> -> 1, <l_orderkey = 421509, o_orderdate = DateValue(19950306), o_shippriority = 0, revenue = 146469.9744> -> 1, <l_orderkey = 230691, o_orderdate = DateValue(19950121), o_shippriority = 0, revenue = 213276.0592> -> 1, <l_orderkey = 264160, o_orderdate = DateValue(19941219), o_shippriority = 0, revenue = 22376.3092> -> 1, <l_orderkey = 138018, o_orderdate = DateValue(19941228), o_shippriority = 0, revenue = 57673.3014> -> 1, <l_orderkey = 315873, o_orderdate = DateValue(19950223), o_shippriority = 0, revenue = 138155.0809> -> 1, <l_orderkey = 440803, o_orderdate = DateValue(19950215), o_shippriority = 0, revenue = 245871.8289> -> 1, <l_orderkey = 411714, o_orderdate = DateValue(19950116), o_shippriority = 0, revenue = 114012.87479999999> -> 1, <l_orderkey = 215331, o_orderdate = DateValue(19950210), o_shippriority = 0, revenue = 164484.17699999997> -> 1, <l_orderkey = 401735, o_orderdate = DateValue(19950309), o_shippriority = 0, revenue = 117738.4799> -> 1, <l_orderkey = 370374, o_orderdate = DateValue(19941223), o_shippriority = 0, revenue = 30753.6> -> 1, <l_orderkey = 123910, o_orderdate = DateValue(19950218), o_shippriority = 0, revenue = 279694.90339999995> -> 1, <l_orderkey = 349602, o_orderdate = DateValue(19941216), o_shippriority = 0, revenue = 8572.127999999999> -> 1, <l_orderkey = 561607, o_orderdate = DateValue(19950124), o_shippriority = 0, revenue = 76265.328> -> 1, <l_orderkey = 196803, o_orderdate = DateValue(19950116), o_shippriority = 0, revenue = 54810.74399999999> -> 1, <l_orderkey = 584388, o_orderdate = DateValue(19950219), o_shippriority = 0, revenue = 52977.555400000005> -> 1, <l_orderkey = 423270, o_orderdate = DateValue(19950321), o_shippriority = 0, revenue = 137046.6903> -> 1, <l_orderkey = 456385, o_orderdate = DateValue(19941230), o_shippriority = 0, revenue = 139018.14839999998> -> 1, <l_orderkey = 492130, o_orderdate = DateValue(19950205), o_shippriority = 0, revenue = 45333.524600000004> -> 1, <l_orderkey = 169793, o_orderdate = DateValue(19950127), o_shippriority = 0, revenue = 34260.43199999999> -> 1, <l_orderkey = 336256, o_orderdate = DateValue(19950106), o_shippriority = 0, revenue = 35767.2666> -> 1, <l_orderkey = 564519, o_orderdate = DateValue(19950107), o_shippriority = 0, revenue = 154401.77989999996> -> 1, <l_orderkey = 243140, o_orderdate = DateValue(19950115), o_shippriority = 0, revenue = 167350.797> -> 1, <l_orderkey = 288518, o_orderdate = DateValue(19950308), o_shippriority = 0, revenue = 113244.1202> -> 1, <l_orderkey = 130596, o_orderdate = DateValue(19950122), o_shippriority = 0, revenue = 44576.5275> -> 1, <l_orderkey = 162114, o_orderdate = DateValue(19950106), o_shippriority = 0, revenue = 38363.5> -> 1, <l_orderkey = 438342, o_orderdate = DateValue(19950226), o_shippriority = 0, revenue = 160790.60439999998> -> 1, <l_orderkey = 532067, o_orderdate = DateValue(19950119), o_shippriority = 0, revenue = 45167.82719999999> -> 1, <l_orderkey = 214945, o_orderdate = DateValue(19950209), o_shippriority = 0, revenue = 31225.521599999996> -> 1, <l_orderkey = 121604, o_orderdate = DateValue(19950307), o_shippriority = 0, revenue = 267514.243> -> 1, <l_orderkey = 297447, o_orderdate = DateValue(19950127), o_shippriority = 0, revenue = 135725.0996> -> 1, <l_orderkey = 339395, o_orderdate = DateValue(19950211), o_shippriority = 0, revenue = 49755.1152> -> 1, <l_orderkey = 75075, o_orderdate = DateValue(19950109), o_shippriority = 0, revenue = 18733.974> -> 1, <l_orderkey = 495556, o_orderdate = DateValue(19950208), o_shippriority = 0, revenue = 90094.2432> -> 1, <l_orderkey = 434176, o_orderdate = DateValue(19950113), o_shippriority = 0, revenue = 84438.856> -> 1, <l_orderkey = 516614, o_orderdate = DateValue(19950227), o_shippriority = 0, revenue = 134277.8604> -> 1, <l_orderkey = 130629, o_orderdate = DateValue(19941221), o_shippriority = 0, revenue = 13325.477099999998> -> 1, <l_orderkey = 249702, o_orderdate = DateValue(19950317), o_shippriority = 0, revenue = 1090.936> -> 1, <l_orderkey = 144773, o_orderdate = DateValue(19950222), o_shippriority = 0, revenue = 25767.9336> -> 1, <l_orderkey = 332002, o_orderdate = DateValue(19950312), o_shippriority = 0, revenue = 47717.560999999994> -> 1, <l_orderkey = 25188, o_orderdate = DateValue(19950104), o_shippriority = 0, revenue = 179626.4352> -> 1, <l_orderkey = 266598, o_orderdate = DateValue(19950105), o_shippriority = 0, revenue = 220930.9902> -> 1, <l_orderkey = 393669, o_orderdate = DateValue(19941203), o_shippriority = 0, revenue = 60793.710699999996> -> 1, <l_orderkey = 245575, o_orderdate = DateValue(19950103), o_shippriority = 0, revenue = 24727.5392> -> 1, <l_orderkey = 257281, o_orderdate = DateValue(19950114), o_shippriority = 0, revenue = 25528.4018> -> 1, <l_orderkey = 521315, o_orderdate = DateValue(19950305), o_shippriority = 0, revenue = 174465.5948> -> 1, <l_orderkey = 133795, o_orderdate = DateValue(19950306), o_shippriority = 0, revenue = 142121.79140000002> -> 1, <l_orderkey = 400870, o_orderdate = DateValue(19950312), o_shippriority = 0, revenue = 74165.61600000001> -> 1, <l_orderkey = 329863, o_orderdate = DateValue(19950128), o_shippriority = 0, revenue = 56360.6722> -> 1, <l_orderkey = 599552, o_orderdate = DateValue(19950228), o_shippriority = 0, revenue = 37092.17> -> 1, <l_orderkey = 106434, o_orderdate = DateValue(19941219), o_shippriority = 0, revenue = 9479.106> -> 1, <l_orderkey = 60450, o_orderdate = DateValue(19950110), o_shippriority = 0, revenue = 43658.4464> -> 1, <l_orderkey = 348452, o_orderdate = DateValue(19950210), o_shippriority = 0, revenue = 93765.8898> -> 1, <l_orderkey = 433063, o_orderdate = DateValue(19950120), o_shippriority = 0, revenue = 111746.40299999999> -> 1, <l_orderkey = 219013, o_orderdate = DateValue(19950206), o_shippriority = 0, revenue = 44369.15639999999> -> 1, <l_orderkey = 457637, o_orderdate = DateValue(19941205), o_shippriority = 0, revenue = 50609.4862> -> 1, <l_orderkey = 342759, o_orderdate = DateValue(19950224), o_shippriority = 0, revenue = 81517.10399999999> -> 1, <l_orderkey = 424260, o_orderdate = DateValue(19941228), o_shippriority = 0, revenue = 105879.4227> -> 1, <l_orderkey = 505093, o_orderdate = DateValue(19950305), o_shippriority = 0, revenue = 228949.3483> -> 1, <l_orderkey = 357543, o_orderdate = DateValue(19941222), o_shippriority = 0, revenue = 67790.75039999999> -> 1, <l_orderkey = 275239, o_orderdate = DateValue(19941227), o_shippriority = 0, revenue = 32713.065599999998> -> 1, <l_orderkey = 50949, o_orderdate = DateValue(19950205), o_shippriority = 0, revenue = 124577.92629999999> -> 1, <l_orderkey = 470691, o_orderdate = DateValue(19950219), o_shippriority = 0, revenue = 89318.23199999999> -> 1, <l_orderkey = 530593, o_orderdate = DateValue(19950208), o_shippriority = 0, revenue = 43941.2328> -> 1, <l_orderkey = 65766, o_orderdate = DateValue(19950311), o_shippriority = 0, revenue = 185696.30699999997> -> 1, <l_orderkey = 346944, o_orderdate = DateValue(19950105), o_shippriority = 0, revenue = 93232.032> -> 1, <l_orderkey = 16481, o_orderdate = DateValue(19950219), o_shippriority = 0, revenue = 82119.915> -> 1, <l_orderkey = 393728, o_orderdate = DateValue(19941231), o_shippriority = 0, revenue = 84110.24399999999> -> 1, <l_orderkey = 197286, o_orderdate = DateValue(19950321), o_shippriority = 0, revenue = 177445.19660000002> -> 1, <l_orderkey = 199109, o_orderdate = DateValue(19941209), o_shippriority = 0, revenue = 18815.979000000003> -> 1, <l_orderkey = 468675, o_orderdate = DateValue(19950115), o_shippriority = 0, revenue = 52811.299199999994> -> 1, <l_orderkey = 267268, o_orderdate = DateValue(19950110), o_shippriority = 0, revenue = 15695.65> -> 1, <l_orderkey = 195044, o_orderdate = DateValue(19950104), o_shippriority = 0, revenue = 152884.84230000002> -> 1, <l_orderkey = 126593, o_orderdate = DateValue(19941220), o_shippriority = 0, revenue = 45420.44039999999> -> 1, <l_orderkey = 354311, o_orderdate = DateValue(19941202), o_shippriority = 0, revenue = 43407.738> -> 1, <l_orderkey = 573056, o_orderdate = DateValue(19950224), o_shippriority = 0, revenue = 137702.286> -> 1, <l_orderkey = 404614, o_orderdate = DateValue(19950219), o_shippriority = 0, revenue = 65333.31539999999> -> 1, <l_orderkey = 444707, o_orderdate = DateValue(19950320), o_shippriority = 0, revenue = 42024.7916> -> 1, <l_orderkey = 488928, o_orderdate = DateValue(19950215), o_shippriority = 0, revenue = 109723.50349999999> -> 1, <l_orderkey = 157154, o_orderdate = DateValue(19950120), o_shippriority = 0, revenue = 69746.004> -> 1, <l_orderkey = 405444, o_orderdate = DateValue(19941202), o_shippriority = 0, revenue = 47097.54> -> 1, <l_orderkey = 283362, o_orderdate = DateValue(19950302), o_shippriority = 0, revenue = 12562.531799999999> -> 1, <l_orderkey = 491072, o_orderdate = DateValue(19941206), o_shippriority = 0, revenue = 89867.105> -> 1, <l_orderkey = 543495, o_orderdate = DateValue(19941214), o_shippriority = 0, revenue = 14247.395999999999> -> 1, <l_orderkey = 556609, o_orderdate = DateValue(19941128), o_shippriority = 0, revenue = 58489.56> -> 1, <l_orderkey = 472866, o_orderdate = DateValue(19950220), o_shippriority = 0, revenue = 150451.5564> -> 1, <l_orderkey = 263075, o_orderdate = DateValue(19950110), o_shippriority = 0, revenue = 52311.0588> -> 1, <l_orderkey = 288898, o_orderdate = DateValue(19941220), o_shippriority = 0, revenue = 58595.22900000001> -> 1, <l_orderkey = 591301, o_orderdate = DateValue(19941130), o_shippriority = 0, revenue = 25345.615499999996> -> 1, <l_orderkey = 435521, o_orderdate = DateValue(19941227), o_shippriority = 0, revenue = 35315.28> -> 1, <l_orderkey = 509217, o_orderdate = DateValue(19950110), o_shippriority = 0, revenue = 180202.968> -> 1, <l_orderkey = 136358, o_orderdate = DateValue(19941231), o_shippriority = 0, revenue = 68547.46220000001> -> 1, <l_orderkey = 133925, o_orderdate = DateValue(19950216), o_shippriority = 0, revenue = 144075.9707> -> 1, <l_orderkey = 58341, o_orderdate = DateValue(19950209), o_shippriority = 0, revenue = 3479.8218> -> 1, <l_orderkey = 387687, o_orderdate = DateValue(19941126), o_shippriority = 0, revenue = 29557.92> -> 1, <l_orderkey = 573861, o_orderdate = DateValue(19950309), o_shippriority = 0, revenue = 269665.349> -> 1, <l_orderkey = 511617, o_orderdate = DateValue(19941223), o_shippriority = 0, revenue = 121328.41080000001> -> 1, <l_orderkey = 43392, o_orderdate = DateValue(19950101), o_shippriority = 0, revenue = 47980.82519999999> -> 1, <l_orderkey = 542754, o_orderdate = DateValue(19950116), o_shippriority = 0, revenue = 29833.9392> -> 1, <l_orderkey = 15300, o_orderdate = DateValue(19950209), o_shippriority = 0, revenue = 90540.95360000001> -> 1, <l_orderkey = 445154, o_orderdate = DateValue(19950225), o_shippriority = 0, revenue = 105215.8107> -> 1, <l_orderkey = 99781, o_orderdate = DateValue(19950124), o_shippriority = 0, revenue = 164179.0226> -> 1, <l_orderkey = 303075, o_orderdate = DateValue(19950221), o_shippriority = 0, revenue = 146796.0788> -> 1, <l_orderkey = 549026, o_orderdate = DateValue(19950319), o_shippriority = 0, revenue = 26186.2848> -> 1, <l_orderkey = 405063, o_orderdate = DateValue(19950303), o_shippriority = 0, revenue = 279357.1827> -> 1, <l_orderkey = 364294, o_orderdate = DateValue(19950321), o_shippriority = 0, revenue = 189168.53089999998> -> 1, <l_orderkey = 190625, o_orderdate = DateValue(19950228), o_shippriority = 0, revenue = 92792.72159999999> -> 1, <l_orderkey = 83333, o_orderdate = DateValue(19950205), o_shippriority = 0, revenue = 153171.56300000002> -> 1, <l_orderkey = 240133, o_orderdate = DateValue(19941231), o_shippriority = 0, revenue = 100322.7162> -> 1, <l_orderkey = 44418, o_orderdate = DateValue(19950201), o_shippriority = 0, revenue = 179203.33419999998> -> 1, <l_orderkey = 534049, o_orderdate = DateValue(19950312), o_shippriority = 0, revenue = 149599.6612> -> 1, <l_orderkey = 184770, o_orderdate = DateValue(19941204), o_shippriority = 0, revenue = 85786.897> -> 1, <l_orderkey = 130663, o_orderdate = DateValue(19950107), o_shippriority = 0, revenue = 7092.897> -> 1, <l_orderkey = 393792, o_orderdate = DateValue(19950309), o_shippriority = 0, revenue = 72445.4657> -> 1, <l_orderkey = 333857, o_orderdate = DateValue(19950303), o_shippriority = 0, revenue = 200813.6888> -> 1, <l_orderkey = 138502, o_orderdate = DateValue(19950103), o_shippriority = 0, revenue = 69753.1606> -> 1, <l_orderkey = 576356, o_orderdate = DateValue(19950208), o_shippriority = 0, revenue = 174105.8217> -> 1, <l_orderkey = 521351, o_orderdate = DateValue(19950218), o_shippriority = 0, revenue = 38909.297399999996> -> 1, <l_orderkey = 413410, o_orderdate = DateValue(19950115), o_shippriority = 0, revenue = 28955.491199999997> -> 1, <l_orderkey = 147553, o_orderdate = DateValue(19950306), o_shippriority = 0, revenue = 149868.4709> -> 1, <l_orderkey = 260930, o_orderdate = DateValue(19950312), o_shippriority = 0, revenue = 309151.2029> -> 1, <l_orderkey = 158055, o_orderdate = DateValue(19950225), o_shippriority = 0, revenue = 78733.60859999999> -> 1, <l_orderkey = 194310, o_orderdate = DateValue(19950321), o_shippriority = 0, revenue = 15397.110000000002> -> 1, <l_orderkey = 10213, o_orderdate = DateValue(19950218), o_shippriority = 0, revenue = 24291.0708> -> 1, <l_orderkey = 388640, o_orderdate = DateValue(19950112), o_shippriority = 0, revenue = 123239.75090000001> -> 1, <l_orderkey = 499683, o_orderdate = DateValue(19941227), o_shippriority = 0, revenue = 73023.489> -> 1, <l_orderkey = 263719, o_orderdate = DateValue(19950213), o_shippriority = 0, revenue = 30014.319199999998> -> 1, <l_orderkey = 432676, o_orderdate = DateValue(19950207), o_shippriority = 0, revenue = 105387.904> -> 1, <l_orderkey = 64293, o_orderdate = DateValue(19950310), o_shippriority = 0, revenue = 182363.4768> -> 1, <l_orderkey = 577122, o_orderdate = DateValue(19941219), o_shippriority = 0, revenue = 63807.09> -> 1, <l_orderkey = 552610, o_orderdate = DateValue(19941223), o_shippriority = 0, revenue = 45508.936200000004> -> 1, <l_orderkey = 342020, o_orderdate = DateValue(19950208), o_shippriority = 0, revenue = 165173.4766> -> 1, <l_orderkey = 387303, o_orderdate = DateValue(19941223), o_shippriority = 0, revenue = 70232.2818> -> 1, <l_orderkey = 227238, o_orderdate = DateValue(19950216), o_shippriority = 0, revenue = 193246.7921> -> 1, <l_orderkey = 378689, o_orderdate = DateValue(19950205), o_shippriority = 0, revenue = 94866.6643> -> 1, <l_orderkey = 348263, o_orderdate = DateValue(19950316), o_shippriority = 0, revenue = 41824.752799999995> -> 1, <l_orderkey = 513027, o_orderdate = DateValue(19941220), o_shippriority = 0, revenue = 55314.58660000001> -> 1, <l_orderkey = 348772, o_orderdate = DateValue(19950302), o_shippriority = 0, revenue = 208532.8104> -> 1, <l_orderkey = 505189, o_orderdate = DateValue(19950102), o_shippriority = 0, revenue = 145159.9723> -> 1, <l_orderkey = 284263, o_orderdate = DateValue(19950131), o_shippriority = 0, revenue = 89884.1073> -> 1, <l_orderkey = 58049, o_orderdate = DateValue(19950307), o_shippriority = 0, revenue = 166970.0414> -> 1, <l_orderkey = 132103, o_orderdate = DateValue(19950314), o_shippriority = 0, revenue = 234437.10849999997> -> 1, <l_orderkey = 287170, o_orderdate = DateValue(19950101), o_shippriority = 0, revenue = 98545.3018> -> 1, <l_orderkey = 477345, o_orderdate = DateValue(19941219), o_shippriority = 0, revenue = 42259.252799999995> -> 1, <l_orderkey = 97057, o_orderdate = DateValue(19950314), o_shippriority = 0, revenue = 57218.989100000006> -> 1, <l_orderkey = 447425, o_orderdate = DateValue(19950301), o_shippriority = 0, revenue = 89159.56339999998> -> 1, <l_orderkey = 167330, o_orderdate = DateValue(19950214), o_shippriority = 0, revenue = 29378.911999999997> -> 1, <l_orderkey = 504994, o_orderdate = DateValue(19950128), o_shippriority = 0, revenue = 36878.301999999996> -> 1, <l_orderkey = 562852, o_orderdate = DateValue(19950131), o_shippriority = 0, revenue = 125766.1314> -> 1, <l_orderkey = 392096, o_orderdate = DateValue(19950310), o_shippriority = 0, revenue = 10776.402> -> 1, <l_orderkey = 457056, o_orderdate = DateValue(19950103), o_shippriority = 0, revenue = 76552.752> -> 1, <l_orderkey = 408067, o_orderdate = DateValue(19950311), o_shippriority = 0, revenue = 110420.114> -> 1, <l_orderkey = 476932, o_orderdate = DateValue(19950218), o_shippriority = 0, revenue = 181388.316> -> 1, <l_orderkey = 396935, o_orderdate = DateValue(19941224), o_shippriority = 0, revenue = 36239.704> -> 1, <l_orderkey = 88866, o_orderdate = DateValue(19950204), o_shippriority = 0, revenue = 8572.6291> -> 1, <l_orderkey = 523106, o_orderdate = DateValue(19950301), o_shippriority = 0, revenue = 122603.9656> -> 1, <l_orderkey = 171269, o_orderdate = DateValue(19950320), o_shippriority = 0, revenue = 211073.605> -> 1, <l_orderkey = 289506, o_orderdate = DateValue(19950218), o_shippriority = 0, revenue = 197451.9327> -> 1, <l_orderkey = 109735, o_orderdate = DateValue(19950127), o_shippriority = 0, revenue = 138591.81530000002> -> 1, <l_orderkey = 237799, o_orderdate = DateValue(19950316), o_shippriority = 0, revenue = 47116.6848> -> 1, <l_orderkey = 226405, o_orderdate = DateValue(19950219), o_shippriority = 0, revenue = 163174.35820000002> -> 1, <l_orderkey = 210438, o_orderdate = DateValue(19950128), o_shippriority = 0, revenue = 53351.081> -> 1, <l_orderkey = 42883, o_orderdate = DateValue(19950127), o_shippriority = 0, revenue = 31076.879399999998> -> 1, <l_orderkey = 492262, o_orderdate = DateValue(19950216), o_shippriority = 0, revenue = 99977.1936> -> 1, <l_orderkey = 546629, o_orderdate = DateValue(19950314), o_shippriority = 0, revenue = 63694.17600000001> -> 1, <l_orderkey = 487682, o_orderdate = DateValue(19950316), o_shippriority = 0, revenue = 122186.26800000001> -> 1, <l_orderkey = 138821, o_orderdate = DateValue(19950125), o_shippriority = 0, revenue = 23518.04> -> 1, <l_orderkey = 277632, o_orderdate = DateValue(19950126), o_shippriority = 0, revenue = 105995.439> -> 1, <l_orderkey = 361665, o_orderdate = DateValue(19950220), o_shippriority = 0, revenue = 149834.7414> -> 1, <l_orderkey = 451236, o_orderdate = DateValue(19941223), o_shippriority = 0, revenue = 31607.703999999994> -> 1, <l_orderkey = 445280, o_orderdate = DateValue(19950319), o_shippriority = 0, revenue = 155380.1809> -> 1, <l_orderkey = 14022, o_orderdate = DateValue(19950214), o_shippriority = 0, revenue = 78955.14059999998> -> 1, <l_orderkey = 34433, o_orderdate = DateValue(19950120), o_shippriority = 0, revenue = 67167.5628> -> 1, <l_orderkey = 338372, o_orderdate = DateValue(19950303), o_shippriority = 0, revenue = 186139.0465> -> 1, <l_orderkey = 460737, o_orderdate = DateVa

### pandas - 3

In [11]:
single_query_start_time = time()

In [12]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
# import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'BUILDING'
var2 = '1995-03-22'

customer = pd.read_table(rf'{data_path}/customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)

sub_c = customer[customer['c_mktsegment'] == var1]
sub_c.columns.name = 'sub_c'

sub_o = orders[orders['o_orderdate'] < var2]
sub_o.columns.name = 'sub_o'

sub_l = lineitem[lineitem['l_shipdate'] > var2]
sub_l.columns.name = 'sub_l'

r = sub_c.merge(sub_o, left_on='c_custkey', right_on='o_custkey')
r = r.merge(sub_l, left_on='o_orderkey', right_on='l_orderkey')

r['value'] = r['l_extendedprice'] * (1 - r['l_discount'])

r = r.groupby(['l_orderkey', 'o_orderdate', 'o_shippriority'], as_index=False) \
    .agg(revenue=('value', 'sum'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-3').run(r).export().to()

      l_orderkey o_orderdate  o_shippriority      revenue
0            775  1995-03-18               0   73284.9948
1            802  1995-01-05               0   18951.2916
2            928  1995-03-02               0  283957.8779
3           1281  1994-12-11               0   44370.6240
4           1637  1995-02-08               0  123214.9015
5           2818  1994-12-12               0    6402.7348
6           2982  1995-03-19               0   83657.9646
7           4006  1995-01-04               0   14457.2615
8           5188  1995-03-02               0   43240.5234
9           5985  1995-01-12               0    5803.8344
10          6022  1995-02-13               0  153150.8648
11          6241  1994-12-30               0   35699.5188
12          6663  1995-02-03               0   70368.0594
13          8195  1995-01-07               0  103370.8476
14          8263  1995-01-27               0   93273.9312
15          8775  1995-02-04               0   71515.5250
16          9221  1995-01-04               0  125105.4384
17          9411  1995-02-07               0   31997.8750
18          9824  1995-01-23               0   31483.1241
19          9953  1995-02-28               0    3487.1018
20         10213  1995-02-18               0   24291.0708
21         11043  1995-02-20               0   58060.3290
22         11073  1994-12-02               0    7303.5690
23         11617  1994-12-11               0   58485.8904
24         11718  1994-12-19               0   31273.0000
25         12326  1995-02-03               0  129482.1516
26         12868  1995-03-02               0  173952.6010
27         14022  1995-02-14               0   78955.1406
28         14178  1995-01-01               0    9050.2902
29         14693  1995-01-10               0   35138.5200
30         15111  1994-12-18               0   53513.5237
31         15205  1995-03-18               0  289409.1310
32         15300  1995-02-09               0   90540.9536
33         16481  1995-02-19               0   82119.9150
34         16642  1995-03-03               0   53421.7819
35         19393  1995-01-15               0   36063.1400
36         20262  1994-12-27               0   75425.1316
37         20641  1995-02-20               0  190115.0808
38         20901  1995-03-21               0   76546.4656
39         21091  1994-12-13               0   11799.7978
40         21219  1995-01-17               0  130561.8831
41         21606  1995-01-23               0  172934.9641
42         22532  1995-02-09               0   32288.5122
43         22753  1995-03-18               0   59414.1888
44         23556  1995-01-10               0   50232.6296
45         23968  1995-03-05               0  201128.1357
46         24070  1995-03-16               0  144620.1297
47         24484  1995-01-12               0   89217.4892
48         24548  1995-03-15               0   14738.9616
49         24960  1995-01-28               0  267749.4280
50         25188  1995-01-04               0  179626.4352
51         25669  1995-01-17               0  165914.0347
52         25858  1995-01-31               0  125207.2227
53         26304  1995-03-20               0  301298.4010
54         26529  1995-01-29               0   36368.1641
55         27430  1995-02-01               0   37816.8560
56         27622  1995-02-07               0   70850.9340
57         27975  1995-02-13               0  110667.4772
58         28003  1995-03-20               0  188618.0847
59         28037  1994-12-13               0   17387.5779
60         28195  1994-12-21               0    4140.5808
61         29028  1995-02-06               0  166281.1316
62         29767  1995-02-06               0  124580.8188
63         29958  1995-01-07               0   81001.9080
64         32128  1995-01-22               0   90378.7220
65         32484  1995-02-05               0   45480.2065
66         32546  1995-03-19               0  123783.2860
67         32578  1995-02-06               0   38363.9850
68         34433  1995-01-20               0   67167.5628
69         35617  1995-02-01               0   15673.8744
70         36258  1995-02-10               0   69483.7584
71         36416  1994-12-01               0   17662.3180
72         36454  1995-02-19               0   20749.4700
73         38400  1994-12-15               0  101908.8375
74         38882  1994-12-15               0   14792.2944
75         40001  1995-02-25               0   96317.2308
76         40034  1995-03-11               0   61076.2279
77         40039  1994-12-14               0   58021.1520
78         40225  1995-01-10               0   14323.4432
79         41926  1995-02-06               0  138466.3140
80         42117  1995-02-19               0   77636.6064
81         42852  1994-12-21               0   67332.2202
82         42883  1995-01-27               0   31076.8794
83         43204  1994-12-05               0   19162.1256
84         43392  1995-01-01               0   47980.8252
85         43491  1995-03-09               0  147158.4988
86         44418  1995-02-01               0  179203.3342
87         44610  1995-03-11               0  215341.8178
88         44612  1995-03-14               0  143151.9289
89         45442  1995-02-07               0   48078.3000
90         46115  1995-03-03               0  277102.7717
91         46116  1995-01-08               0   75495.0030
92         46307  1995-02-07               0  167635.2176
93         46755  1995-02-07               0  107596.0620
94         47136  1995-01-25               0  105468.3306
95         47525  1995-03-04               0  216808.1936
96         47876  1994-12-26               0   37714.9500
97         49734  1995-01-24               0    8357.5380
98         49763  1995-02-14               0  143733.4900
99         50945  1995-01-08               0   22292.9616
100        50949  1995-02-05               0  124577.9263
101        51461  1995-02-11               0  189661.3076
102        51777  1995-02-20               0  155089.5880
103        52391  1994-12-13               0   15594.2616
104        52482  1995-02-01               0   36852.9352
105        53634  1995-02-22               0   15295.9936
106        53955  1995-03-05               0   25623.2670
107        56803  1994-12-11               0   46921.4016
108        57029  1995-03-09               0   62876.0604
109        57378  1994-12-29               0   67295.6640
110        58049  1995-03-07               0  166970.0414
111        58341  1995-02-09               0    3479.8218
112        59843  1995-02-14               0  108621.4594
113        60033  1995-01-24               0   39932.2430
114        60450  1995-01-10               0   43658.4464
115        60741  1995-01-06               0   48510.7200
116        60929  1994-12-18               0   39595.5280
117        61121  1994-12-20               0   71592.1920
118        61731  1995-03-17               0   32213.2650
119        62116  1995-03-04               0   66065.1084
120        62980  1994-12-21               0    2816.3408
121        63815  1995-02-07               0  155471.0376
122        63841  1995-03-20               0  104783.2508
123        64293  1995-03-10               0  182363.4768
124        64452  1995-02-16               0    5406.3645
125        64999  1995-01-23               0   33289.5376
126        65478  1994-12-07               0   10172.5470
127        65766  1995-03-11               0  185696.3070
128        66752  1995-01-19               0  156563.4969
129        69603  1994-12-18               0  132162.3330
130        70562  1995-03-02               0   87538.9911
131        72867  1995-03-11               0  159067.1252
132        73863  1995-02-22               0   49203.5100
133        74177  1994-12-12               0  131868.2318
134        74277  1994-12-07               0   34369.5560
135        74789  1995-01-28               0   49215.3024
136        74819  1994-12-09               0   75934.1305
137        75075  1995-01-09               0   18733.9740
138        75846  1995-02-19               0  101065.0938
139        75936  1995-01-30               0   56232.0192
140        76357  1995-02-15               0   31857.3000
141        76483  1995-03-05               0   81551.4854
142        77092  1995-02-19               0   95794.3008
143        77510  1995-02-18               0  223684.1701
144        77698  1995-01-31               0   75790.7241
145        78080  1995-02-28               0   98086.2185
146        78692  1995-03-01               0   34136.2500
147        78850  1995-01-14               0   50877.1764
148        78916  1995-01-24               0  279216.8418
149        79043  1995-03-17               0  162283.6168
150        79492  1995-03-21               0   43142.1801
151        80196  1994-12-24               0   54012.4312
152        80961  1995-02-02               0  156103.9978
153        81728  1995-03-08               0   53564.4288
154        82150  1995-02-23               0   54487.8282
155        82981  1995-03-12               0  106415.8218
156        83108  1995-03-20               0   86447.4324
157        83333  1995-02-05               0  153171.5630
158        84263  1995-01-25               0   49040.0820
159        86370  1994-12-06               0   38207.3760
160        86754  1995-01-25               0   74051.3532
161        87238  1994-11-30               0   50438.8764
162        87490  1995-02-17               0   42851.9700
163        88165  1994-12-22               0   57473.8192
164        88325  1995-03-01               0   53814.8874
165        88519  1994-12-11               0   38111.3875
166        88647  1995-01-21               0    6112.7072
167        88866  1995-02-04               0    8572.6291
168        89185  1995-01-15               0   30579.9456
169        89383  1995-01-29               0  117283.7715
170        90113  1994-12-29               0   18927.1929
171        90500  1995-01-18               0   36201.3168
172        91142  1995-01-01               0   71425.3642
173        92288  1995-01-29               0   50773.3960
174        92294  1995-02-15               0   90985.0090
175        92419  1995-02-04               0   26506.1160
176        93187  1995-01-30               0  119460.6840
177        93382  1995-01-21               0  199644.7382
178        94534  1995-02-25               0   86276.4796
179        96515  1995-03-12               0  149745.1350
180        96902  1995-01-25               0   70746.9065
181        97057  1995-03-14               0   57218.9891
182        98279  1995-03-09               0  264542.9405
183        99716  1995-03-03               0   65628.1727
184        99781  1995-01-24               0  164179.0226
185       101829  1995-03-18               0  102758.1146
186       101862  1995-01-06               0   41350.6796
187       102087  1995-03-09               0   46976.9850
188       102944  1995-02-11               0   72578.7530
189       103075  1995-01-30               0   69976.1378
190       103749  1994-12-27               0    7271.7120
191       103808  1995-01-25               0  115515.5173
192       103938  1995-02-09               0   35002.6910
193       103943  1995-02-10               0  181646.2904
194       104612  1995-01-10               0  227118.6482
195       104935  1995-02-10               0   55246.3380
196       105221  1995-03-04               0  182832.9898
197       105860  1994-12-30               0   15070.3540
198       105952  1995-02-12               0  113720.1670
199       106434  1994-12-19               0    9479.1060
200       106790  1994-12-27               0   84345.4330
201       107457  1995-03-17               0  275496.3768
202       107779  1994-12-09               0   59824.2960
203       108514  1995-02-20               0  314967.0754
204       109157  1995-02-11               0  105610.3230
205       109735  1995-01-27               0  138591.8153
206       111463  1995-02-22               0  153421.5500
207       112642  1994-12-01               0   35442.1060
208       113409  1995-03-01               0  113442.1701
209       114208  1995-03-13               0  134769.6558
210       114343  1995-02-09               0  164012.7320
211       114439  1995-02-21               0   56160.6948
212       114726  1994-12-01               0    8451.8280
213       115009  1994-12-14               0  157872.2658
214       115810  1995-02-16               0  209653.6452
215       116995  1994-12-08               0   31933.2342
216       117734  1995-01-07               0  133959.5802
217       119138  1995-02-25               0  167839.9049
218       120004  1995-03-15               0   35510.1600
219       120903  1995-03-02               0   91816.8950
220       121088  1995-01-17               0   87065.6747
221       121382  1995-02-09               0  102565.3222
222       121604  1995-03-07               0  267514.2430
223       121895  1995-01-14               0   95029.0788
224       122148  1995-02-02               0   85418.3100
225       123077  1995-03-15               0   97676.1817
226       123302  1995-01-13               0   63497.4992
227       123910  1995-02-18               0  279694.9034
228       124069  1995-01-03               0   35802.8280
229       124227  1995-02-05               0  156651.8640
230       124768  1995-01-01               0   43742.2500
231       125221  1995-02-16               0   90436.8894
232       126593  1994-12-20               0   45420.4404
233       126949  1995-03-13               0   30788.9736
234       126976  1995-01-24               0   17984.1880
235       127333  1995-01-07               0   18243.3537
236       127815  1994-12-23               0    8361.4440
237       128450  1994-12-05               0   56432.1760
238       129253  1994-12-22               0   86801.2286
239       129281  1995-01-23               0   35173.5624
240       129475  1995-02-20               0  167059.2766
241       130215  1995-03-09               0  162574.9756
242       130596  1995-01-22               0   44576.5275
243       130629  1994-12-21               0   13325.4771
244       130663  1995-01-07               0    7092.8970
245       130982  1995-03-01               0  119845.2078
246       131174  1995-02-16               0  223619.1080
247       131303  1994-12-08               0   32656.9186
248       131459  1995-02-03               0   90747.5714
249       132103  1995-03-14               0  234437.1085
250       132167  1995-01-29               0   15015.1848
251       132673  1995-03-06               0  116624.0185
252       133795  1995-03-06               0  142121.7914
253       133925  1995-02-16               0  144075.9707
254       133959  1995-03-08               0  162600.3843
255       134721  1995-03-14               0  122982.7994
256       135490  1994-12-20               0     934.9592
257       136101  1995-01-22               0   40719.3336
258       136256  1995-02-10               0   50869.6244
259       136358  1994-12-31               0   68547.4622
260       136643  1995-01-15               0   72267.0850
261       137574  1995-01-30               0   84140.9604
262       137735  1994-12-19               0   44550.5198
263       137793  1994-12-28               0   72852.1088
264       137955  1995-01-09               0   57117.4758
265       138018  1994-12-28               0   57673.3014
266       138210  1995-03-14               0   36157.8170
267       138502  1995-01-03               0   69753.1606
268       138562  1994-12-29               0   82912.0455
269       138821  1995-01-25               0   23518.0400
270       139586  1995-02-16               0  124651.2603
271       139716  1995-02-18               0    7785.9166
272       141216  1995-02-21               0    9407.7416
273       141350  1995-03-11               0  222748.6568
274       141891  1995-02-02               0   96061.5786
275       141895  1995-02-24               0  219649.1238
276       143008  1995-01-20               0   74183.0046
277       143495  1995-01-10               0   77514.7420
278       143905  1995-02-21               0  309101.4094
279       144167  1995-01-26               0   50150.8800
280       144773  1995-02-22               0   25767.9336
281       146086  1995-01-16               0   95528.9220
282       146722  1995-01-27               0  119829.0012
283       147206  1995-03-11               0   69166.9554
284       147331  1995-01-18               0  125272.5777
285       147398  1994-11-27               0   46266.3775
286       147553  1995-03-06               0  149868.4709
287       147618  1995-02-11               0   34828.4070
288       148930  1995-01-07               0   35184.1866
289       149510  1994-12-02               0   39745.6560
290       150464  1995-03-12               0  111747.7095
291       152096  1995-01-25               0    1113.2000
292       152963  1994-12-18               0  194269.2123
293       153539  1994-12-30               0   64626.3422
294       153701  1995-02-23               0   32828.1600
295       153735  1995-02-12               0  190539.4309
296       154465  1995-03-04               0  242350.0607
297       154660  1995-02-06               0  139399.5568
298       155138  1995-03-13               0  180437.2106
299       155751  1995-03-16               0  247920.0472
300       155813  1995-02-17               0  134530.7024
301       156066  1995-01-24               0   68322.1478
302       156229  1995-01-20               0  144953.8661
303       157154  1995-01-20               0   69746.0040
304       157255  1994-12-13               0   70213.4502
305       157477  1995-02-23               0  141140.2743
306       157760  1995-02-28               0   96304.3089
307       157825  1994-12-25               0   13913.0976
308       157829  1995-02-18               0  243306.5525
309       158055  1995-02-25               0   78733.6086
310       159104  1994-12-28               0   56984.7534
311       159777  1995-02-28               0  198421.6782
312       159779  1994-12-24               0   69210.6800
313       160549  1995-01-10               0   74609.8876
314       160612  1995-02-02               0   81321.7184
315       161252  1995-02-24               0  277541.5832
316       161351  1995-02-19               0   19681.5696
317       161670  1995-03-20               0  106010.3499
318       161826  1995-02-02               0   75076.4057
319       161828  1995-02-23               0  111069.5567
320       162114  1995-01-06               0   38363.5000
321       162752  1995-01-01               0   46866.7118
322       163104  1995-03-11               0   60715.6550
323       163396  1995-02-09               0   28980.9090
324       163714  1995-03-18               0  103384.4988
325       164576  1995-03-10               0  107515.1616
326       165061  1995-01-19               0  119077.8366
327       165317  1994-12-23               0   43775.7984
328       165607  1995-02-01               0    4477.3632
329       165634  1994-11-28               0   41498.3304
330       166530  1995-03-12               0   95270.3374
331       167330  1995-02-14               0   29378.9120
332       167618  1995-03-13               0  270525.4479
333       168262  1995-03-15               0  201557.2181
334       169793  1995-01-27               0   34260.4320
335       170340  1995-02-18               0  174257.7381
336       170435  1995-02-23               0  144250.2864
337       170471  1995-02-24               0   82548.1950
338       171078  1994-12-27               0    5660.7903
339       171269  1995-03-20               0  211073.6050
340       172679  1995-01-12               0   93207.3018
341       173120  1995-03-01               0  164288.1444
342       174112  1995-03-07               0  292395.7431

In [13]:
single_query_end_time = time()

single_query_end_time - single_query_start_time

1.5974366664886475

# TPCH - 4 ✅

### SQL - 4

```
select
	o_orderpriority,
	count(*) as order_count
from
	orders
where
	o_orderdate >= date ':1'
	and o_orderdate < date ':1' + interval '3' month
	and exists (
		select
			*
		from
			lineitem
		where
			l_orderkey = o_orderkey
			and l_commitdate < l_receiptdate
	)
group by
	o_orderpriority
```

### pysdql - 4

In [14]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
# import numpy as np  # use numpy.select() must use together with pandas
import pysdql as pd  # get answer in pysdql
import pysdqlnp as np  # use pysdqlnp.select() must use together with pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = '1996-05-01'
var2 = '1996-08-01'  # var1 + 3 month

lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)

sub_o = orders[(orders['o_orderdate'] >= var1) & (orders['o_orderdate'] < var2)]
sub_o.columns.name = 'sub_o'

r = sub_o.merge(lineitem, left_on='o_orderkey', right_on='l_orderkey')
r['exists'] = np.select(
    [
        (r['l_commitdate'] < r['l_receiptdate'])
    ],
    [
        1
    ],
    default=0)
r = r.groupby(['o_orderpriority', 'o_orderkey'], as_index=False).agg(exists=('exists', 'sum'))
r = r[r['exists'] > 0]

r = r.groupby(['o_orderpriority'], as_index=False).agg(order_count=('o_orderkey', 'count'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-4').run(r).export().to()

let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/lineitem.tbl")
let orders = load[{<o_orderkey: int, o_custkey: int, o_orderstatus: string, o_totalprice: double, o_orderdate: date, o_orderpriority: string, o_clerk: string, o_shippriority: int, o_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/orders.tbl")
let omp = sum (<ord_k, ord_v> in orders) if (((date(19960501) <= ord_k.o_orderdate) && (ord_k.o_orderdate < date(19960801)))) then { ord_k -> 1 } else {  }
let sub_o = omp
let part_lineitem = sum (<lin_k, lin_v> in lineitem) { < l_orderkey=lin_k.l_orderkey > -> { lin_k -> lin_v } }
let Rm0 = sum (<so_k, so_v> in sub_o) if ((part_lineitem(<l_orderkey=so_k.o_orderkey>) != {  })) then sum(<p_k, p_v> in part_lineitem(<l_orderkey=so_k.o_orderkey>)) { concat(so_k, p_k) -> so_v * p_v } else {  }
let rmp = sum (<r0_k, r0_v> in Rm0) if ((r0_k.l_commitdate < r0_k.l_receiptdate)) then { concat(r0_k, < exists=1 >) -> 1 } else { concat(r0_k, < exists=0 >) -> 1 }
let tmpa = sum (<r_k, r_v> in rmp) { < o_orderpriority=r_k.o_orderpriority, o_orderkey=r_k.o_orderkey > -> < exists=promote[nullable[real]](r_k.exists * r_v) > }
let agg_rmp = sum (<ta_k, ta_v> in tmpa) { < o_orderpriority=ta_k.o_orderpriority, o_orderkey=ta_k.o_orderkey, exists=promote[real](ta_v.exists) > -> 1 }
let amp = sum (<ar_k, ar_v> in agg_rmp) if ((0 < ar_k.exists)) then { ar_k -> 1 } else {  }
let tmpc = sum (<a_k, a_v> in amp) { < o_orderpriority=a_k.o_orderpriority > -> < order_count=a_v > }
let agg_amp = sum (<tc_k, tc_v> in tmpc) { < o_orderpriority=tc_k.o_orderpriority, order_count=tc_v.order_count > -> 1 }
agg_amp

[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<o_orderpriority = 2-HIGH, order_count = 1051> -> 1, <o_orderpriority = 5-LOW, order_count = 1047> -> 1, <o_orderpriority = 4-NOT SPECIFIED, order_count = 994> -> 1, <o_orderpriority = 1-URGENT, order_count = 1072> -> 1, <o_orderpriority = 3-MEDIUM, order_count = 1036> -> 1}
[success] Total time: 12 s, completed 2022年7月31日 上午7:11:35
========================================================
pysdql execution time: 26.446973085403442
export sdql script "tpch-4.sdql" to "T:/UG4-Proj/output/tpch-4.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-4.sdql

{<o_orderpriority = 2-HIGH, order_count = 1051> -> 1, <o_orderpriority = 5-LOW, order_count = 1047> -> 1, <o_orderpriority = 4-NOT SPECIFIED, order_count = 994> -> 1, <o_orderpriority = 1-URGENT, order_count = 1072> -> 1, <o_orderpriority = 3-MEDIUM, order_count = 1036> -> 1}

### pandas - 4

In [15]:
single_query_start_time = time()

In [16]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
import numpy as np  # use numpy.select() must use together with pandas
# import pysdql as pd  # get answer in pysdql
# import pysdqlnp as np  # use pysdqlnp.select() must use together with pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = '1996-05-01'
var2 = '1996-08-01'  # var1 + 3 month

lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)

sub_o = orders[(orders['o_orderdate'] >= var1) & (orders['o_orderdate'] < var2)]
sub_o.columns.name = 'sub_o'

r = sub_o.merge(lineitem, left_on='o_orderkey', right_on='l_orderkey')
r['exists'] = np.select(
    [
        (r['l_commitdate'] < r['l_receiptdate'])
    ],
    [
        1
    ],
    default=0)
r = r.groupby(['o_orderpriority', 'o_orderkey'], as_index=False).agg(exists=('exists', 'sum'))
r = r[r['exists'] > 0]

r = r.groupby(['o_orderpriority'], as_index=False).agg(order_count=('o_orderkey', 'count'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-4').run(r).export().to()

   o_orderpriority  order_count
0         1-URGENT         1072
1           2-HIGH         1051
2         3-MEDIUM         1036
3  4-NOT SPECIFIED          994
4            5-LOW         1047

In [17]:
single_query_end_time = time()

single_query_end_time - single_query_start_time

1.5654096603393555

# TPCH - 5 ✅

### SQL - 5

```
select
	n_name,
	sum(l_extendedprice * (1 - l_discount)) as revenue
from
	customer,
	orders,
	lineitem,
	supplier,
	nation,
	region
where
	c_custkey = o_custkey
	and l_orderkey = o_orderkey
	and l_suppkey = s_suppkey
	and c_nationkey = s_nationkey
	and s_nationkey = n_nationkey
	and n_regionkey = r_regionkey
	and r_name = ':1'
	and o_orderdate >= date ':2'
	and o_orderdate < date ':2' + interval '1' year
group by
	n_name
```

### pysdql - 5

In [18]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'MIDDLE EAST'
var2 = '1995-01-01'
var3 = '1996-01-01'  # var2 + 1 year

customer = pd.read_table(rf'{data_path}/customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
nation = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)
region = pd.read_table(rf'{data_path}/region.tbl', sep='|', index_col=False, header=None, names=pysdql.REGION_COLS)

sub_r = region[region['r_name'] == var1]
sub_r.columns.name = 'sub_r'

sub_o = orders[(orders['o_orderdate'] >= var2) & (orders['o_orderdate'] < var3)]
sub_o.columns.name = 'sub_o'

r = sub_r.merge(right=nation, left_on='r_regionkey', right_on='n_regionkey')
r = r.merge(right=customer, left_on='n_nationkey', right_on='c_nationkey')
r = r.merge(right=sub_o, left_on='c_custkey', right_on='o_custkey')
r = r.merge(right=lineitem, left_on='o_orderkey', right_on='l_orderkey')
r = r.merge(right=supplier,
            left_on=['c_nationkey', 'n_nationkey', 'l_suppkey'],
            right_on=['s_nationkey', 's_nationkey', 's_suppkey'])

r['value'] = r['l_extendedprice'] * (1 - r['l_discount'])

r = r.groupby(['n_name'], as_index=False).agg(revenue=('value', 'sum'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-5').run(r).export().to()

let supplier = load[{<s_suppkey: int, s_name: string, s_address: string, s_nationkey: int, s_phone: string, s_acctbal: double, s_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/supplier.tbl")
let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/lineitem.tbl")
let orders = load[{<o_orderkey: int, o_custkey: int, o_orderstatus: string, o_totalprice: double, o_orderdate: date, o_orderpriority: string, o_clerk: string, o_shippriority: int, o_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/orders.tbl")
let omp = sum (<ord_k, ord_v> in orders) if (((date(19950101) <= ord_k.o_orderdate) && (ord_k.o_orderdate < date(19960101)))) then { ord_k -> 1 } else {  }
let sub_o = omp
let customer = load[{<c_custkey: int, c_name: string, c_address: string, c_nationkey: int, c_phone: string, c_acctbal: double, c_mktsegment: string, c_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/customer.tbl")
let nation = load[{<n_nationkey: int, n_name: string, n_regionkey: int, n_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/nation.tbl")
let region = load[{<r_regionkey: int, r_name: string, r_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/region.tbl")
let rmp = sum (<reg_k, reg_v> in region) if ((reg_k.r_name == "MIDDLE EAST")) then { reg_k -> 1 } else {  }
let sub_r = rmp
let part_nation = sum (<nat_k, nat_v> in nation) { < n_regionkey=nat_k.n_regionkey > -> { nat_k -> nat_v } }
let Rm0 = sum (<sr_k, sr_v> in sub_r) if ((part_nation(<n_regionkey=sr_k.r_regionkey>) != {  })) then sum(<p_k, p_v> in part_nation(<n_regionkey=sr_k.r_regionkey>)) { concat(sr_k, p_k) -> sr_v * p_v } else {  }
let part_customer = sum (<cus_k, cus_v> in customer) { < c_nationkey=cus_k.c_nationkey > -> { cus_k -> cus_v } }
let Rm1 = sum (<r0_k, r0_v> in Rm0) if ((part_customer(<c_nationkey=r0_k.n_nationkey>) != {  })) then sum(<p_k, p_v> in part_customer(<c_nationkey=r0_k.n_nationkey>)) { concat(r0_k, p_k) -> r0_v * p_v } else {  }
let part_sub_o = sum (<so_k, so_v> in sub_o) { < o_custkey=so_k.o_custkey > -> { so_k -> so_v } }
let Rm2 = sum (<r1_k, r1_v> in Rm1) if ((part_sub_o(<o_custkey=r1_k.c_custkey>) != {  })) then sum(<p_k, p_v> in part_sub_o(<o_custkey=r1_k.c_custkey>)) { concat(r1_k, p_k) -> r1_v * p_v } else {  }
let part_lineitem = sum (<lin_k, lin_v> in lineitem) { < l_orderkey=lin_k.l_orderkey > -> { lin_k -> lin_v } }
let Rm3 = sum (<r2_k, r2_v> in Rm2) if ((part_lineitem(<l_orderkey=r2_k.o_orderkey>) != {  })) then sum(<p_k, p_v> in part_lineitem(<l_orderkey=r2_k.o_orderkey>)) { concat(r2_k, p_k) -> r2_v * p_v } else {  }
let part_supplier = sum (<sup_k, sup_v> in supplier) { < s_nationkey=sup_k.s_nationkey, s_suppkey=sup_k.s_suppkey > -> { sup_k -> sup_v } }
let Rm4 = sum (<r3_k, r3_v> in Rm3) if ((part_supplier(< s_nationkey=r3_k.n_nationkey, s_suppkey=r3_k.l_suppkey >) != {  })) then sum(<p_k, p_v> in part_supplier(< s_nationkey=r3_k.n_nationkey, s_suppkey=r3_k.l_suppkey >)) { concat(r3_k, p_k) -> r3_v * p_v } else {  }
let tmp = sum (<r4_k, r4_v> in Rm4) { concat(r4_k, < value=(r4_k.l_extendedprice * (1 - r4_k.l_discount)) >) -> 1 }
let tmpb = sum (<t_k, t_v> in tmp) { < n_name=t_k.n_name > -> < revenue=promote[nullable[real]](t_k.value * t_v) > }
let agg_tmp = sum (<tb_k, tb_v> in tmpb) { < n_name=tb_k.n_name, revenue=promote[real](tb_v.revenue) > -> 1 }
agg_tmp

[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<n_name = IRAN, revenue = 5005478.792800002> -> 1, <n_name = IRAQ, revenue = 5557693.418700001> -> 1, <n_name = EGYPT, revenue = 5636828.7009999985> -> 1, <n_name = JORDAN, revenue = 3184291.9583999994> -> 1, <n_name = SAUDI ARABIA, revenue = 6145727.1494> -> 1}
[success] Total time: 19 s, completed 2022年7月31日 上午7:12:10
========================================================
pysdql execution time: 33.75925016403198
export sdql script "tpch-5.sdql" to "T:/UG4-Proj/output/tpch-5.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-5.sdql

{<n_name = IRAN, revenue = 5005478.792800002> -> 1, <n_name = IRAQ, revenue = 5557693.418700001> -> 1, <n_name = EGYPT, revenue = 5636828.7009999985> -> 1, <n_name = JORDAN, revenue = 3184291.9583999994> -> 1, <n_name = SAUDI ARABIA, revenue = 6145727.1494> -> 1}

### pandas - 5

In [19]:
single_query_start_time = time()

In [20]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
# import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'MIDDLE EAST'
var2 = '1995-01-01'
var3 = '1996-01-01'  # var2 + 1 year

customer = pd.read_table(rf'{data_path}/customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
nation = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)
region = pd.read_table(rf'{data_path}/region.tbl', sep='|', index_col=False, header=None, names=pysdql.REGION_COLS)

sub_r = region[region['r_name'] == var1]
sub_r.columns.name = 'sub_r'

sub_o = orders[(orders['o_orderdate'] >= var2) & (orders['o_orderdate'] < var3)]
sub_o.columns.name = 'sub_o'

r = sub_r.merge(right=nation, left_on='r_regionkey', right_on='n_regionkey')
r = r.merge(right=customer, left_on='n_nationkey', right_on='c_nationkey')
r = r.merge(right=sub_o, left_on='c_custkey', right_on='o_custkey')
r = r.merge(right=lineitem, left_on='o_orderkey', right_on='l_orderkey')
r = r.merge(right=supplier,
            left_on=['c_nationkey', 'n_nationkey', 'l_suppkey'],
            right_on=['s_nationkey', 's_nationkey', 's_suppkey'])

r['value'] = r['l_extendedprice'] * (1 - r['l_discount'])

r = r.groupby(['n_name'], as_index=False).agg(revenue=('value', 'sum'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-5').run(r).export().to()

         n_name       revenue
0         EGYPT  5.636829e+06
1          IRAN  5.005479e+06
2          IRAQ  5.557693e+06
3        JORDAN  3.184292e+06
4  SAUDI ARABIA  6.145727e+06

In [21]:
single_query_end_time = time()

single_query_end_time - single_query_start_time

1.7565796375274658

# TPCH - 6 ✅

### SQL - 6

```
select
    sum(l_extendedprice * l_discount) as revenue
from
    lineitem
where
    l_shipdate >= date ':1'
    and l_shipdate < date ':1' + interval '1' year
    and l_discount between :2 - 0.01 and :2 + 0.01
    and l_quantity < :3
```

### pysdql - 6

In [22]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = '1997-01-01'
var2 = '1998-01-01'  # var1 + 1 year
discount = 0.06
var3 = round(discount - 0.01, 2)
var4 = round(discount + 0.01, 2)
var5 = 24

lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)

r = lineitem[(lineitem['l_shipdate'] >= var1) & (lineitem['l_shipdate'] < var2)
             & (lineitem['l_discount'] > var3) & (lineitem['l_discount'] < var4)
             & (lineitem['l_quantity'] < var5)]

r['value'] = r['l_extendedprice'] * (1 - r['l_discount'])

r = r.agg(revenue=('value', 'sum'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-6').run(r).export().to()

let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/lineitem.tbl")
let lmp = sum (<lin_k, lin_v> in lineitem) if ((((((date(19970101) <= lin_k.l_shipdate) && (lin_k.l_shipdate < date(19980101))) && (0.05 < lin_k.l_discount)) && (lin_k.l_discount < 0.07)) && (lin_k.l_quantity < 24))) then { lin_k -> 1 } else {  }
let tmp = sum (<l_k, l_v> in lmp) { concat(l_k, < value=(l_k.l_extendedprice * (1 - l_k.l_discount)) >) -> 1 }
let tmpa = sum (<t_k, t_v> in tmp) < revenue=t_k. value * t_v >
let tmpb = { < revenue=tmpa.revenue > -> 1 }
tmpb

[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<revenue = 6.112087932700001E7> -> 1}
[success] Total time: 5 s, completed 2022年7月31日 上午7:12:32
========================================================
pysdql execution time: 20.275420904159546
export sdql script "tpch-6.sdql" to "T:/UG4-Proj/output/tpch-6.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-6.sdql

{<revenue = 6.112087932700001E7> -> 1}

### pandas - 6

In [23]:
single_query_start_time = time()

In [24]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
# import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = '1997-01-01'
var2 = '1998-01-01'  # var1 + 1 year
discount = 0.06
var3 = round(discount - 0.01, 2)
var4 = round(discount + 0.01, 2)
var5 = 24

lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)

r = lineitem[(lineitem['l_shipdate'] >= var1) & (lineitem['l_shipdate'] < var2)
             & (lineitem['l_discount'] > var3) & (lineitem['l_discount'] < var4)
             & (lineitem['l_quantity'] < var5)]

r['value'] = r['l_extendedprice'] * (1 - r['l_discount'])

r = r.agg(revenue=('value', 'sum'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-6').run(r).export().to()

                value
revenue  6.112088e+07

C:\Users\Y\AppData\Local\Temp\ipykernel_1320\2851537430.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r['value'] = r['l_extendedprice'] * (1 - r['l_discount'])

In [25]:
single_query_end_time = time()

single_query_end_time - single_query_start_time

1.2751469612121582

# TPCH - 7 ✅

### SQL - 7

```
select
	supp_nation,
	cust_nation,
	l_year,
	sum(volume) as revenue
from
	(
		select
			n1.n_name as supp_nation,
			n2.n_name as cust_nation,
			extract(year from l_shipdate) as l_year,
			l_extendedprice * (1 - l_discount) as volume
		from
			supplier,
			lineitem,
			orders,
			customer,
			nation n1,
			nation n2
		where
			s_suppkey = l_suppkey
			and o_orderkey = l_orderkey
			and c_custkey = o_custkey
			and s_nationkey = n1.n_nationkey
			and c_nationkey = n2.n_nationkey
			and (
				(n1.n_name = ':1' and n2.n_name = ':2')
				or (n1.n_name = ':2' and n2.n_name = ':1')
			)
			and l_shipdate between date '1995-01-01' and date '1996-12-31'
	) as shipping
group by
	supp_nation,
	cust_nation,
	l_year
```

### pysdql - 7

In [26]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'PERU'
var2 = 'MOROCCO'

supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
customer = pd.read_table(rf'{data_path}/customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)

n1_cols = ['n1_nationkey', 'n1_name', 'n1_regionkey', 'n1_comment']
n2_cols = ['n2_nationkey', 'n2_name', 'n2_regionkey', 'n2_comment']
n1 = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=n1_cols)
n2 = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=n2_cols)

n1.columns.name = 'n1'
n2.columns.name = 'n2'

sub_n = n1.merge(n2, how='cross')
r = sub_n[(sub_n['n1_name'] == var1) & (sub_n['n2_name'] == var2)
          | ((sub_n['n1_name'] == var2) & (sub_n['n2_name'] == var1))]

r = r.merge(customer, left_on='n2_nationkey', right_on='c_nationkey')
r = r.merge(supplier, left_on='n1_nationkey', right_on='s_nationkey')
r = r.merge(orders, left_on='c_custkey', right_on='o_custkey')

sub_l = lineitem[(lineitem['l_shipdate'] >= '1995-01-01') & (lineitem['l_shipdate'] <= '1996-12-31')]
r = r.merge(sub_l, left_on=['o_orderkey', 's_suppkey'], right_on=['l_orderkey', 'l_suppkey'])

r['supp_nation'] = r['n1_name']
r['cust_nation'] = r['n2_name']
r['volume'] = r['l_extendedprice'] * (1 - r['l_discount'])
r['l_year'] = pd.DatetimeIndex(r['l_shipdate']).year

r = r[['supp_nation', 'cust_nation', 'l_year', 'volume']]

r.columns.name = 'shiping'

r = r.groupby(['supp_nation', 'cust_nation', 'l_year'], as_index=False).agg(revenue=('volume', 'sum'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-7').run(r).export().to()

let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/lineitem.tbl")
let lmp = sum (<lin_k, lin_v> in lineitem) if (((date(19950101) <= lin_k.l_shipdate) && (lin_k.l_shipdate <= date(19961231)))) then { lin_k -> 1 } else {  }
let orders = load[{<o_orderkey: int, o_custkey: int, o_orderstatus: string, o_totalprice: double, o_orderdate: date, o_orderpriority: string, o_clerk: string, o_shippriority: int, o_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/orders.tbl")
let supplier = load[{<s_suppkey: int, s_name: string, s_address: string, s_nationkey: int, s_phone: string, s_acctbal: double, s_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/supplier.tbl")
let customer = load[{<c_custkey: int, c_name: string, c_address: string, c_nationkey: int, c_phone: string, c_acctbal: double, c_mktsegment: string, c_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/customer.tbl")
let nation = load[{<n2_nationkey: int, n2_name: string, n2_regionkey: int, n2_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/nation.tbl")
let n2 = nation
let nation = load[{<n1_nationkey: int, n1_name: string, n1_regionkey: int, n1_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/nation.tbl")
let n1 = nation
let Rm0 = sum (<n1_k, n1_v> in n1) sum (<n2_k, n2_v> in n2) { concat(n1_k, n2_k) -> n1_v * n2_v }
let rmp = sum (<r0_k, r0_v> in Rm0) if ((((r0_k.n1_name == "PERU") && (r0_k.n2_name == "MOROCCO")) || ((r0_k.n1_name == "MOROCCO") && (r0_k.n2_name == "PERU")))) then { r0_k -> 1 } else {  }
let part_customer = sum (<cus_k, cus_v> in customer) { < c_nationkey=cus_k.c_nationkey > -> { cus_k -> cus_v } }
let Rm1 = sum (<r_k, r_v> in rmp) if ((part_customer(<c_nationkey=r_k.n2_nationkey>) != {  })) then sum(<p_k, p_v> in part_customer(<c_nationkey=r_k.n2_nationkey>)) { concat(r_k, p_k) -> r_v * p_v } else {  }
let part_supplier = sum (<sup_k, sup_v> in supplier) { < s_nationkey=sup_k.s_nationkey > -> { sup_k -> sup_v } }
let Rm2 = sum (<r1_k, r1_v> in Rm1) if ((part_supplier(<s_nationkey=r1_k.n1_nationkey>) != {  })) then sum(<p_k, p_v> in part_supplier(<s_nationkey=r1_k.n1_nationkey>)) { concat(r1_k, p_k) -> r1_v * p_v } else {  }
let part_orders = sum (<ord_k, ord_v> in orders) { < o_custkey=ord_k.o_custkey > -> { ord_k -> ord_v } }
let Rm3 = sum (<r2_k, r2_v> in Rm2) if ((part_orders(<o_custkey=r2_k.c_custkey>) != {  })) then sum(<p_k, p_v> in part_orders(<o_custkey=r2_k.c_custkey>)) { concat(r2_k, p_k) -> r2_v * p_v } else {  }
let part_lmp = sum (<l_k, l_v> in lmp) { < l_orderkey=l_k.l_orderkey, l_suppkey=l_k.l_suppkey > -> { l_k -> l_v } }
let Rm4 = sum (<r3_k, r3_v> in Rm3) if ((part_lmp(< l_orderkey=r3_k.o_orderkey, l_suppkey=r3_k.s_suppkey >) != {  })) then sum(<p_k, p_v> in part_lmp(< l_orderkey=r3_k.o_orderkey, l_suppkey=r3_k.s_suppkey >)) { concat(r3_k, p_k) -> r3_v * p_v } else {  }
let tmp = sum (<r4_k, r4_v> in Rm4) { concat(r4_k, < supp_nation=r4_k.n1_name >) -> 1 }
let tmpa = sum (<t_k, t_v> in tmp) { concat(t_k, < cust_nation=t_k.n2_name >) -> 1 }
let tmpb = sum (<ta_k, ta_v> in tmpa) { concat(ta_k, < volume=(ta_k.l_extendedprice * (1 - ta_k.l_discount)) >) -> 1 }
let tmpc = sum (<tb_k, tb_v> in tmpb) { concat(tb_k, < l_year=ext(`Year`, tb_k.l_shipdate) >) -> 1 }
let tmpd = sum (<tc_k, tc_v> in tmpc) { < supp_nation=tc_k.supp_nation, cust_nation=tc_k.cust_nation, l_year=tc_k.l_year, volume=tc_k.volume > -> 1 }
let shiping = tmpd
let tmpd = sum (<s_k, s_v> in shiping) { < supp_nation=s_k.supp_nation, cust_nation=s_k.cust_nation, l_year=s_k.l_year > -> < revenue=promote[nullable[real]](s_k.volume * s_v) > }
let agg_shiping = sum (<td_k, td_v> in tmpd) { < supp_nation=td_k.supp_nation, cust_nation=td_k.cust_nation, l_year=td_k.l_year, revenue=promote[real](td_v.revenue) > -> 1 }
agg_shiping

[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<supp_nation = MOROCCO, cust_nation = PERU, l_year = 1996, revenue = 4817548.534100001> -> 1, <supp_nation = PERU, cust_nation = MOROCCO, l_year = 1996, revenue = 5312269.866499997> -> 1, <supp_nation = MOROCCO, cust_nation = PERU, l_year = 1995, revenue = 3545575.5080999983> -> 1, <supp_nation = PERU, cust_nation = MOROCCO, l_year = 1995, revenue = 4420438.000300001> -> 1}
[success] Total time: 26 s, completed 2022年7月31日 上午7:13:15
========================================================
pysdql execution time: 41.09615182876587
export sdql script "tpch-7.sdql" to "T:/UG4-Proj/output/tpch-7.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-7.sdql

{<supp_nation = MOROCCO, cust_nation = PERU, l_year = 1996, revenue = 4817548.534100001> -> 1, <supp_nation = PERU, cust_nation = MOROCCO, l_year = 1996, revenue = 5312269.866499997> -> 1, <supp_nation = MOROCCO, cust_nation = PERU, l_year = 1995, revenue = 3545575.5080999983> -> 1, <supp_nation = PERU, cust_nation = MOROCCO, l_year = 1995, revenue = 4420438.000300001> -> 1}

### pandas - 7

In [27]:
single_query_start_time = time()

In [28]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
# import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'PERU'
var2 = 'MOROCCO'

supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
customer = pd.read_table(rf'{data_path}/customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)

n1_cols = ['n1_nationkey', 'n1_name', 'n1_regionkey', 'n1_comment']
n2_cols = ['n2_nationkey', 'n2_name', 'n2_regionkey', 'n2_comment']
n1 = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=n1_cols)
n2 = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=n2_cols)

n1.columns.name = 'n1'
n2.columns.name = 'n2'

sub_n = n1.merge(n2, how='cross')
r = sub_n[(sub_n['n1_name'] == var1) & (sub_n['n2_name'] == var2)
          | ((sub_n['n1_name'] == var2) & (sub_n['n2_name'] == var1))]

r = r.merge(customer, left_on='n2_nationkey', right_on='c_nationkey')
r = r.merge(supplier, left_on='n1_nationkey', right_on='s_nationkey')
r = r.merge(orders, left_on='c_custkey', right_on='o_custkey')

sub_l = lineitem[(lineitem['l_shipdate'] >= '1995-01-01') & (lineitem['l_shipdate'] <= '1996-12-31')]
r = r.merge(sub_l, left_on=['o_orderkey', 's_suppkey'], right_on=['l_orderkey', 'l_suppkey'])

r['supp_nation'] = r['n1_name']
r['cust_nation'] = r['n2_name']
r['volume'] = r['l_extendedprice'] * (1 - r['l_discount'])
r['l_year'] = pd.DatetimeIndex(r['l_shipdate']).year

r = r[['supp_nation', 'cust_nation', 'l_year', 'volume']]

r.columns.name = 'shiping'

r = r.groupby(['supp_nation', 'cust_nation', 'l_year'], as_index=False).agg(revenue=('volume', 'sum'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-7').run(r).export().to()

  supp_nation cust_nation  l_year       revenue
0     MOROCCO        PERU    1995  3.545576e+06
1     MOROCCO        PERU    1996  4.817549e+06
2        PERU     MOROCCO    1995  4.420438e+06
3        PERU     MOROCCO    1996  5.312270e+06

In [29]:
single_query_end_time = time()

single_query_end_time - single_query_start_time

1.9807825088500977

# TPCH - 8 ✅

### SQL - 8

```
select
	o_year,
	sum(case
		when nation = ':1' then volume
		else 0
	end) / sum(volume) as mkt_share
from
	(
		select
			extract(year from o_orderdate) as o_year,
			l_extendedprice * (1 - l_discount) as volume,
			n2.n_name as nation
		from
			part,
			supplier,
			lineitem,
			orders,
			customer,
			nation n1,
			nation n2,
			region
		where
			p_partkey = l_partkey
			and s_suppkey = l_suppkey
			and l_orderkey = o_orderkey
			and o_custkey = c_custkey
			and c_nationkey = n1.n_nationkey
			and n1.n_regionkey = r_regionkey
			and r_name = ':2'
			and s_nationkey = n2.n_nationkey
			and o_orderdate between date '1995-01-01' and date '1996-12-31'
			and p_type = ':3'
	) as all_nations
group by
	o_year
```

### pysdql - 8

In [30]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
# import numpy as np  # for numpy.select(), must use together with pandas
import pysdql as pd  # get answer in pysdql
import pysdqlnp as np  # for pysdqlnp.select(), must use together with pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)


var1 = 'MOROCCO'
var2 = 'MIDDLE EAST'
var3 = 'SMALL ANODIZED COPPER'

part = pd.read_table(rf'{data_path}/part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)
supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
customer = pd.read_table(rf'{data_path}/customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
region = pd.read_table(rf'{data_path}/region.tbl', sep='|', index_col=False, header=None, names=pysdql.REGION_COLS)

n1_cols = ['n1_nationkey', 'n1_name', 'n1_regionkey', 'n1_comment']
n2_cols = ['n2_nationkey', 'n2_name', 'n2_regionkey', 'n2_comment']
n1 = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=n1_cols)
n2 = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=n2_cols)

n1.columns.name = 'n1'
n2.columns.name = 'n2'

sub_r = region[(region['r_name'] == var2)]
sub_r.columns.name = 'sub_r'

sub_o = orders[(orders['o_orderdate'] >= '1995-01-01') & (orders['o_orderdate'] <= '1996-12-31')]
sub_o.columns.name = 'sub_o'

r1 = n1.merge(sub_r, left_on='n1_regionkey', right_on='r_regionkey')
r1.columns.name = 'r1'

r2 = part.merge(lineitem, left_on='p_partkey', right_on='l_partkey')
r2 = r2.merge(orders, left_on='l_orderkey', right_on='o_orderkey')
r2 = r2.merge(customer, left_on='o_custkey', right_on='c_custkey')

r2.columns.name = 'r2'

r = r1.merge(r2, left_on='n1_nationkey', right_on='c_nationkey')
r = r.merge(supplier, left_on='l_suppkey', right_on='s_suppkey')
r = r.merge(n2, left_on='s_nationkey', right_on='n2_nationkey')

r['o_year'] = pd.DatetimeIndex(r['o_orderdate']).year
r['volume'] = r['l_extendedprice'] * (1 - r['l_discount'])
r['nation'] = r['n2_name']

all_nations = r[['o_year', 'volume', 'nation']]

all_nations.columns.name = 'all_nations'

all_nations['value1'] = np.select(
    [
        all_nations['nation'] == var1
    ],
    [
        all_nations['volume']
    ], default=0)

s = all_nations.groupby(['o_year'], as_index=False).agg(value2=('value1', 'sum'),
                                                        value3=('volume', 'sum'))
s['mkt_share'] = s['value2'] / s['value3']

s = s[['o_year', 'mkt_share']]

print(s)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-8').run(s).export().to()

let nation = load[{<n2_nationkey: int, n2_name: string, n2_regionkey: int, n2_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/nation.tbl")
let n2 = nation
let supplier = load[{<s_suppkey: int, s_name: string, s_address: string, s_nationkey: int, s_phone: string, s_acctbal: double, s_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/supplier.tbl")
let customer = load[{<c_custkey: int, c_name: string, c_address: string, c_nationkey: int, c_phone: string, c_acctbal: double, c_mktsegment: string, c_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/customer.tbl")
let orders = load[{<o_orderkey: int, o_custkey: int, o_orderstatus: string, o_totalprice: double, o_orderdate: date, o_orderpriority: string, o_clerk: string, o_shippriority: int, o_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/orders.tbl")
let omp = sum (<ord_k, ord_v> in orders) if (((date(19950101) <= ord_k.o_orderdate) && (ord_k.o_orderdate <= date(19961231)))) then { ord_k -> 1 } else {  }
let sub_o = omp
let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/lineitem.tbl")
let part = load[{<p_partkey: int, p_name: string, p_mfgr: string, p_brand: string, p_type: string, p_size: int, p_container: string, p_retailprice: double, p_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/part.tbl")
let part_lineitem = sum (<lin_k, lin_v> in lineitem) { < l_partkey=lin_k.l_partkey > -> { lin_k -> lin_v } }
let Rm0 = sum (<par_k, par_v> in part) if ((part_lineitem(<l_partkey=par_k.p_partkey>) != {  })) then sum(<p_k, p_v> in part_lineitem(<l_partkey=par_k.p_partkey>)) { concat(par_k, p_k) -> par_v * p_v } else {  }
let part_orders = sum (<ord_k, ord_v> in orders) { < o_orderkey=ord_k.o_orderkey > -> { ord_k -> ord_v } }
let Rm1 = sum (<r0_k, r0_v> in Rm0) if ((part_orders(<o_orderkey=r0_k.l_orderkey>) != {  })) then sum(<p_k, p_v> in part_orders(<o_orderkey=r0_k.l_orderkey>)) { concat(r0_k, p_k) -> r0_v * p_v } else {  }
let part_customer = sum (<cus_k, cus_v> in customer) { < c_custkey=cus_k.c_custkey > -> { cus_k -> cus_v } }
let Rm2 = sum (<r1_k, r1_v> in Rm1) if ((part_customer(<c_custkey=r1_k.o_custkey>) != {  })) then sum(<p_k, p_v> in part_customer(<c_custkey=r1_k.o_custkey>)) { concat(r1_k, p_k) -> r1_v * p_v } else {  }
let r2 = Rm2
let region = load[{<r_regionkey: int, r_name: string, r_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/region.tbl")
let rmp = sum (<reg_k, reg_v> in region) if ((reg_k.r_name == "MIDDLE EAST")) then { reg_k -> 1 } else {  }
let sub_r = rmp
let nation = load[{<n1_nationkey: int, n1_name: string, n1_regionkey: int, n1_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/nation.tbl")
let n1 = nation
let part_sub_r = sum (<sr_k, sr_v> in sub_r) { < r_regionkey=sr_k.r_regionkey > -> { sr_k -> sr_v } }
let Rm0 = sum (<n1_k, n1_v> in n1) if ((part_sub_r(<r_regionkey=n1_k.n1_regionkey>) != {  })) then sum(<p_k, p_v> in part_sub_r(<r_regionkey=n1_k.n1_regionkey>)) { concat(n1_k, p_k) -> n1_v * p_v } else {  }
let r1 = Rm0
let part_r2 = sum (<r2_k, r2_v> in r2) { < c_nationkey=r2_k.c_nationkey > -> { r2_k -> r2_v } }
let Rm1 = sum (<r1_k, r1_v> in r1) if ((part_r2(<c_nationkey=r1_k.n1_nationkey>) != {  })) then sum(<p_k, p_v> in part_r2(<c_nationkey=r1_k.n1_nationkey>)) { concat(r1_k, p_k) -> r1_v * p_v } else {  }
let part_supplier = sum (<sup_k, sup_v> in supplier) { < s_suppkey=sup_k.s_suppkey > -> { sup_k -> sup_v } }
let Rm3 = sum (<r1_k, r1_v> in Rm1) if ((part_supplier(<s_suppkey=r1_k.l_suppkey>) != {  })) then sum(<p_k, p_v> in part_supplier(<s_suppkey=r1_k.l_suppkey>)) { concat(r1_k, p_k) -> r1_v * p_v } else {  }
let part_n2 = sum (<n2_k, n2_v> in n2) { < n2_nationkey=n2_k.n2_nationkey > -> { n2_k -> n2_v } }
let Rm4 = sum (<r3_k, r3_v> in Rm3) if ((part_n2(<n2_nationkey=r3_k.s_nationkey>) != {  })) then sum(<p_k, p_v> in part_n2(<n2_nationkey=r3_k.s_nationkey>)) { concat(r3_k, p_k) -> r3_v * p_v } else {  }
let tmp = sum (<r4_k, r4_v> in Rm4) { concat(r4_k, < o_year=ext(`Year`, r4_k.o_orderdate) >) -> 1 }
let tmpa = sum (<t_k, t_v> in tmp) { concat(t_k, < volume=(t_k.l_extendedprice * (1 - t_k.l_discount)) >) -> 1 }
let tmpb = sum (<ta_k, ta_v> in tmpa) { concat(ta_k, < nation=ta_k.n2_name >) -> 1 }
let tmpc = sum (<tb_k, tb_v> in tmpb) { < o_year=tb_k.o_year, volume=tb_k.volume, nation=tb_k.nation > -> 1 }
let all_nations = tmpc
let amp = sum (<an_k, an_v> in all_nations) if ((an_k.nation == "MOROCCO")) then { concat(an_k, < value1=an_k.volume >) -> 1 } else { concat(an_k, < value1=0 >) -> 1 }
let tmpd = sum (<a_k, a_v> in amp) { < o_year=a_k.o_year > -> < value2=promote[nullable[real]](a_k.value1 * a_v), value3=promote[nullable[real]](a_k.volume * a_v) > }
let agg_amp = sum (<td_k, td_v> in tmpd) { < o_year=td_k.o_year, value2=promote[real](td_v.value2), value3=promote[real](td_v.value3) > -> 1 }
let amp = sum (<aa_k, aa_v> in agg_amp) { concat(aa_k, < mkt_share=(aa_k.value2 / aa_k.value3) >) -> 1 }
let tmp = sum (<a_k, a_v> in amp) { < o_year=a_k.o_year, mkt_share=a_k.mkt_share > -> 1 }
tmp

[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
[warn] In the last 10 seconds, 5.289 (53.3%) were spent in GC. [Heap: 0.01GB free of 1.00GB, max 1.00GB] Consider increasing the JVM heap using `-Xmx` or try a different collector, e.g. `-XX:+UseG1GC`, for better performance.
[warn] In the last 10 seconds, 9.517 (95.9%) were spent in GC. [Heap: 0.00GB free of 1.00GB, max 1.00GB] Consider increasing the JVM heap using `-Xmx` or try a different collector, e.g. `-XX:+UseG1GC`, for better performance.
[warn] In the last 10 seconds, 9.915 (99.2%) were spent in GC. [Heap: 0.00GB free of 1.00GB, max 1.00GB] Consider increasing the JVM heap using `-Xmx` or try a different collector, e.g. `-XX:+UseG1GC`, for better performance.
[warn] In the last 10 seconds, 9.728 (98.0%) were spent in GC. [Heap: 0.00GB free of 1.00GB, max 1.00GB] Consider increasing the JVM heap using `-Xmx` or try a different collector, e.g. `-XX:+UseG1GC`, for better performance.
[warn] In the last 10 seconds, 9.399 (95.6%) were spent in GC. [Heap: 0.00GB free of 1.00GB, max 1.00GB] Consider increasing the JVM heap using `-Xmx` or try a different collector, e.g. `-XX:+UseG1GC`, for better performance.
[warn] In the last 10 seconds, 9.461 (98.6%) were spent in GC. [Heap: 0.00GB free of 1.00GB, max 1.00GB] Consider increasing the JVM heap using `-Xmx` or try a different collector, e.g. `-XX:+UseG1GC`, for better performance.
[warn] In the last 10 seconds, 9.723 (99.2%) were spent in GC. [Heap: 0.00GB free of 1.00GB, max 1.00GB] Consider increasing the JVM heap using `-Xmx` or try a different collector, e.g. `-XX:+UseG1GC`, for better performance.
[warn] In the last 10 seconds, 11.737 (120.7%) were spent in GC. [Heap: 0.96GB free of 1.00GB, max 1.00GB] Consider increasing the JVM heap using `-Xmx` or try a different collector, e.g. `-XX:+UseG1GC`, for better performance.
[success] Total time: 126 s (02:06), completed 2022年7月31日 上午7:15:38
========================================================
pysdql execution time: 141.07184314727783
export sdql script "tpch-8.sdql" to "T:/UG4-Proj/output/tpch-8.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-8.sdql

[warn] In the last 10 seconds, 5.289 (53.3%) were spent in GC. [Heap: 0.01GB free of 1.00GB, max 1.00GB] Consider increasing the JVM heap using `-Xmx` or try a different collector, e.g. `-XX:+UseG1GC`, for better performance.[warn] In the last 10 seconds, 9.517 (95.9%) were spent in GC. [Heap: 0.00GB free of 1.00GB, max 1.00GB] Consider increasing the JVM heap using `-Xmx` or try a different collector, e.g. `-XX:+UseG1GC`, for better performance.[warn] In the last 10 seconds, 9.915 (99.2%) were spent in GC. [Heap: 0.00GB free of 1.00GB, max 1.00GB] Consider increasing the JVM heap using `-Xmx` or try a different collector, e.g. `-XX:+UseG1GC`, for better performance.[warn] In the last 10 seconds, 9.728 (98.0%) were spent in GC. [Heap: 0.00GB free of 1.00GB, max 1.00GB] Consider increasing the JVM heap using `-Xmx` or try a different collector, e.g. `-XX:+UseG1GC`, for better performance.[warn] In the last 10 seconds, 9.399 (95.6%) were spent in GC. [Heap: 0.00GB free of 1.00GB, max 1.00GB] Consider increasing the JVM heap using `-Xmx` or try a different collector, e.g. `-XX:+UseG1GC`, for better performance.[warn] In the last 10 seconds, 9.461 (98.6%) were spent in GC. [Heap: 0.00GB free of 1.00GB, max 1.00GB] Consider increasing the JVM heap using `-Xmx` or try a different collector, e.g. `-XX:+UseG1GC`, for better performance.[warn] In the last 10 seconds, 9.723 (99.2%) were spent in GC. [Heap: 0.00GB free of 1.00GB, max 1.00GB] Consider increasing the JVM heap using `-Xmx` or try a different collector, e.g. `-XX:+UseG1GC`, for better performance.[warn] In the last 10 seconds, 11.737 (120.7%) were spent in GC. [Heap: 0.96GB free of 1.00GB, max 1.00GB] Consider increasing the JVM heap using `-Xmx` or try a different collector, e.g. `-XX:+UseG1GC`, for better performance.

### pandas - 8

In [31]:
single_query_start_time = time()

In [32]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
import numpy as np  # for numpy.select(), must use together with pandas
# import pysdql as pd  # get answer in pysdql
# import pysdqlnp as np  # for pysdqlnp.select(), must use together with pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)


var1 = 'MOROCCO'
var2 = 'MIDDLE EAST'
var3 = 'SMALL ANODIZED COPPER'

part = pd.read_table(rf'{data_path}/part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)
supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
customer = pd.read_table(rf'{data_path}/customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
region = pd.read_table(rf'{data_path}/region.tbl', sep='|', index_col=False, header=None, names=pysdql.REGION_COLS)

n1_cols = ['n1_nationkey', 'n1_name', 'n1_regionkey', 'n1_comment']
n2_cols = ['n2_nationkey', 'n2_name', 'n2_regionkey', 'n2_comment']
n1 = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=n1_cols)
n2 = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=n2_cols)

n1.columns.name = 'n1'
n2.columns.name = 'n2'

sub_r = region[(region['r_name'] == var2)]
sub_r.columns.name = 'sub_r'

sub_o = orders[(orders['o_orderdate'] >= '1995-01-01') & (orders['o_orderdate'] <= '1996-12-31')]
sub_o.columns.name = 'sub_o'

r1 = n1.merge(sub_r, left_on='n1_regionkey', right_on='r_regionkey')
r1.columns.name = 'r1'

r2 = part.merge(lineitem, left_on='p_partkey', right_on='l_partkey')
r2 = r2.merge(orders, left_on='l_orderkey', right_on='o_orderkey')
r2 = r2.merge(customer, left_on='o_custkey', right_on='c_custkey')

r2.columns.name = 'r2'

r = r1.merge(r2, left_on='n1_nationkey', right_on='c_nationkey')
r = r.merge(supplier, left_on='l_suppkey', right_on='s_suppkey')
r = r.merge(n2, left_on='s_nationkey', right_on='n2_nationkey')

r['o_year'] = pd.DatetimeIndex(r['o_orderdate']).year
r['volume'] = r['l_extendedprice'] * (1 - r['l_discount'])
r['nation'] = r['n2_name']

all_nations = r[['o_year', 'volume', 'nation']]

all_nations.columns.name = 'all_nations'

all_nations['value1'] = np.select(
    [
        all_nations['nation'] == var1
    ],
    [
        all_nations['volume']
    ], default=0)

s = all_nations.groupby(['o_year'], as_index=False).agg(value2=('value1', 'sum'),
                                                        value3=('volume', 'sum'))
s['mkt_share'] = s['value2'] / s['value3']

s = s[['o_year', 'mkt_share']]

print(s)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-8').run(s).export().to()

   o_year  mkt_share
0    1992   0.040291
1    1993   0.038804
2    1994   0.039377
3    1995   0.043899
4    1996   0.041626
5    1997   0.039290
6    1998   0.044412

C:\Users\Y\AppData\Local\Temp\ipykernel_1320\2769840673.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_nations['value1'] = np.select(

In [33]:
single_query_end_time = time()

single_query_end_time - single_query_start_time

3.735952854156494

# TPCH - 9 ✅

### SQL - 9

```
select
	nation,
	o_year,
	sum(amount) as sum_profit
from
	(
		select
			n_name as nation,
			extract(year from o_orderdate) as o_year,
			l_extendedprice * (1 - l_discount) - ps_supplycost * l_quantity as amount
		from
			part,
			supplier,
			lineitem,
			partsupp,
			orders,
			nation
		where
			s_suppkey = l_suppkey
			and ps_suppkey = l_suppkey
			and ps_partkey = l_partkey
			and p_partkey = l_partkey
			and o_orderkey = l_orderkey
			and s_nationkey = n_nationkey
			and p_name like '%:1%'
	) as profit
group by
	nation,
	o_year
```

### pysdql - 9

In [ ]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'cornflower'

part = pd.read_table(rf'{data_path}/part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)
supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
partsupp = pd.read_table(rf'{data_path}/partsupp.tbl', sep='|', index_col=False, header=None, names=pysdql.PARTSUPP_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
nation = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)

# part_p
sub_p = part[part['p_name'].str.contains(var1)]
sub_p.columns.name = 'sub_p'

# optimized hash join (part, partsupp)
r1 = sub_p.merge(partsupp, left_on='p_partkey', right_on='ps_partkey')
r1.columns.name = 'r1'
# optimized hash join (supplier, nation)
r2 = supplier.merge(nation, left_on='s_nationkey', right_on='n_nationkey')
# optimized hash join ((supplier, nation), (part, partsupp))
r2 = r2.merge(r1, left_on='s_suppkey', right_on='ps_suppkey')
r2.columns.name = 'r2'
# optimized hash join ((supplier, nation, part, partsupp), lineitem)
r = r2.merge(lineitem, how='inner', left_on=['s_suppkey', 'ps_suppkey'], right_on=['l_suppkey', 'l_suppkey'])
# optimized hash join ((supplier, nation, part, partsupp, lineitem), orders)
r = r.merge(orders, left_on='l_orderkey', right_on='o_orderkey')

r['nation'] = r['n_name']
r['o_year'] = pd.DatetimeIndex(r['o_orderdate']).year
r['amount'] = r['l_extendedprice'] * (1 - r['l_discount']) - r['ps_supplycost'] * r['l_quantity']

profit = r[['nation', 'o_year', 'amount']]
profit.columns.name = 'profit'

s = profit.groupby(['nation', 'o_year'], as_index=False).agg(sum_profit=('amount', 'sum'))

print(s)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-9').run(s).export().to()

let orders = load[{<o_orderkey: int, o_custkey: int, o_orderstatus: string, o_totalprice: double, o_orderdate: date, o_orderpriority: string, o_clerk: string, o_shippriority: int, o_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/orders.tbl")
let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/lineitem.tbl")
let partsupp = load[{<ps_partkey: int, ps_suppkey: int, ps_availqty: int, ps_supplycost: double, ps_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/partsupp.tbl")
let part = load[{<p_partkey: int, p_name: string, p_mfgr: string, p_brand: string, p_type: string, p_size: int, p_container: string, p_retailprice: double, p_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/part.tbl")
let pmp = sum (<par_k, par_v> in part) if (ext(`StrContainsN`, par_k.p_name, "cornflower")) then { par_k -> 1 } else {  }
let sub_p = pmp
let part_partsupp = sum (<psup_k, psup_v> in partsupp) { < ps_partkey=psup_k.ps_partkey > -> { psup_k -> psup_v } }
let Rm0 = sum (<sp_k, sp_v> in sub_p) if ((part_partsupp(<ps_partkey=sp_k.p_partkey>) != {  })) then sum(<p_k, p_v> in part_partsupp(<ps_partkey=sp_k.p_partkey>)) { concat(sp_k, p_k) -> sp_v * p_v } else {  }
let r1 = Rm0
let nation = load[{<n_nationkey: int, n_name: string, n_regionkey: int, n_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/nation.tbl")
let supplier = load[{<s_suppkey: int, s_name: string, s_address: string, s_nationkey: int, s_phone: string, s_acctbal: double, s_comment: string> -> int}]("T:/UG4-Proj/datasets/100M/supplier.tbl")
let part_nation = sum (<nat_k, nat_v> in nation) { < n_nationkey=nat_k.n_nationkey > -> { nat_k -> nat_v } }
let Rm0 = sum (<sup_k, sup_v> in supplier) if ((part_nation(<n_nationkey=sup_k.s_nationkey>) != {  })) then sum(<p_k, p_v> in part_nation(<n_nationkey=sup_k.s_nationkey>)) { concat(sup_k, p_k) -> sup_v * p_v } else {  }
let part_r1 = sum (<r1_k, r1_v> in r1) { < ps_suppkey=r1_k.ps_suppkey > -> { r1_k -> r1_v } }
let Rm1 = sum (<r0_k, r0_v> in Rm0) if ((part_r1(<ps_suppkey=r0_k.s_suppkey>) != {  })) then sum(<p_k, p_v> in part_r1(<ps_suppkey=r0_k.s_suppkey>)) { concat(r0_k, p_k) -> r0_v * p_v } else {  }
let r2 = Rm1
let part_lineitem = sum (<lin_k, lin_v> in lineitem) { < l_suppkey=lin_k.l_suppkey > -> { lin_k -> lin_v } }
let Rm2 = sum (<r2_k, r2_v> in r2) if ((part_lineitem(< l_suppkey=r2_k.ps_suppkey >) != {  })) then sum(<p_k, p_v> in part_lineitem(< l_suppkey=r2_k.ps_suppkey >)) { concat(r2_k, p_k) -> r2_v * p_v } else {  }
let part_orders = sum (<ord_k, ord_v> in orders) { < o_orderkey=ord_k.o_orderkey > -> { ord_k -> ord_v } }
let Rm3 = sum (<r2_k, r2_v> in Rm2) if ((part_orders(<o_orderkey=r2_k.l_orderkey>) != {  })) then sum(<p_k, p_v> in part_orders(<o_orderkey=r2_k.l_orderkey>)) { concat(r2_k, p_k) -> r2_v * p_v } else {  }
let rmp = sum (<r3_k, r3_v> in Rm3) { concat(r3_k, < nation=r3_k.n_name >) -> 1 }
let tmp = sum (<r_k, r_v> in rmp) { concat(r_k, < o_year=ext(`Year`, r_k.o_orderdate) >) -> 1 }
let tmpa = sum (<t_k, t_v> in tmp) { concat(t_k, < amount=((t_k.l_extendedprice * (1 - t_k.l_discount)) - (t_k.ps_supplycost * t_k.l_quantity)) >) -> 1 }
let tmpb = sum (<ta_k, ta_v> in tmpa) { < nation=ta_k.nation, o_year=ta_k.o_year, amount=ta_k.amount > -> 1 }
let profit = tmpb
let tmpc = sum (<p_k, p_v> in profit) { < nation=p_k.nation, o_year=p_k.o_year > -> < sum_profit=promote[nullable[real]](p_k.amount * p_v) > }
let agg_profit = sum (<tc_k, tc_v> in tmpc) { < nation=tc_k.nation, o_year=tc_k.o_year, sum_profit=promote[real](tc_v.sum_profit) > -> 1 }
agg_profit

[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql

### pandas - 9

In [ ]:
single_query_start_time = time()

In [ ]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
# import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'cornflower'

part = pd.read_table(rf'{data_path}/part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)
supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
partsupp = pd.read_table(rf'{data_path}/partsupp.tbl', sep='|', index_col=False, header=None, names=pysdql.PARTSUPP_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
nation = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)

# part_p
sub_p = part[part['p_name'].str.contains(var1)]
sub_p.columns.name = 'sub_p'

# optimized hash join (part, partsupp)
r1 = sub_p.merge(partsupp, left_on='p_partkey', right_on='ps_partkey')
r1.columns.name = 'r1'
# optimized hash join (supplier, nation)
r2 = supplier.merge(nation, left_on='s_nationkey', right_on='n_nationkey')
# optimized hash join ((supplier, nation), (part, partsupp))
r2 = r2.merge(r1, left_on='s_suppkey', right_on='ps_suppkey')
r2.columns.name = 'r2'
# optimized hash join ((supplier, nation, part, partsupp), lineitem)
r = r2.merge(lineitem, how='inner', left_on=['s_suppkey', 'ps_suppkey'], right_on=['l_suppkey', 'l_suppkey'])
# optimized hash join ((supplier, nation, part, partsupp, lineitem), orders)
r = r.merge(orders, left_on='l_orderkey', right_on='o_orderkey')

r['nation'] = r['n_name']
r['o_year'] = pd.DatetimeIndex(r['o_orderdate']).year
r['amount'] = r['l_extendedprice'] * (1 - r['l_discount']) - r['ps_supplycost'] * r['l_quantity']

profit = r[['nation', 'o_year', 'amount']]
profit.columns.name = 'profit'

s = profit.groupby(['nation', 'o_year'], as_index=False).agg(sum_profit=('amount', 'sum'))

print(s)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-9').run(s).export().to()

In [ ]:
single_query_end_time = time()

single_query_end_time - single_query_start_time

# TPCH - 10 ✅

### SQL - 10

```
select
	c_custkey,
	c_name,
	sum(l_extendedprice * (1 - l_discount)) as revenue,
	c_acctbal,
	n_name,
	c_address,
	c_phone,
	c_comment
from
	customer,
	orders,
	lineitem,
	nation
where
	c_custkey = o_custkey
	and l_orderkey = o_orderkey
	and o_orderdate >= date ':1'
	and o_orderdate < date ':1' + interval '3' month
	and l_returnflag = 'R'
	and c_nationkey = n_nationkey
group by
	c_custkey,
	c_name,
	c_acctbal,
	c_phone,
	n_name,
	c_address,
	c_comment
```

### pysdql - 10

In [ ]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = '1993-08-01'
var2 = '1993-11-01'  # var1 + 3 month

customer = pd.read_table(rf'{data_path}/customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
nation = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)

sub_o = orders[(orders['o_orderdate'] >= var1) & (orders['o_orderdate'] < var2)]
sub_o.columns.name = 'sub_o'

r = customer.merge(sub_o, left_on='c_custkey', right_on='o_custkey')
r = r.merge(nation, left_on='c_nationkey', right_on='n_nationkey')

sub_l = lineitem[lineitem['l_returnflag'] == 'R']
sub_l.columns.name = 'sub_l'
r = r.merge(sub_l, left_on='o_custkey', right_on='l_orderkey')

r['value'] = r['l_extendedprice'] * (1 - r['l_discount'])

r = r.groupby(['c_custkey', 'c_name', 'c_acctbal', 'n_name', 'c_address', 'c_phone', 'c_comment'], as_index=False)\
    .agg(revenue=('value', 'sum'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-10').run(r).export().to()

### pandas - 10

In [ ]:
single_query_start_time = time()

In [ ]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
# import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = '1993-08-01'
var2 = '1993-11-01'  # var1 + 3 month

customer = pd.read_table(rf'{data_path}/customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
nation = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)

sub_o = orders[(orders['o_orderdate'] >= var1) & (orders['o_orderdate'] < var2)]
sub_o.columns.name = 'sub_o'

r = customer.merge(sub_o, left_on='c_custkey', right_on='o_custkey')
r = r.merge(nation, left_on='c_nationkey', right_on='n_nationkey')

sub_l = lineitem[lineitem['l_returnflag'] == 'R']
sub_l.columns.name = 'sub_l'
r = r.merge(sub_l, left_on='o_custkey', right_on='l_orderkey')

r['value'] = r['l_extendedprice'] * (1 - r['l_discount'])

r = r.groupby(['c_custkey', 'c_name', 'c_acctbal', 'n_name', 'c_address', 'c_phone', 'c_comment'], as_index=False)\
    .agg(revenue=('value', 'sum'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-10').run(r).export().to()

In [ ]:
single_query_end_time = time()

single_query_end_time - single_query_start_time

# TPCH - 11 ✅

### SQL - 11

```
select
	ps_partkey,
	sum(ps_supplycost * ps_availqty) as value
from
	partsupp,
	supplier,
	nation
where
	ps_suppkey = s_suppkey
	and s_nationkey = n_nationkey
	and n_name = ':1'
group by
	ps_partkey having
		sum(ps_supplycost * ps_availqty) > (
			select
				sum(ps_supplycost * ps_availqty) * :2
			from
				partsupp,
				supplier,
				nation
			where
				ps_suppkey = s_suppkey
				and s_nationkey = n_nationkey
				and n_name = ':1'
		)
```

### pysdql - 11

In [ ]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'PERU'
var2 = 0.0001

partsupp = pd.read_table(rf'{data_path}/partsupp.tbl', sep='|', index_col=False, header=None, names=pysdql.PARTSUPP_COLS)
supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
nation = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)

sub_n = nation[(nation['n_name'] == var1)]
sub_n.columns.name = 'sub_n'

r1 = sub_n.merge(supplier, left_on='n_nationkey', right_on='s_nationkey')
r1.columns.name = 'r1'

r2 = r1.merge(partsupp, left_on='s_suppkey', right_on='ps_suppkey')
r2.columns.name = 'r2'

agg_val = (r2['ps_supplycost'] * r2['ps_availqty'] * var2).sum()

# GOURPBY HAVING
r = r2.groupby(['ps_partkey']).filter(lambda x: (x['ps_supplycost'] * x['ps_availqty']).sum() > agg_val)

r['value'] = r['ps_supplycost'] * r['ps_availqty']

# SELECT GROUPBY AGGREGATION
r = r.groupby(['ps_partkey'], as_index=False).agg(value=('value', 'sum'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-11').run(r).export().to()

### pandas - 11

In [ ]:
single_query_start_time = time()

In [ ]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
# import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'PERU'
var2 = 0.0001

partsupp = pd.read_table(rf'{data_path}/partsupp.tbl', sep='|', index_col=False, header=None, names=pysdql.PARTSUPP_COLS)
supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
nation = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)

sub_n = nation[(nation['n_name'] == var1)]
sub_n.columns.name = 'sub_n'

r1 = sub_n.merge(supplier, left_on='n_nationkey', right_on='s_nationkey')
r1.columns.name = 'r1'

r2 = r1.merge(partsupp, left_on='s_suppkey', right_on='ps_suppkey')
r2.columns.name = 'r2'

agg_val = (r2['ps_supplycost'] * r2['ps_availqty'] * var2).sum()

# GOURPBY HAVING
r = r2.groupby(['ps_partkey']).filter(lambda x: (x['ps_supplycost'] * x['ps_availqty']).sum() > agg_val)

r['value'] = r['ps_supplycost'] * r['ps_availqty']

# SELECT GROUPBY AGGREGATION
r = r.groupby(['ps_partkey'], as_index=False).agg(value=('value', 'sum'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-11').run(r).export().to()

In [ ]:
single_query_end_time = time()

single_query_end_time - single_query_start_time

# TPCH - 12 ✅

### SQL - 12

```
select
	l_shipmode,
	sum(case
		when o_orderpriority = '1-URGENT'
			or o_orderpriority = '2-HIGH'
			then 1
		else 0
	end) as high_line_count,
	sum(case
		when o_orderpriority <> '1-URGENT'
			and o_orderpriority <> '2-HIGH'
			then 1
		else 0
	end) as low_line_count
from
	orders,
	lineitem
where
	o_orderkey = l_orderkey
	and l_shipmode in (':1', ':2')
	and l_commitdate < l_receiptdate
	and l_shipdate < l_commitdate
	and l_receiptdate >= date ':3'
	and l_receiptdate < date ':3' + interval '1' year
group by
	l_shipmode
```

### pysdql - 12

In [ ]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
# import numpy as np  # for numpy.select(), must use together with pandas
import pysdql as pd  # get answer in pysdql
import pysdqlnp as np  # for pysdqlnp.select(), must use together with pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'FOB'
var2 = 'AIR'
var3 = '1995-01-01'
var4 = '1996-01-01'

orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)

sub_l = lineitem[(lineitem['l_shipmode'].isin((var1, var2)))
                 & (lineitem['l_commitdate'] < lineitem['l_receiptdate'])
                 & (lineitem['l_shipdate'] < lineitem['l_commitdate'])
                 & (lineitem['l_receiptdate'] >= var3) & (lineitem['l_receiptdate'] < var4)]
sub_l.columns.name = 'sub_l'

r = orders.merge(sub_l, left_on='o_orderkey', right_on='l_orderkey')

r['high_line_priority'] = np.select(
    [
        (r['o_orderpriority'] == '1-URGENT') | (r['o_orderpriority'] == '2-HIGH')
    ],
    [
        1
    ],
    default=0)

r['low_line_priority'] = np.select(
    [
        (r['o_orderpriority'] != '1-URGENT') | (r['o_orderpriority'] != '2-HIGH')
    ],
    [
        1
    ],
    default=0)

r = r.groupby(['l_shipmode'], as_index=False)\
    .agg(high_line_count=('high_line_priority', 'sum'),
         low_line_count=('low_line_priority', 'sum'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-12').run(r).export().to()

### pandas - 12

In [ ]:
single_query_start_time = time()

In [ ]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
import numpy as np  # for numpy.select(), must use together with pandas
# import pysdql as pd  # get answer in pysdql
# import pysdqlnp as np  # for pysdqlnp.select(), must use together with pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'FOB'
var2 = 'AIR'
var3 = '1995-01-01'
var4 = '1996-01-01'

orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)

sub_l = lineitem[(lineitem['l_shipmode'].isin((var1, var2)))
                 & (lineitem['l_commitdate'] < lineitem['l_receiptdate'])
                 & (lineitem['l_shipdate'] < lineitem['l_commitdate'])
                 & (lineitem['l_receiptdate'] >= var3) & (lineitem['l_receiptdate'] < var4)]
sub_l.columns.name = 'sub_l'

r = orders.merge(sub_l, left_on='o_orderkey', right_on='l_orderkey')

r['high_line_priority'] = np.select(
    [
        (r['o_orderpriority'] == '1-URGENT') | (r['o_orderpriority'] == '2-HIGH')
    ],
    [
        1
    ],
    default=0)

r['low_line_priority'] = np.select(
    [
        (r['o_orderpriority'] != '1-URGENT') | (r['o_orderpriority'] != '2-HIGH')
    ],
    [
        1
    ],
    default=0)

r = r.groupby(['l_shipmode'], as_index=False)\
    .agg(high_line_count=('high_line_priority', 'sum'),
         low_line_count=('low_line_priority', 'sum'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-12').run(r).export().to()

In [ ]:
single_query_end_time = time()

single_query_end_time - single_query_start_time

# TPCH - 13 ✅

### SQL - 13

```
select
	c_count,
	count(*) as custdist
from
	(
		select
			c_custkey,
			count(o_orderkey)
		from
			customer left outer join orders on
				c_custkey = o_custkey
				and o_comment not like '%:1%:2%'
		group by
			c_custkey
	) as c_orders (c_custkey, c_count)
group by
	c_count
```

### pysdql - 13

In [ ]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'special'
var2 = 'requests'

orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
customer = pd.read_table(rf'{data_path}/customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)

orders['var1_index'] = orders['o_comment'].str.find(var1)
orders['var2_index'] = orders['o_comment'].str.find(var2)

sub_o = orders[~((orders['var1_index'] != -1) & (orders['var2_index'] != -1) & (orders['var1_index'] < orders['var2_index']))]
sub_o.columns.name = 'sub_o'

# LEFT OUTER JOIN
r = customer.merge(sub_o, how='left', left_on='c_custkey', right_on='o_custkey')

c_orders = r.groupby(['c_custkey'], as_index=False).agg(c_count=('o_orderkey', 'count'))
c_orders.columns.name = 'c_orders'

s = c_orders.groupby(['c_count'], as_index=False).agg(custdist=('c_custkey', 'count'))

print(s)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-13').run(s).export().to()

### pandas - 13

In [ ]:
single_query_start_time = time()

In [ ]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
# import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'special'
var2 = 'requests'

orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
customer = pd.read_table(rf'{data_path}/customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)

orders['var1_index'] = orders['o_comment'].str.find(var1)
orders['var2_index'] = orders['o_comment'].str.find(var2)

sub_o = orders[~((orders['var1_index'] != -1) & (orders['var2_index'] != -1) & (orders['var1_index'] < orders['var2_index']))]
sub_o.columns.name = 'sub_o'

# LEFT OUTER JOIN
r = customer.merge(sub_o, how='left', left_on='c_custkey', right_on='o_custkey')

c_orders = r.groupby(['c_custkey'], as_index=False).agg(c_count=('o_orderkey', 'count'))
c_orders.columns.name = 'c_orders'

s = c_orders.groupby(['c_count'], as_index=False).agg(custdist=('c_custkey', 'count'))

print(s)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-13').run(s).export().to()

In [ ]:
single_query_end_time = time()

single_query_end_time - single_query_start_time

# TPCH - 14 ✅

### SQL - 14

```
select
	100.00 * sum(case
		when p_type like 'PROMO%'
			then l_extendedprice * (1 - l_discount)
		else 0
	end) / sum(l_extendedprice * (1 - l_discount)) as promo_revenue
from
	lineitem,
	part
where
	l_partkey = p_partkey
	and l_shipdate >= date ':1'
	and l_shipdate < date ':1' + interval '1' month
```

### pysdql - 14

In [ ]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
# import numpy as np  # use numpy.select() must use together with pandas
import pysdql as pd  # get answer in pysdql
import pysdqlnp as np  # use pysdqlnp.select() must use together with pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = '1995-03-01'
var2 = '1995-04-01'  # var1 + 1 month

lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
part = pd.read_table(rf'{data_path}/part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)

sub_l = lineitem[(lineitem['l_shipdate'] >= var1) & (lineitem['l_shipdate'] < var2)]
sub_l.columns.name = 'sub_l'

r = sub_l.merge(part, left_on='l_partkey', right_on='p_partkey')

r['value1'] = np.select(
    [
        r['p_type'].str.startswith('PROMO')
    ],
    [
        r['l_extendedprice'] * (1 - r['l_discount'])
    ],
    default=0)

r['value2'] = r['l_extendedprice'] * (1 - r['l_discount'])

r['promo_revenue'] = 100 * r['value1'].sum() / r['value2'].sum()

r = r[['promo_revenue']].drop_duplicates(['promo_revenue'])

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-14').run(r).export().to()

### pandas - 14

In [ ]:
single_query_start_time = time()

In [ ]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
import numpy as np  # use numpy.select() must use together with pandas
# import pysdql as pd  # get answer in pysdql
# import pysdqlnp as np  # use pysdqlnp.select() must use together with pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = '1995-03-01'
var2 = '1995-04-01'  # var1 + 1 month

lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
part = pd.read_table(rf'{data_path}/part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)

sub_l = lineitem[(lineitem['l_shipdate'] >= var1) & (lineitem['l_shipdate'] < var2)]
sub_l.columns.name = 'sub_l'

r = sub_l.merge(part, left_on='l_partkey', right_on='p_partkey')

r['value1'] = np.select(
    [
        r['p_type'].str.startswith('PROMO')
    ],
    [
        r['l_extendedprice'] * (1 - r['l_discount'])
    ],
    default=0)

r['value2'] = r['l_extendedprice'] * (1 - r['l_discount'])

r['promo_revenue'] = 100 * r['value1'].sum() / r['value2'].sum()

r = r[['promo_revenue']].drop_duplicates(['promo_revenue'])

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-14').run(r).export().to()

In [ ]:
single_query_end_time = time()

single_query_end_time - single_query_start_time

# TPCH - 15 ✅

### SQL - 15

```
WITH revenue (supplier_no, total_revenue) as (
    SELECT
        l_suppkey,
        SUM(l_extendedprice * (1-l_discount))
    FROM
        lineitem
    WHERE
        l_shipdate >= date ':1'
        AND l_shipdate < date ':1' + interval '3' month
    GROUP BY
        l_suppkey
)
SELECT
    s_suppkey,
    s_name,
    s_address,
    s_phone,
    total_revenue
FROM
    supplier,
    revenue
WHERE
    s_suppkey = supplier_no
    AND total_revenue = (
        SELECT
            MAX(total_revenue)
        FROM
            revenue
    )
```

### pysdql - 15

In [ ]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = '1996-02-01'
var2 = '1996-05-01'  # var1 + 3 month

lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)

sub_l = lineitem[(lineitem['l_shipdate'] >= var1) & (lineitem['l_shipdate'] < var2)]
sub_l.columns.name = 'sub_l'

sub_l['tmp_val'] = sub_l['l_extendedprice'] * (1 - sub_l['l_discount'])

revenue0 = sub_l.groupby(['l_suppkey'], as_index=False).agg(total_revenue=('tmp_val', 'sum'))
revenue0['supplier_no'] = revenue0['l_suppkey']
revenue0 = revenue0[['supplier_no', 'total_revenue']]
revenue0.columns.name = 'revenue0'

max_revenue = revenue0['total_revenue'].max()

r = supplier.merge(revenue0, left_on='s_suppkey', right_on='supplier_no')

r = r[r['total_revenue'] == max_revenue]

r = r[['s_suppkey', 's_name', 's_address', 's_phone', 'total_revenue']]

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-15').run(r).export().to()

### pandas - 15

In [ ]:
single_query_start_time = time()

In [ ]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
# import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = '1996-02-01'
var2 = '1996-05-01'  # var1 + 3 month

lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)

sub_l = lineitem[(lineitem['l_shipdate'] >= var1) & (lineitem['l_shipdate'] < var2)]
sub_l.columns.name = 'sub_l'

sub_l['tmp_val'] = sub_l['l_extendedprice'] * (1 - sub_l['l_discount'])

revenue0 = sub_l.groupby(['l_suppkey'], as_index=False).agg(total_revenue=('tmp_val', 'sum'))
revenue0['supplier_no'] = revenue0['l_suppkey']
revenue0 = revenue0[['supplier_no', 'total_revenue']]
revenue0.columns.name = 'revenue0'

max_revenue = revenue0['total_revenue'].max()

r = supplier.merge(revenue0, left_on='s_suppkey', right_on='supplier_no')

r = r[r['total_revenue'] == max_revenue]

r = r[['s_suppkey', 's_name', 's_address', 's_phone', 'total_revenue']]

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-15').run(r).export().to()

In [ ]:
single_query_end_time = time()

single_query_end_time - single_query_start_time

# TPCH - 16 ✅

### SQL - 16

```
select
	p_brand,
	p_type,
	p_size,
	count(distinct ps_suppkey) as supplier_cnt
from
	partsupp,
	part
where
	p_partkey = ps_partkey
	and p_brand <> ':1'
	and p_type not like ':2%'
	and p_size in (:3, :4, :5, :6, :7, :8, :9, :10)
	and ps_suppkey not in (
		select
			s_suppkey
		from
			supplier
		where
			s_comment like '%Customer%Complaints%'
	)
group by
	p_brand,
	p_type,
	p_size
```

### pysdql - 16

In [ ]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'Brand#21'
var2 = 'SMALL ANODIZED'
var3 = (48, 33, 18, 16, 8, 3, 10, 42)

supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
part = pd.read_table(rf'{data_path}/part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)
partsupp = pd.read_table(rf'{data_path}/partsupp.tbl', sep='|', index_col=False, header=None, names=pysdql.PARTSUPP_COLS)

supplier['var1_index'] = supplier['s_comment'].str.find('Customer')
supplier['var2_index'] = supplier['s_comment'].str.find('Complaints')

sub_s = supplier[(supplier['var1_index'] != -1) & (supplier['var2_index'] != -1)
                 & (supplier['var1_index'] < supplier['var2_index'])]
sub_s.columns.name = 'sub_s'

sub_p = part[(part['p_brand'] != var1)
             & (~part['p_type'].str.startswith(var2))
             & (part['p_size'].isin(var3))]
sub_p.columns.name = 'sub_p'

r = sub_p.merge(partsupp, left_on='p_partkey', right_on='ps_partkey')

r = r[~(r['ps_suppkey'].isin(sub_s['s_suppkey']))]

r = r.drop_duplicates(['p_brand', 'p_type', 'p_size', 'ps_suppkey'])

# COUNT DISTINCT
r = r.groupby(['p_brand', 'p_type', 'p_size'], as_index=False).agg(supplier_cnt=('ps_suppkey', 'count'))

print(r)

pysdql.db_driver(db_path=sdql_database_path).run(r).export().to()

### pandas - 16

In [ ]:
single_query_start_time = time()

In [ ]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
# import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'Brand#21'
var2 = 'SMALL ANODIZED'
var3 = (48, 33, 18, 16, 8, 3, 10, 42)

supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
part = pd.read_table(rf'{data_path}/part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)
partsupp = pd.read_table(rf'{data_path}/partsupp.tbl', sep='|', index_col=False, header=None, names=pysdql.PARTSUPP_COLS)

supplier['var1_index'] = supplier['s_comment'].str.find('Customer')
supplier['var2_index'] = supplier['s_comment'].str.find('Complaints')

sub_s = supplier[(supplier['var1_index'] != -1) & (supplier['var2_index'] != -1)
                 & (supplier['var1_index'] < supplier['var2_index'])]
sub_s.columns.name = 'sub_s'

sub_p = part[(part['p_brand'] != var1)
             & (~part['p_type'].str.startswith(var2))
             & (part['p_size'].isin(var3))]
sub_p.columns.name = 'sub_p'

r = sub_p.merge(partsupp, left_on='p_partkey', right_on='ps_partkey')

r = r[~(r['ps_suppkey'].isin(sub_s['s_suppkey']))]

r = r.drop_duplicates(['p_brand', 'p_type', 'p_size', 'ps_suppkey'])

# COUNT DISTINCT
r = r.groupby(['p_brand', 'p_type', 'p_size'], as_index=False).agg(supplier_cnt=('ps_suppkey', 'count'))

print(r)

pysdql.db_driver(db_path=sdql_database_path).run(r).export().to()

In [ ]:
single_query_end_time = time()

single_query_end_time - single_query_start_time

# TPCH - 17 ✅

### SQL - 17

```
select
	sum(l_extendedprice) / 7.0 as avg_yearly
from
	lineitem,
	part,
	(SELECT l_partkey AS agg_partkey, 0.2 * avg(l_quantity) AS avg_quantity FROM lineitem GROUP BY l_partkey) part_agg
where
	p_partkey = l_partkey
	and agg_partkey = l_partkey
	and p_brand = ':1'
	and p_container = ':2'
	and l_quantity < avg_quantity
```

### pysdql - 17

In [ ]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'Brand#11'
var2 = 'WRAP CASE'

lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
part = pd.read_table(rf'{data_path}/part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)

# Co-related Nested Queries
part_agg = lineitem.groupby(['l_partkey'], as_index=False).agg(tmp_val=('l_quantity', 'mean'))
part_agg['avg_quantity'] = 0.2 * part_agg['tmp_val']
part_agg['agg_partkey'] = part_agg['l_partkey']

part_agg = part_agg[['avg_quantity', 'agg_partkey']]
part_agg.columns.name = 'part_agg'

sub_p = part[(part['p_brand'] == var1) & (part['p_container'] == var2)]
sub_p.columns.name = 'sub_p'

r = sub_p.merge(lineitem, left_on='p_partkey', right_on='l_partkey')

r = r.merge(part_agg, left_on='l_partkey', right_on='agg_partkey')
r = r[r['l_quantity'] < r['avg_quantity']]

r['tmp_val'] = r['l_extendedprice'].sum()

r['avg_yearly'] = r['tmp_val'] / 7.0

r = r[['avg_yearly']].drop_duplicates()

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-17').run(r).export().to()

### pandas - 17

In [ ]:
single_query_start_time = time()

In [ ]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
# import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'Brand#11'
var2 = 'WRAP CASE'

lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
part = pd.read_table(rf'{data_path}/part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)

# Co-related Nested Queries
part_agg = lineitem.groupby(['l_partkey'], as_index=False).agg(tmp_val=('l_quantity', 'mean'))
part_agg['avg_quantity'] = 0.2 * part_agg['tmp_val']
part_agg['agg_partkey'] = part_agg['l_partkey']

part_agg = part_agg[['avg_quantity', 'agg_partkey']]
part_agg.columns.name = 'part_agg'

sub_p = part[(part['p_brand'] == var1) & (part['p_container'] == var2)]
sub_p.columns.name = 'sub_p'

r = sub_p.merge(lineitem, left_on='p_partkey', right_on='l_partkey')

r = r.merge(part_agg, left_on='l_partkey', right_on='agg_partkey')
r = r[r['l_quantity'] < r['avg_quantity']]

r['tmp_val'] = r['l_extendedprice'].sum()

r['avg_yearly'] = r['tmp_val'] / 7.0

r = r[['avg_yearly']].drop_duplicates()

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-17').run(r).export().to()

In [ ]:
single_query_end_time = time()

single_query_end_time - single_query_start_time

# TPCH - 18 ✅

### SQL - 18

```
select
	c_name,
	c_custkey,
	o_orderkey,
	o_orderdate,
	o_totalprice,
	sum(l_quantity)
from
	customer,
	orders,
	lineitem
where
	o_orderkey in (
		select
			l_orderkey
		from
			lineitem
		group by
			l_orderkey having
				sum(l_quantity) > :1
	)
	and c_custkey = o_custkey
	and o_orderkey = l_orderkey
group by
	c_name,
	c_custkey,
	o_orderkey,
	o_orderdate,
	o_totalprice
```

### pysdql - 18

In [ ]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 251

customer = pd.read_table(rf'{data_path}/customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)

agg_l = lineitem.groupby(['l_orderkey'], as_index=False).filter(lambda x: x['l_quantity'].sum() > var1)
agg_l.columns.name = 'agg_l'

r = customer.merge(orders, left_on='c_custkey', right_on='o_custkey')
r = r.merge(lineitem, left_on='o_orderkey', right_on='l_orderkey')

r = r[(r['o_orderkey'].isin(agg_l['l_orderkey']))]

r = r.groupby(['c_name', 'c_custkey', 'o_orderkey', 'o_orderdate', 'o_totalprice'], as_index=False)\
    .agg(l_quantity_sum=('l_quantity', 'sum'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-18').run(r).export().to()

### pandas - 18

In [ ]:
single_query_start_time = time()

In [ ]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
# import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 251

customer = pd.read_table(rf'{data_path}/customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)

agg_l = lineitem.groupby(['l_orderkey'], as_index=False).filter(lambda x: x['l_quantity'].sum() > var1)
agg_l.columns.name = 'agg_l'

r = customer.merge(orders, left_on='c_custkey', right_on='o_custkey')
r = r.merge(lineitem, left_on='o_orderkey', right_on='l_orderkey')

r = r[(r['o_orderkey'].isin(agg_l['l_orderkey']))]

r = r.groupby(['c_name', 'c_custkey', 'o_orderkey', 'o_orderdate', 'o_totalprice'], as_index=False)\
    .agg(l_quantity_sum=('l_quantity', 'sum'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-18').run(r).export().to()

In [ ]:
single_query_end_time = time()

single_query_end_time - single_query_start_time

# TPCH - 19 ✅

### SQL - 19

```
select
	sum(l_extendedprice* (1 - l_discount)) as revenue
from
	lineitem,
	part
where
	(
		p_partkey = l_partkey
		and p_brand = ':1'
		and p_container in ('SM CASE', 'SM BOX', 'SM PACK', 'SM PKG')
		and l_quantity >= :4 and l_quantity <= :4 + 10
		and p_size between 1 and 5
		and l_shipmode in ('AIR', 'AIR REG')
		and l_shipinstruct = 'DELIVER IN PERSON'
	)
	or
	(
		p_partkey = l_partkey
		and p_brand = ':2'
		and p_container in ('MED BAG', 'MED BOX', 'MED PKG', 'MED PACK')
		and l_quantity >= :5 and l_quantity <= :5 + 10
		and p_size between 1 and 10
		and l_shipmode in ('AIR', 'AIR REG')
		and l_shipinstruct = 'DELIVER IN PERSON'
	)
	or
	(
		p_partkey = l_partkey
		and p_brand = ':3'
		and p_container in ('LG CASE', 'LG BOX', 'LG PACK', 'LG PKG')
		and l_quantity >= :6 and l_quantity <= :6 + 10
		and p_size between 1 and 15
		and l_shipmode in ('AIR', 'AIR REG')
		and l_shipinstruct = 'DELIVER IN PERSON'
	)
```

### pysdql - 19

In [ ]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'Brand#54'
var2 = 'Brand#22'
var3 = 'Brand#33'
var4 = 1
var4_1 = var4 + 10
var5 = 18
var5_1 = var5 + 10
var6 = 26
var6_1 = var6 + 10

lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
part = pd.read_table(rf'{data_path}/part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)

r = lineitem.merge(part, left_on='l_partkey', right_on='p_partkey')

r = r[((r['p_brand'] == var1)
       & (r['p_container'].isin(['SM CASE', 'SM BOX', 'SM PACK', 'SM PKG']))
       & (r['p_size'] >= 1) & (r['p_size'] <= 5)
       & (r['l_quantity'] >= var4)
       & (r['l_quantity'] <= var4_1)
       & (r['l_shipmode'].isin(['AIR', 'AIR REG']))
       & (r['l_shipinstruct'] == 'DELIVER IN PERSON')
       )
      | ((r['p_brand'] == var2)
         & (r['p_container'].isin(['MED BAG', 'MED BOX', 'MED PKG', 'MED PACK']))
         & (r['p_size'] >= 1) & (r['p_size'] <= 10)
         & (r['l_quantity'] >= var5) & (r['l_quantity'] <= var5_1)
         & (r['l_shipmode'].isin(['AIR', 'AIR REG']))
         & (r['l_shipinstruct'] == 'DELIVER IN PERSON')
         )
      | ((r['p_brand'] == var3)
         & (r['p_container'].isin(['LG CASE', 'LG BOX', 'LG PACK', 'LG PKG']))
         & (r['p_size'] >= 1) & (r['p_size'] <= 15)
         & (r['l_quantity'] >= var6)
         & (r['l_quantity'] <= var6_1)
         & (r['l_shipmode'].isin(['AIR', 'AIR REG']))
         & (r['l_shipinstruct'] == 'DELIVER IN PERSON'))]

r['tmp_val'] = r['l_extendedprice'] * (1 - r['l_discount'])
r['revenue'] = r['tmp_val'].sum()

r = r[['revenue']].drop_duplicates()

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-19').run(r).export().to()

### pandas - 19

In [ ]:
single_query_start_time = time()

In [ ]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
# import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'Brand#54'
var2 = 'Brand#22'
var3 = 'Brand#33'
var4 = 1
var4_1 = var4 + 10
var5 = 18
var5_1 = var5 + 10
var6 = 26
var6_1 = var6 + 10

lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
part = pd.read_table(rf'{data_path}/part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)

r = lineitem.merge(part, left_on='l_partkey', right_on='p_partkey')

r = r[((r['p_brand'] == var1)
       & (r['p_container'].isin(['SM CASE', 'SM BOX', 'SM PACK', 'SM PKG']))
       & (r['p_size'] >= 1) & (r['p_size'] <= 5)
       & (r['l_quantity'] >= var4)
       & (r['l_quantity'] <= var4_1)
       & (r['l_shipmode'].isin(['AIR', 'AIR REG']))
       & (r['l_shipinstruct'] == 'DELIVER IN PERSON')
       )
      | ((r['p_brand'] == var2)
         & (r['p_container'].isin(['MED BAG', 'MED BOX', 'MED PKG', 'MED PACK']))
         & (r['p_size'] >= 1) & (r['p_size'] <= 10)
         & (r['l_quantity'] >= var5) & (r['l_quantity'] <= var5_1)
         & (r['l_shipmode'].isin(['AIR', 'AIR REG']))
         & (r['l_shipinstruct'] == 'DELIVER IN PERSON')
         )
      | ((r['p_brand'] == var3)
         & (r['p_container'].isin(['LG CASE', 'LG BOX', 'LG PACK', 'LG PKG']))
         & (r['p_size'] >= 1) & (r['p_size'] <= 15)
         & (r['l_quantity'] >= var6)
         & (r['l_quantity'] <= var6_1)
         & (r['l_shipmode'].isin(['AIR', 'AIR REG']))
         & (r['l_shipinstruct'] == 'DELIVER IN PERSON'))]

r['tmp_val'] = r['l_extendedprice'] * (1 - r['l_discount'])
r['revenue'] = r['tmp_val'].sum()

r = r[['revenue']].drop_duplicates()

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-19').run(r).export().to()

In [ ]:
single_query_end_time = time()

single_query_end_time - single_query_start_time

# TPCH - 20 ✅

### SQL - 20

```
select
	s_name,
	s_address
from
	supplier,
	nation
where
	s_suppkey in (
		select
			ps_suppkey
		from
			partsupp,
			(
				select
					l_partkey agg_partkey,
					l_suppkey agg_suppkey,
					0.5 * sum(l_quantity) AS agg_quantity
				from
					lineitem
				where
					l_shipdate >= date ':2'
					and l_shipdate < date ':2' + interval '1' year
				group by
					l_partkey,
					l_suppkey
			) agg_lineitem
		where
			agg_partkey = ps_partkey
			and agg_suppkey = ps_suppkey
			and ps_partkey in (
				select
					p_partkey
				from
					part
				where
					p_name like ':1%'
			)
			and ps_availqty > agg_quantity
	)
	and s_nationkey = n_nationkey
	and n_name = ':3'
```

### pysdql - 20

In [ ]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'orange'
var2 = '1995-01-01'
var2_1 = '1996-01-01'  # var2 + 1 year
var3 = 'UNITED STATES'

lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
part = pd.read_table(rf'{data_path}/part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)
partsupp = pd.read_table(rf'{data_path}/partsupp.tbl', sep='|', index_col=False, header=None, names=pysdql.PARTSUPP_COLS)
supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
nation = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)

sub_l = lineitem[(lineitem['l_shipdate'] >= var2) & (lineitem['l_shipdate'] < var2_1)]
sub_l.columns.name = 'sub_l'

agg_lineitem = sub_l.groupby(['l_partkey', 'l_suppkey'], as_index=False).agg(tmp_val=('l_quantity', 'sum'))

agg_lineitem['agg_partkey'] = agg_lineitem['l_partkey']
agg_lineitem['agg_suppkey'] = agg_lineitem['l_suppkey']
agg_lineitem['agg_quantity'] = agg_lineitem['tmp_val'] * 0.5

agg_lineitem.columns.name = 'agg_lineitem'

r2 = partsupp.merge(agg_lineitem, left_on=['ps_partkey', 'ps_suppkey'], right_on=['agg_partkey', 'agg_suppkey'])
r2 = r2[r2['ps_availqty'] > r2['agg_quantity']]

sub_p = part[part['p_name'].str.startswith(var1)]
sub_p.columns.name = 'sub_p'

r1 = r2[(r2['ps_partkey'].isin(sub_p['p_partkey']))]
r1.columns.name = 'r1'

sub_n = nation[(nation['n_name'] == var3)]
sub_n.columns.name = 'sub_n'

s = supplier.merge(sub_n, left_on='s_nationkey', right_on='n_nationkey')

s = s[(s['s_suppkey'].isin(r1['ps_suppkey']))]

s = s[['s_name', 's_address']]

print(s)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-20').run(s).export().to()

### pandas - 20

In [ ]:
single_query_start_time = time()

In [ ]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
# import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'orange'
var2 = '1995-01-01'
var2_1 = '1996-01-01'  # var2 + 1 year
var3 = 'UNITED STATES'

lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
part = pd.read_table(rf'{data_path}/part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)
partsupp = pd.read_table(rf'{data_path}/partsupp.tbl', sep='|', index_col=False, header=None, names=pysdql.PARTSUPP_COLS)
supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
nation = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)

sub_l = lineitem[(lineitem['l_shipdate'] >= var2) & (lineitem['l_shipdate'] < var2_1)]
sub_l.columns.name = 'sub_l'

agg_lineitem = sub_l.groupby(['l_partkey', 'l_suppkey'], as_index=False).agg(tmp_val=('l_quantity', 'sum'))

agg_lineitem['agg_partkey'] = agg_lineitem['l_partkey']
agg_lineitem['agg_suppkey'] = agg_lineitem['l_suppkey']
agg_lineitem['agg_quantity'] = agg_lineitem['tmp_val'] * 0.5

agg_lineitem.columns.name = 'agg_lineitem'

r2 = partsupp.merge(agg_lineitem, left_on=['ps_partkey', 'ps_suppkey'], right_on=['agg_partkey', 'agg_suppkey'])
r2 = r2[r2['ps_availqty'] > r2['agg_quantity']]

sub_p = part[part['p_name'].str.startswith(var1)]
sub_p.columns.name = 'sub_p'

r1 = r2[(r2['ps_partkey'].isin(sub_p['p_partkey']))]
r1.columns.name = 'r1'

sub_n = nation[(nation['n_name'] == var3)]
sub_n.columns.name = 'sub_n'

s = supplier.merge(sub_n, left_on='s_nationkey', right_on='n_nationkey')

s = s[(s['s_suppkey'].isin(r1['ps_suppkey']))]

s = s[['s_name', 's_address']]

print(s)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-20').run(s).export().to()

In [ ]:
single_query_end_time = time()

single_query_end_time - single_query_start_time

# TPCH - 21 ✅

### SQL - 21

```
select
	s_name,
	count(*) as numwait
from
	supplier,
	lineitem l1,
	orders,
	nation
where
	s_suppkey = l1.l_suppkey
	and o_orderkey = l1.l_orderkey
	and o_orderstatus = 'F'
	and l1.l_receiptdate > l1.l_commitdate
	and exists (
		select
			*
		from
			lineitem l2
		where
			l2.l_orderkey = l1.l_orderkey
			and l2.l_suppkey <> l1.l_suppkey
	)
	and not exists (
		select
			*
		from
			lineitem l3
		where
			l3.l_orderkey = l1.l_orderkey
			and l3.l_suppkey <> l1.l_suppkey
			and l3.l_receiptdate > l3.l_commitdate
	)
	and s_nationkey = n_nationkey
	and n_name = ':1'
group by
	s_name
```

### pysdql - 21

In [ ]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
# import numpy as np  # for numpy.select(), must use together with pandas
import pysdql as pd  # get answer in pysdql
import pysdqlnp as np  # for pysdqlnp.select(), must use together with pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'UNITED KINGDOM'

supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
nation = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)
l1_cols = ['l1_orderkey', 'l1_partkey', 'l1_suppkey', 'l1_linenumber', 'l1_quantity', 'l1_extendedprice',
           'l1_discount', 'l1_tax', 'l1_returnflag', 'l1_linestatus', 'l1_shipdate', 'l1_commitdate',
           'l1_receiptdate', 'l1_shipinstruct', 'l1_shipmode', 'l1_comment']
l1 = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=l1_cols)
l1.columns.name = 'l1'
l2_cols = ['l2_orderkey', 'l2_partkey', 'l2_suppkey', 'l2_linenumber', 'l2_quantity', 'l2_extendedprice',
           'l2_discount', 'l2_tax', 'l2_returnflag', 'l2_linestatus', 'l2_shipdate', 'l2_commitdate',
           'l2_receiptdate', 'l2_shipinstruct', 'l2_shipmode', 'l2_comment']
l2 = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=l2_cols)
l2.columns.name = 'l2'
l3_cols = ['l3_orderkey', 'l3_partkey', 'l3_suppkey', 'l3_linenumber', 'l3_quantity', 'l3_extendedprice',
           'l3_discount', 'l3_tax', 'l3_returnflag', 'l3_linestatus', 'l3_shipdate', 'l3_commitdate',
           'l3_receiptdate', 'l3_shipinstruct', 'l3_shipmode', 'l3_comment']
l3 = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=l3_cols)
l3.columns.name = 'l3'

sub_n = nation[(nation['n_name'] == var1)]
sub_n.columns.name = 'sub_n'
join_ns = supplier.merge(sub_n, left_on='s_nationkey', right_on='n_nationkey')
join_ns.columns.name = 'join_ns'
sub_l1 = l1[(l1['l1_receiptdate'] > l1['l1_commitdate'])]
sub_l1.columns.name = 'sub_l1'
r = join_ns.merge(sub_l1, left_on='s_suppkey', right_on='l1_suppkey')

sub_o = orders[(orders['o_orderstatus'] == 'F')]
sub_o.columns.name = 'sub_o'
r = r.merge(sub_o, left_on='l1_orderkey', right_on='o_orderkey')

main_cols = pysdql.SUPPLIER_COLS + pysdql.ORDERS_COLS + pysdql.NATION_COLS + l1_cols

r = r.merge(l2, left_on='l1_orderkey', right_on='l2_orderkey')
r['exists_l2'] = np.select(
    [
        (r['l1_suppkey'] != r['l2_suppkey'])
    ],
    [
        1
    ],
    default=0)
r = r.groupby(main_cols, as_index=False).agg(exists_l2=('exists_l2', 'sum'))
r = r[r['exists_l2'] > 0]

r = r.merge(l3, left_on='l1_orderkey', right_on='l3_orderkey')
r['exists_l3'] = np.select(
    [
        (r['l1_suppkey'] != r['l3_suppkey'])
        & (r['l3_receiptdate'] > r['l3_commitdate'])
    ],
    [
        1
    ],
    default=0)
r = r.groupby(main_cols, as_index=False).agg(exists_l3=('exists_l3', 'sum'))
r = r[r['exists_l3'] == 0]

r = r.groupby(['s_name'], as_index=False).agg(numwait=('l1_orderkey', 'count'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-21').run(r).export().to()

### pandas - 21

In [ ]:
single_query_start_time = time()

In [ ]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
import numpy as np  # for numpy.select(), must use together with pandas
# import pysdql as pd  # get answer in pysdql
# import pysdqlnp as np  # for pysdqlnp.select(), must use together with pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'UNITED KINGDOM'

supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
nation = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)
l1_cols = ['l1_orderkey', 'l1_partkey', 'l1_suppkey', 'l1_linenumber', 'l1_quantity', 'l1_extendedprice',
           'l1_discount', 'l1_tax', 'l1_returnflag', 'l1_linestatus', 'l1_shipdate', 'l1_commitdate',
           'l1_receiptdate', 'l1_shipinstruct', 'l1_shipmode', 'l1_comment']
l1 = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=l1_cols)
l1.columns.name = 'l1'
l2_cols = ['l2_orderkey', 'l2_partkey', 'l2_suppkey', 'l2_linenumber', 'l2_quantity', 'l2_extendedprice',
           'l2_discount', 'l2_tax', 'l2_returnflag', 'l2_linestatus', 'l2_shipdate', 'l2_commitdate',
           'l2_receiptdate', 'l2_shipinstruct', 'l2_shipmode', 'l2_comment']
l2 = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=l2_cols)
l2.columns.name = 'l2'
l3_cols = ['l3_orderkey', 'l3_partkey', 'l3_suppkey', 'l3_linenumber', 'l3_quantity', 'l3_extendedprice',
           'l3_discount', 'l3_tax', 'l3_returnflag', 'l3_linestatus', 'l3_shipdate', 'l3_commitdate',
           'l3_receiptdate', 'l3_shipinstruct', 'l3_shipmode', 'l3_comment']
l3 = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=l3_cols)
l3.columns.name = 'l3'

sub_n = nation[(nation['n_name'] == var1)]
sub_n.columns.name = 'sub_n'
join_ns = supplier.merge(sub_n, left_on='s_nationkey', right_on='n_nationkey')
join_ns.columns.name = 'join_ns'
sub_l1 = l1[(l1['l1_receiptdate'] > l1['l1_commitdate'])]
sub_l1.columns.name = 'sub_l1'
r = join_ns.merge(sub_l1, left_on='s_suppkey', right_on='l1_suppkey')

sub_o = orders[(orders['o_orderstatus'] == 'F')]
sub_o.columns.name = 'sub_o'
r = r.merge(sub_o, left_on='l1_orderkey', right_on='o_orderkey')

main_cols = pysdql.SUPPLIER_COLS + pysdql.ORDERS_COLS + pysdql.NATION_COLS + l1_cols

r = r.merge(l2, left_on='l1_orderkey', right_on='l2_orderkey')
r['exists_l2'] = np.select(
    [
        (r['l1_suppkey'] != r['l2_suppkey'])
    ],
    [
        1
    ],
    default=0)
r = r.groupby(main_cols, as_index=False).agg(exists_l2=('exists_l2', 'sum'))
r = r[r['exists_l2'] > 0]

r = r.merge(l3, left_on='l1_orderkey', right_on='l3_orderkey')
r['exists_l3'] = np.select(
    [
        (r['l1_suppkey'] != r['l3_suppkey'])
        & (r['l3_receiptdate'] > r['l3_commitdate'])
    ],
    [
        1
    ],
    default=0)
r = r.groupby(main_cols, as_index=False).agg(exists_l3=('exists_l3', 'sum'))
r = r[r['exists_l3'] == 0]

r = r.groupby(['s_name'], as_index=False).agg(numwait=('l1_orderkey', 'count'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-21').run(r).export().to()

In [ ]:
single_query_end_time = time()

single_query_end_time - single_query_start_time

# TPCH - 22 ✅

### SQL - 22

```
select
	cntrycode,
	count(*) as numcust,
	sum(c_acctbal) as totacctbal
from
	(
		select
			substring(c_phone from 1 for 2) as cntrycode,
			c_acctbal
		from
			customer
		where
			substring(c_phone from 1 for 2) in
				(':1', ':2', ':3', ':4', ':5', ':6', ':7')
			and c_acctbal > (
				select
					avg(c_acctbal)
				from
					customer
				where
					c_acctbal > 0.00
					and substring(c_phone from 1 for 2) in
						(':1', ':2', ':3', ':4', ':5', ':6', ':7')
			)
			and not exists (
				select
					*
				from
					orders
				where
					o_custkey = c_custkey
			)
	) as custsale
group by
	cntrycode
```

### pysdql - 22

In [ ]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
# import numpy as np  # for numpy.select(), must use together with pandas
import pysdql as pd  # get answer in pysdql
import pysdqlnp as np  # for pysdqlnp.select(), must use together with pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = ('16', '12', '18', '14', '30', '27', '25')

customer = pd.read_table(rf'{data_path}/customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)

sub_c = customer[(customer['c_acctbal'] > 0.00)
                 & (customer['c_phone'].str.slice(0, 2).isin(var1))]
sub_c.columns.name = 'sub_c'

avg_acctbal = sub_c['c_acctbal'].mean()

r = customer[customer['c_phone'].str.slice(0, 2).isin(var1)]

r = r[r['c_acctbal'] > avg_acctbal]

r = r.merge(orders, how='cross')
r['exists'] = np.select(
    [
        (r['o_custkey'] == r['c_custkey'])
    ],
    [
        1
    ],
    default=0)
r = r.groupby(pysdql.CUSTOMER_COLS, as_index=False).agg(exists=('exists', 'sum'))
r = r[r['exists'] == 0]

r['cntrycode'] = r['c_phone'].str.slice(0, 2)

custsale = r[['cntrycode', 'c_acctbal']]
custsale.columns.name = 'custsale'

custsale = custsale.groupby(['cntrycode'], as_index=False).agg(numcust=('c_acctbal', 'count'), totacctbal=('c_acctbal', 'sum'))

print(custsale)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-22').run(custsale).export().to()

### pandas - 22

In [ ]:
single_query_start_time = time()

In [ ]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
import numpy as np  # for numpy.select(), must use together with pandas
# import pysdql as pd  # get answer in pysdql
# import pysdqlnp as np  # for pysdqlnp.select(), must use together with pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = ('16', '12', '18', '14', '30', '27', '25')

customer = pd.read_table(rf'{data_path}/customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)

sub_c = customer[(customer['c_acctbal'] > 0.00)
                 & (customer['c_phone'].str.slice(0, 2).isin(var1))]
sub_c.columns.name = 'sub_c'

avg_acctbal = sub_c['c_acctbal'].mean()

r = customer[customer['c_phone'].str.slice(0, 2).isin(var1)]

r = r[r['c_acctbal'] > avg_acctbal]

r = r.merge(orders, how='cross')
r['exists'] = np.select(
    [
        (r['o_custkey'] == r['c_custkey'])
    ],
    [
        1
    ],
    default=0)
r = r.groupby(pysdql.CUSTOMER_COLS, as_index=False).agg(exists=('exists', 'sum'))
r = r[r['exists'] == 0]

r['cntrycode'] = r['c_phone'].str.slice(0, 2)

custsale = r[['cntrycode', 'c_acctbal']]
custsale.columns.name = 'custsale'

custsale = custsale.groupby(['cntrycode'], as_index=False).agg(numcust=('c_acctbal', 'count'), totacctbal=('c_acctbal', 'sum'))

print(custsale)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-22').run(custsale).export().to()

In [ ]:
single_query_end_time = time()

single_query_end_time - single_query_start_time

In [ ]:
tpch_query_end = time()

tpch_query_end - tpch_query_start